<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <button type="button" onclick="filterSiswa()" class="btn btn-info btn-sm btnFilter">
                  <i class="fa fa-search"></i> Filter 
                </button>
                <button type="button" data-toggle="modal" data-target="#modal-add-devisi" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
                </button>
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 

    let dropdownWali = document.getElementById('wali-dropdown');
    dropdownWali.length = 0;
    fetch('/user/all/wali') 
    .then(  
    function(response) {  
      let defaultWali = document.createElement('option');
      defaultWali.text = 'Pilih Wali Kelas';
      defaultWali.value = '';
      dropdownWali.add(defaultWali);
      dropdownWali.selectedIndex = 0;
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].firstName + " " + data.data[i].lastName;
            option.value = data.data[i].id;
            dropdownWali.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownTingkat = document.getElementById('kelas-dropdown');
    dropdownTingkat.length = 0;
    fetch('/kelas/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Kelas';
      defaultOption.value = '';
      dropdownTingkat.add(defaultOption);
      dropdownTingkat.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTingkat.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownTahun = document.getElementById('tahun-dropdown');
    dropdownTahun.length = 0;
    fetch('/tahun/all') 
    .then(  
    function(response) {  
      let defaultTahun = document.createElement('option');
      defaultTahun.text = 'Pilih Tahun Ajaran';
      defaultTahun.value = '';
      dropdownTahun.add(defaultTahun);
      dropdownTahun.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTahun.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Tahun -', err);  
    });

    //EDIT
    let dropdownWaliEdit = document.getElementById('wali-edit');
    dropdownWali.length = 0;
    fetch('/user/all/wali') 
    .then(  
    function(response) {  
      let defaultWaliEdit = document.createElement('option');
      defaultWaliEdit.text = 'Pilih Wali Kelas';
      defaultWaliEdit.value = '';
      dropdownWaliEdit.add(defaultWaliEdit);
      dropdownWaliEdit.selectedIndex = 0;
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].firstName + " " + data.data[i].lastName;
            option.value = data.data[i].id;
            dropdownWaliEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownKelasEdit = document.getElementById('kelas-edit');
    dropdownWaliEdit.length = 0;
    fetch('/kelas/all') 
    .then(  
    function(response) {  
      let defaultKelasEdit = document.createElement('option');
      defaultKelasEdit.text = 'Pilih Kelas';
      defaultKelasEdit.value = '';
      dropdownKelasEdit.add(defaultKelasEdit);
      dropdownKelasEdit.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownKelasEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownTahunEdit = document.getElementById('tahun-edit');
    dropdownTahunEdit.length = 0;
    fetch('/tahun/all') 
    .then(  
    function(response) {  
      let defaultTahunEdit = document.createElement('option');
      defaultTahunEdit.text = 'Pilih Tahun Ajaran';
      defaultTahunEdit.value = '';
      dropdownTahunEdit.add(defaultTahunEdit);
      dropdownTahunEdit.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTahunEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });


    $('.btnSave').on('click', function(){
        var wali = document.getElementById("wali-dropdown").value;
        var kelas = document.getElementById("kelas-dropdown").value;
        var tahun = document.getElementById("tahun-dropdown").value;
        var keterangan = document.getElementById("addKeterangan").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/waliKelas/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              wali: wali,
              kelas, kelas,
              tahun, tahun,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-devisi').modal('hide');
            document.getElementById("wali-dropdown").value = '';
            document.getElementById("kelas-dropdown").value = '';
            document.getElementById("tahun-dropdown").value = '';
            document.getElementById("addKeterangan").value = '';
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/waliKelas/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var wali = document.getElementById("wali-edit").value ;
        var kelas = document.getElementById("kelas-edit").value;
        var tahun = document.getElementById("tahun-edit").value;
        var keterangan = document.getElementById("keteranganEdit").value ;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/waliKelas/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              wali: wali,
              kelas : kelas,
              tahun : tahun,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-devisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editKelas = function(id){
      fetch('/waliKelas/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("wali-edit").value = response.data.wali.id;
          document.getElementById("kelas-edit").value = response.data.kelas.id;
          document.getElementById("tahun-edit").value = response.data.tahun.id;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadBulan = function(){
      let dropdownBulan = document.getElementById('filter-bulan-dropdown');
      dropdownBulan.length = 0;
      var idFilterTahun = $("#filter-tahun-dropdown").val();
      
      fetch('/tahun/bulan?id=' + idFilterTahun) 
      .then(  
      function(response) {  
        let defaultBulan = document.createElement('option');
        defaultBulan.text = 'Pilih Bulan';
        defaultBulan.value = '';
        //dropdownBulan.add(defaultBulan);
        //dropdownBulan.selectedIndex = 0;
        // Examine the text in the response  
        response.json().then(function(data) {  
          
          let option;
          for (let i = 0; i < data.data.length; i++) {
              option = document.createElement('option');
              option.text = data.data[i].nama;
              option.value = data.data[i].id;
              dropdownBulan.add(option);
              if(i == 0){
                dropdownBulan.selectedIndex = 0;
              }
          }    
        });  
        }  
      )  
      .catch(function(err) {  
        alert('Fetch Error Filter Bulan -', err);  
      });
    }

    window.loadData = function(){
      var dataSet = Array();
      var idFilterBulan = $("#filter-bulan-dropdown").val();
      
      alert(idFilterBulan.split("-")[1] + "-" + idFilterBulan.split("-")[0])
      fetch('/absensiHarian/all') 
        .then(response => response.json())
        .then((response) => {
          var jumlahHari = new Date(2020, 2, 0).getDate();
          var namaColumn = new Array();
          

          namaColumn.push({title: 'No'})
          namaColumn.push({title: 'Id'})
          namaColumn.push({title: 'Nama'})
          for(var a = 1 ; a <= jumlahHari ; a++){
            var judul = a + "";
            namaColumn.push({title:  judul })
          }
          var table = $('#example1').DataTable({
            scrollCollapse: true,
            data: dataSet,
            columns: namaColumn,
            "bDestroy": true,

            /*columnDefs: [
                {
                    "targets": [7], // your case first column
                    "className": "text-center",
                },
                {
                    "targets": [0,1, 7], // your case first column
                    "width" : "5%"
                }
            ],*/
          });
         
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var tmp;
              if(jumlahHari == 29){
                var tmp = [no, value.id, value.username, value.tgl1, value.tgl2, value.tgl3, value.tgl4, value.tgl5, value.tgl6, value.tgl7, value.tgl8, value.tgl9,
                      value.tgl10, value.tgl11, value.tgl12, value.tgl13, value.tgl14, value.tgl15, value.tgl16, value.tgl17, value.tgl18, value.tgl19, value.tgl20,
                      value.tgl21, value.tgl22, value.tgl23, value.tgl24, value.tgl25, value.tgl26, value.tgl27, value.tgl28, value.tgl29]
              }else if(jumlahHari == 28){
                var tmp = [no, value.id, value.username, value.tgl1, value.tgl2, value.tgl3, value.tgl4, value.tgl5, value.tgl6, value.tgl7, value.tgl8, value.tgl9,
                      value.tgl10, value.tgl11, value.tgl12, value.tgl13, value.tgl14, value.tgl15, value.tgl16, value.tgl17, value.tgl18, value.tgl19, value.tgl20,
                      value.tgl21, value.tgl22, value.tgl23, value.tgl24, value.tgl25, value.tgl26, value.tgl27, value.tgl28]
              }else if(jumlahHari == 30){
                var tmp = [no, value.id, value.username, value.tgl1, value.tgl2, value.tgl3, value.tgl4, value.tgl5, value.tgl6, value.tgl7, value.tgl8, value.tgl9,
                      value.tgl10, value.tgl11, value.tgl12, value.tgl13, value.tgl14, value.tgl15, value.tgl16, value.tgl17, value.tgl18, value.tgl19, value.tgl20,
                      value.tgl21, value.tgl22, value.tgl23, value.tgl24, value.tgl25, value.tgl26, value.tgl27, value.tgl28, value.tgl29, value.tgl30]
              }else if(jumlahHari == 31){
                var tmp = [no, value.id, value.username, value.tgl1, value.tgl2, value.tgl3, value.tgl4, value.tgl5, value.tgl6, value.tgl7, value.tgl8, value.tgl9,
                      value.tgl10, value.tgl11, value.tgl12, value.tgl13, value.tgl14, value.tgl15, value.tgl16, value.tgl17, value.tgl18, value.tgl19, value.tgl20,
                      value.tgl21, value.tgl22, value.tgl23, value.tgl24, value.tgl25, value.tgl26, value.tgl27, value.tgl28, value.tgl29, value.tgl30, value.tgl31]
              }

              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    $('.btnSearch').on('click', function(){
        $('#modal-filter-siswa').modal('hide');
        loadData()
    });

    //loadData();

    window.filterSiswa = function(){
      let dropdownTahun = document.getElementById('filter-tahun-dropdown');
      dropdownTahun.length = 0;
      fetch('/tahun/all') 
      .then(  
      function(response) {  
        let defaultTahun = document.createElement('option');
        defaultTahun.text = 'Pilih Tahun Ajaran';
        defaultTahun.value = '';
        //dropdownTahun.add(defaultTahun);
        //dropdownTahun.selectedIndex = 0;
        // Examine the text in the response  
        response.json().then(function(data) {  
          let option;
          for (let i = 0; i < data.data.length; i++) {
              option = document.createElement('option');
              option.text = data.data[i].nama;
              option.value = data.data[i].id;
              dropdownTahun.add(option);
              if(data.data[i].status == 'Y'){
                dropdownTahun.selectedIndex = i;
                loadBulan();
              }
          }    
        });  
        }  
      )  
      .catch(function(err) {  
        alert('Fetch Error Filter Tahun -', err);  
      });

      let dropdownJurusan = document.getElementById('filter-jurusan-dropdown');
      dropdownJurusan.length = 0;
      fetch('/jurusan/all') 
      .then(  
      function(response) {  
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Jurusan';
        defaultOption.value = '';
        dropdownJurusan.add(defaultOption);
        dropdownJurusan.selectedIndex = 0;
        // Examine the text in the response  
        response.json().then(function(data) {  
          let option;
          for (let i = 0; i < data.data.length; i++) {
              option = document.createElement('option');
              option.text = data.data[i].nama;
              option.value = data.data[i].id;
              dropdownJurusan.add(option);
          }    
        });  
        }  
      )  
      .catch(function(err) {  
        alert('Fetch Error Filter Jurusan -', err);  
      });
      
      let dropdownTingkat2 = document.getElementById('filter-tingkat-dropdown');
      dropdownTingkat2.length = 0;
      fetch('/tingkat/all') 
      .then(  
      function(response) {  
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Tingkat';
        defaultOption.value = '';
        dropdownTingkat2.add(defaultOption);
        dropdownTingkat2.selectedIndex = 0;
        // Examine the text in the response  
        response.json().then(function(data) {  
          let option;
          for (let i = 0; i < data.data.length; i++) {
              option = document.createElement('option');
              option.text = data.data[i].nama;
              option.value = data.data[i].id;
              dropdownTingkat2.add(option);
          }    
        });  
        }  
      )  
      .catch(function(err) {  
        alert('Fetch Error Filter Tingkat -', err);  
      });

      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-filter-siswa').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }
  })
</script>

{{> footer }}

<div class="modal fade" id="modal-filter-siswa">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            <div class="form-group row">
              <label for="filter-tahun-dropdown" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="filter-tahun-dropdown" onchange="loadBulan()" class="form-control"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="filter-bulan-dropdown" class="col-sm-3 col-form-label">Bulan</label>
              <div class="col-sm-9">
                <select id="filter-bulan-dropdown" class="form-control"></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filter-jurusan-dropdown" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="filter-jurusan-dropdown" class="form-control" ></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filter-tingkat-dropdown" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="filter-tingkat-dropdown" class="form-control" ></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" name="selectKelas"></select>
              </div>
            </div>
          
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSearch"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-add-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            <div class="form-group row">
              <label for="wali-dropdown" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-dropdown" class="form-control" name="selectWali"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" name="selectKelas"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tahun-dropdown" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-dropdown" class="form-control" name="selectTahun"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9" >
                <textarea class="form-control" id="addKeterangan" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="wali-edit" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-edit" class="form-control" name="selectWali"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-edit" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-edit" class="form-control" name="selectKelas"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tahun-edit" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-edit" class="form-control" name="selectTahun"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9" >
                <textarea class="form-control" id="keteranganEdit" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


