<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                <nav>
                  <ul class="jumlahData pull-left"></ul>
                  <ul class="pagination pagination-md pull-right"></ul>
                </nav>
              </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<!-- page script -->

<script>
  $(document).ready(function(){
    let limit = 10;
    let page = 0;
    let pageCurrent = 0;

    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      data: dataSet,
      bInfo: false,
      dom: 'Bfrtip',
      lengthMenu: [
                  [10, 25, 50, 100],
                  ['10 Data', '25 Data', '50 Data', '100 Data']
              ],
              dom: 'Bfrtip',
              buttons: [
                  { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
                  { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"> Exportar a CSV</i>' },
                  { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
                  { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' },
                  'pageLength',
                  { text: '<i class="fas fa-search fa-1x" aria-hidden="true"> Filter</i>',
                      action: function ( e, dt, node, config ) {
                          $('#modal-filter').modal('show');
                      }
                  },
                  { text: '<i class="fas fa-plus fa-1x" aria-hidden="true"> Adjust</i>',
                      action: function ( e, dt, node, config ) {
                          document.getElementById("adjUserAsal").value = '';
                          document.getElementById("adjUserTujuan").value = '';
                          document.getElementById("adjNominal").value = '';
                          document.getElementById("adjType").value = 0;
                          document.getElementById("adjKeterangan").value = '';
                          $('#modal-adjust').modal('show');
                      }
                  },
              ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },
      columns: [
          { title: "No" },
          { title: "transaksi id" },
          { title: "Asal" },
          { title: "Tujuan" },
          { title: "Nominal" },
          { title: "Type" },
          { title: "Created Who" },
          { title: "Tanggal" },
          { title: "Keterangan" },
      ],
      columnDefs: [
          {
              "targets": [0], // your case first column
              "width" : "3%"
          }
      ],
    });

    $('.btnEdit').on('click', function(){

        let userAsal = document.getElementById("adjUserAsal").value;
        let userTujuan = document.getElementById("adjUserTujuan").value;
        let nominal = document.getElementById("adjNominal").value;
        let type = document.getElementById("adjType").value;
        let keterangan = document.getElementById("adjKeterangan").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/adjustSaldo/adjust', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              userAsal: userAsal,
              userTujuan: userTujuan,
              nominal: nominal,
              keterangan: keterangan,
              type: type
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diadjust')
            $('#modal-adjust').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    table.on( 'length', function ( e, settings, len ) {
        limit = len;
        loadData();
    });

    window.pageData = function(changePage){
      page = changePage;
      loadData();
    }

    window.pageBefore = function(){
      if(pageCurrent >= 10){
        pageCurrent = pageCurrent-10;
        page = pageCurrent;
      }

      loadData();
    }

    window.pageAfter = function(jumlahPage){
      if(pageCurrent + 10 < jumlahPage ){
        pageCurrent = pageCurrent + 10;
        page = pageCurrent;
      }

      loadData();
    }

    $('.btnFilter').on('click', function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      loadData();
      $('#modal-filter').modal('hide');

      $('.btnFilter').prop("disabled", false);
      $('.btnFilter').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
      )
    });

    window.loadData = function(){
      let filterUserTujuan = document.getElementById("filterUserTujuan").value;

      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/adjustSaldo/all?page='+page+'&limit='+limit + '&userTujuan='+ filterUserTujuan) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            $(".pagination").html('')
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageBefore()" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>');
            $(".jumlahData").html('')
            $(".jumlahData").append('<label>Jumlah Data : ' +response.jumlahData+ ' </label>');
            let idx = 0;
            for(i = pageCurrent ; i < response.jumlahPage; i++){
              let label = i + 1;
              if(page == i){
                $(".pagination").append('<li class="page-item active"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }else{
                $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }
              if(idx == limit){
                break;
              }
              idx++;
            }
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageAfter('+response.jumlahPage+')" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>');
            
            var no = 0;
           
            $.each( response.data, function( key, value ) {
              no++;
              var tmp = [no, value.transaksiId, value.userAsalName, value.userTujuanName, value.nominal, value.typeText, value.createdWho, 
              value.createdDate, value.keterangan]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-adjust">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title"> {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="adjUserAsal" class="col-sm-3 col-form-label">Saldo User</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="adjUserAsal" placeholder="ID User Sumber" >
              </div>
            </div>
            <div class="form-group row">
              <label for="adjUserTujuan" class="col-sm-3 col-form-label">Saldo Tujuan</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="adjUserTujuan" placeholder="ID Adjust Tujuan" >
              </div>
            </div>

            <div class="form-group row">
              <label for="adjType" class="col-sm-3 col-form-label">Status</label>
              <div class="col-sm-9">
                <select class="form-control" id="adjType">
                  <option value="0">Pilih Type</option>
                  <option value="1">Penambahan Saldo</option>
                  <option value="2">Pengurangan Saldo</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="adjNominal" class="col-sm-3 col-form-label">Nominal</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="adjNominal" placeholder="Nominal" >
              </div>
            </div>

            <div class="form-group row">
              <label for="adjKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea rows="5" class="form-control" id="adjKeterangan" placeholder="Keterangan Wajib diisi"></textarea>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Adjsut Saldo</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            
            <div class="form-group row">
              <label for="filterUserTujuan" class="col-sm-3 col-form-label">Saldo Tujuan</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="filterUserTujuan" placeholder="ID Adjust Tujuan" >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnFilter">Filter Adjsut</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

