<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container" style="max-width: 2000px">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container" style="max-width: 2000px">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              <nav>
                <ul class="pagination pagination-md pull-right"></ul>
              </nav>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    let limit = 10;
    let page = 0;

    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      bInfo: false,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "User ID" },
          { title: "Nama" },
          { title: "Bank" },
          { title: "No Rek" },
          { title: "Atas Nama" },
          { title: "Status" },
          { title: "Last Update" },
          { title: "Last Validation" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [0,1,9], // your case first column
              "width" : "6%"
          },
          {
              "targets": [6], // your case first column
              "width" : "15%"
          },
          {
              "targets": [4, 7, 8], // your case first column
              "width" : "10%"
          }
      ],
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        let statusApprove = document.getElementById("statusApprove").value;
        let pesanKeMerchant = document.getElementById("pesanKeMerchant").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/approveBank/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              statusApprove: statusApprove,
              pesanKeMerchant: pesanKeMerchant
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-ApproveBank').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editSetting = function(id){
      
      fetch('/users/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          $('#modal-edit-ApproveBank').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.pageData = function(changePage){
      page = changePage;
      loadData();
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/approveBank/all?page='+page+'&limit='+limit) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            $(".pagination").html('')
            for(i = 0 ; i < response.jumlahData; i++){
              let label = i + 1;
              if(page == i){
                $(".pagination").append('<li class="page-item active"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }else{
                $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }
            }

            var no = 0;
         
            $.each( response.data, function( key, value ) {
              no++;
              var admin = new Number(value.biayaAdmin).toLocaleString("id-ID");
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editSetting(' + value.idUser + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>'
              var tmp = [no, value.idUser, value.namaUser, value.namaBank, value.noRek, value.atasNama, 
              value.status, value.lastUpdate, value.lastValidation, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-edit-ApproveBank">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly />
              </div>
            </div>
            
            <div class="form-group row">
              <label for="statusApprove" class="col-sm-3 col-form-label">Approve</label>
              <div class="col-sm-9">
                <select class="form-control" id="statusApprove">
                  <option value="">Pilih Status</option>
                  <option value="1">Approve</option>
                  <option value="2">Reject</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="pk1Edit" class="col-sm-3 col-form-label">Pesan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="pesanKeMerchant" rows="5"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

