<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama" },
          { title: "Domain Aktif" },
          { title: "Domain 1" },
          { title: "Domain 2" },
          { title: "Domain 3" },
          { title: "Status" },
          { title: "Last Updated" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 9, // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 9], // your case first column
              "width" : "5%"
          }
      ],
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        let domain = document.getElementById("domainApprove").value;
        let statusApprove = document.getElementById("statusApprove").value;
        let pesanKeMerchant = document.getElementById("pesanKeMerchant").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/approveDomain/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              domain: domain,
              statusApprove: statusApprove,
              pesanKeMerchant: pesanKeMerchant
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-ApproveDomain').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editSetting = function(id){
      
      fetch('/users/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        console.log(response.data)
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("domain1Edit").value = response.data.domain1;
          document.getElementById("domain2Edit").value = response.data.domain2;
          document.getElementById("domain3Edit").value = response.data.domain3;
          $('#modal-edit-ApproveDomain').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/approveDomain/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
         
            $.each( response.data, function( key, value ) {
              no++;
              var admin = new Number(value.biayaAdmin).toLocaleString("id-ID");
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editSetting(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>'
              let statusApprove = "-";
              if(value.statusDomain == 1){
                statusApprove = "Approve";
              }else if(value.statusDomain == 2){
                statusApprove = "Reject";
              }
              var tmp = [no, value.id, value.name, value.domain, value.domain1, value.domain2, value.domain3, statusApprove, value.lastUpdated, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-edit-ApproveDomain">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="domain1Edit" class="col-sm-3 col-form-label">Domain 1</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="domain1Edit" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="domain2Edit" class="col-sm-3 col-form-label">Domain 2</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="domain2Edit" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="domain3Edit" class="col-sm-3 col-form-label">Domain 3</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="domain3Edit" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="domainApprove" class="col-sm-3 col-form-label">Domain yg disetujui</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="domainApprove">
              </div>
            </div>
            <div class="form-group row">
              <label for="statusApprove" class="col-sm-3 col-form-label">Approve</label>
              <div class="col-sm-9">
                <select class="form-control" id="statusApprove">
                  <option value="">Pilih Status</option>
                  <option value="1">Approve</option>
                  <option value="2">Reject</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="pk1Edit" class="col-sm-3 col-form-label">Pesan ke merchant</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="pesanKeMerchant" rows="5"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

