<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-carousel" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "Status" },
          { title: "Urutan" },
          { title: "Link" },
          { title: "Image" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 6, // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 2, 3, 6], // your case first column
              "width" : "5%"
          }
      ],
    });

    $('.btnSave').on('click', function(){
        var nama = document.getElementById("addNama").value;
        var status = document.getElementById("addStatus").value;
        var urutan = document.getElementById("addUrutan").value;
        var link = document.getElementById("addLink").value;
        var gambar = document.getElementById("addGambar");
        
        const formData = new FormData() 
        formData.append('file', gambar.files[0]);
        formData.append('nama', nama);
        formData.append('urutan', urutan);
        formData.append('active', status);
        formData.append('link', link);
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/carousel/add', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-carousel').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        var idPath = document.getElementById("idPath").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/carousel/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus,
              path: idPath
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-carousel').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEditSetting').on('click', function(){
        var id = document.getElementById("settingId").value ;
        var nama = document.getElementById("settingNama").value ;
        var dataUpdate = [], tmpNilai = "";
        
        $.each($("input[class=toggle]"), function(){
            if($(this).prop("checked") == true){
              tmpNilai = 'Y'
            }else{
              tmpNilai = 'N'
            }

            if(tmpNilai != dataMenu[this.id]){
              dataUpdate.push({idDivisi: id, idDivisiDoc: this.id, nilai: tmpNilai});
            }
        });
        
        if(dataUpdate.length > 0){
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
          );

          fetch('/divisi/updateAkses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataUpdate)
          })
          .then(response => response.json())
          .then((response) => {
            if(response.success){
              toastr.success('Data berhasil diubah')
              $('#modal-setting-devisi').modal('hide');
              setTimeout(function() {
                location.reload()
              }, 2300);
              
            }else{
              var keterangan = response.message;
              toastr.error(keterangan)
              
            }

            $(this).prop("disabled", false);
            $(this).html(
              `<span aria-hidden="false"></span> Edit Data`
            );
          }); 
        }        
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var pathLama = document.getElementById("pathEdit").value ;
        var nama = document.getElementById("editNama").value ;
        var status = document.getElementById("editStatus").value;
        var urutan = document.getElementById("editUrutan").value;
        var link = document.getElementById("editLink").value;
        var gambar = document.getElementById("editGambar");
        
        const formData = new FormData() 
        formData.append('file', gambar.files[0]);
        formData.append('id', id);
        formData.append('nama', nama);
        formData.append('urutan', urutan);
        formData.append('active', status);
        formData.append('pathLama', pathLama);
        formData.append('link', link);
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/carousel/update', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-carousel').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editCarousel = function(id){
      
      fetch('/carousel/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          var path = response.data.src.replace("public/", "");
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("pathEdit").value = response.data.src;
          document.getElementById("editNama").value = response.data.nama;
          document.getElementById("editStatus").value = response.data.active;
          document.getElementById("editUrutan").value = response.data.urutan;
          document.getElementById("editLink").value = response.data.link;
          console.log(path)
          $('#editViewImg').attr('src', path);
          
          $('#modal-edit-carousel').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.settingDivisi = function(id, nama){
      fetch('/divisi/setting?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          $( ".tmpModalSetting" ).empty();
          document.getElementById("settingId").value = id;
          document.getElementById("settingNama").value = nama;
          var tmpModal = "";
          for(var item in response.data) {
            dataMenu[response.data[item].id] = response.data[item].flag 
            tmpModal += 
            '<div class="form-group row">'+
              '<label for="settingNama" class="col-sm-3 col-form-label">'+response.data[item].nama_divisi+'</label>'+
              '<div class="col-sm-9">'+
                '<input id="'+response.data[item].id+'" '+response.data[item].akses
                +' type="checkbox"  class="toggle" data-onstyle="success" data-offstyle="danger">'+
              '</div>'+
            '</div>'
          }
          $( ".tmpModalSetting" ).append( $(tmpModal) );
          $('.toggle').bootstrapToggle({
            on: 'On',
            off: 'Off'
          });
          $('#modal-setting-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapuscarousel = function(id, path){
      $('#modal-hapus-carousel').modal('show');
      document.getElementById("idHapus").value = id;
      document.getElementById("idPath").value = path;
    }

    window.loadData = function(){
      dataSet = Array()
      
      $('#modal-loading').modal('show');
      fetch('/carousel/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              var path = value.src.replace("public/", "");
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editCarousel(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapuscarousel(' + value.id + ', \''+ value.src + '\')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var gambar = "<img width='300px' src = '"+path+"'></img>";
              var tmp = [no, value.nama, value.active, value.urutan, value.link, gambar, btn1]
              console.log(value)
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-carousel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal" id="">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama carousel">
              </div>
            </div>

            <div class="form-group row">
              <label for="addStatus" class="col-sm-3 col-form-label">Status</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addStatus" placeholder="Status Active or No">
              </div>
            </div>

            <div class="form-group row">
              <label for="addUrutan" class="col-sm-3 col-form-label">Urutan</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addUrutan" placeholder="Urutan Tampilan">
              </div>
            </div>

            <div class="form-group row">
              <label for="addLink" class="col-sm-3 col-form-label">Link</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addLink" placeholder="Link Gambar">
              </div>
            </div>

            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Gambar</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="addGambar" placeholder="Gambar">
              </div>
            </div>
          </div>
        </div>
      
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnSave">Add Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-setting-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Setting Akses</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="settingId" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingId" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="settingNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingNama" readonly>
              </div>
            </div>
            <div class="tmpModalSetting"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditSetting">Edit Data  </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-carousel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="pathEdit" class="col-sm-3 col-form-label">Path</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="pathEdit" placeholder="Path" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editNama" placeholder="Nama">
              </div>
            </div>
            <div class="form-group row">
              <label for="editStatus" class="col-sm-3 col-form-label">Status</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editStatus" placeholder="Status Active or No">
              </div>
            </div>

            <div class="form-group row">
              <label for="editUrutan" class="col-sm-3 col-form-label">Urutan</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editUrutan" placeholder="Urutan Tampilan">
              </div>
            </div>

            <div class="form-group row">
              <label for="editLink" class="col-sm-3 col-form-label">Link</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editLink" placeholder="Link Gambar">
              </div>
            </div>

            <div class="form-group row">
              <label for="editLink" class="col-sm-3 col-form-label">Gambar Preview</label>
              <div class="col-sm-9">
                <img id="editViewImg" width="300px"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Gambar Upload</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="editGambar" placeholder="Gambar">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-carousel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility: hidden;" id="idHapus">
        <input type="text" style="visibility: hidden;" id="idPath">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


