<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-koneksi" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Test Koneksi 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>

            <div class="card-body log-wa">...</div>
            
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "No Sender" },
          { title: "Status" },
          { title: "Las Connect" },
          { title: "QR" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 5, // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 5], // your case first column
              "width" : "20%",
          }
      ],
    });

    $('.btnSave').on('click', function(){
        fetch('/connectWa/start', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              action: 'start'
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-jurusan').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.testKoneksi').on('click', function(){
      var noWa = document.getElementById("testNoWa").value;
      
      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/connectWa/test', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            noTelp: noWa
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          toastr.success('Test Berhasil dikirim')
          $('#modal-koneksi').modal('hide');
          document.getElementById("testNoWa").value = "";
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            toastr.error(value.msg)
          });
        }
        $(this).prop("disabled", false);
        $(this).html(
          `<span aria-hidden="false"></span> Test`
        );
      });
    });

    window.reLogin = function(){
      if (confirm('Apakah anda ingin relogin / ganti WA sender?')) {
        console.log('Relogin Todo');
        fetch('/connectWa/start', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              action: 'relogin'
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            console.log(response.data)
            loadData();
            alert('Silahkan Scan QR')
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }
        });
      } 
    }

    window.stopWa = function(){
      if (confirm('Apakah anda ingin nonaktifkan WA sender?')) {
        fetch('/connectWa/start', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              action: 'stop'
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            console.log(response.data)
            alert('Wa Sender Terhenti')
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }
        });
      } 
    }

    window.startWa = function(){
      if (confirm('Apakah anda mengaktifkan WA sender?')) {
        fetch('/connectWa/start', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              action: 'start'
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            console.log(response.data)
            alert('Wa Sender Aktif')
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }
        });
      } 
    }

    window.loadData = function(){
      dataSet = Array()
      
      var no = 0;
      var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="reLogin()">'+
                    '<i class="fa fa-refresh"></i>'+
                  '</button>' +

                  '<button type="button" class="btn btn-danger btn-sm" onclick="stopWa()">'+
                    '<i class="fa fa-ban"></i>'+
                  '</button>' +
                  
                  '<button type="button" class="btn btn-success btn-sm" onclick="startWa()">'+
                    '<i class="fa fa-play"></i>'+
                  '</button>' + 
                  
                  '<button type="button" class="btn btn-info btn-sm" onclick="">'+
                    '<i class="fa fa-info-circle"></i>'+
                  '</button>';
      var gambar = "<img width='300px' src = 'tmp/qrcode.png'></img>";            
      var tmp = ['1', '62986362990', 'Aktif', 'Sekarang', gambar, btn1]
      dataSet.push(tmp)
      table.clear();
      table.rows.add(dataSet);
      table.draw();

    /*fetch('/jurusan/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editDivisi(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusJurusan(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var tmp = [no, value.nama, value.keterangan, value.createDate, value.lastUpdate, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
          { title: "No" },
          { title: "No Sender" },
          { title: "Status" },
          { title: "Las Connect" },
        }); */
      
    }

    loadData();
  })
</script>

{{> footer }}

<div class="modal fade" id="modal-koneksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Test {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="testNoWa" class="col-sm-3 col-form-label">No Telp</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="testNoWa" placeholder="No Telp penerima">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark testKoneksi">Test</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

