<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-groupProduct" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "Keterangan" },
          { title: "Create Date" },
          { title: "Update Date" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 5, // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 5], // your case first column
              "width" : "5%"
          }
      ],
    });

    $('.btnSave').on('click', function(){
        var keterangan = document.getElementById("addKeterangan").value;
        var nama = document.getElementById("addNama").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/groupProduct/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-groupProduct').modal('hide');
            document.getElementById("addKeterangan").value = "";
            document.getElementById("addNama").value = "";

            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Save Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/groupProduct/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-groupProduct').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEditSetting').on('click', function(){
        var id = document.getElementById("settingId").value ;
        var nama = document.getElementById("settingNama").value ;
        var dataUpdate = [], tmpNilai = "";
        
        $.each($("input[class=toggle]"), function(){
            if($(this).prop("checked") == true){
              tmpNilai = 'Y'
            }else{
              tmpNilai = 'N'
            }

            if(tmpNilai != dataMenu[this.id]){
              dataUpdate.push({idDivisi: id, idDivisiDoc: this.id, nilai: tmpNilai});
            }
        });
        
        if(dataUpdate.length > 0){
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
          );

          fetch('/divisi/updateAkses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataUpdate)
          })
          .then(response => response.json())
          .then((response) => {
            if(response.success){
              toastr.success('Data berhasil diubah')
              $('#modal-setting-devisi').modal('hide');
              setTimeout(function() {
                location.reload()
              }, 2300);
              
            }else{
              var keterangan = response.message;
              toastr.error(keterangan)
              
            }

            $(this).prop("disabled", false);
            $(this).html(
              `<span aria-hidden="false"></span> Save Data`
            );
          }); 
        }        
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var nama = document.getElementById("namaEdit").value ;
        var keterangan = document.getElementById("keteranganEdit").value ;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/groupProduct/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              nama: nama,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-groupProduct').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Save Data`
          );
        });
    });

    window.editDivisi = function(id){
      //$('#modal-loading').modal('show');
      fetch('/groupProduct/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("namaEdit").value = response.data.nama;
          document.getElementById("keteranganEdit").value = response.data.keterangan;
          $('#modal-edit-groupProduct').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
        //$('#modal-loading').modal('hide');
      });
    }


    window.hapusGroupProduct = function(id){
      $('#modal-hapus-groupProduct').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/groupProduct/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editDivisi(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusGroupProduct(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var tmp = [no, value.nama, value.keterangan, value.createdDate, value.lastUpdated, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
          $('#modal-loading').modal('hide');
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-groupProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama GroupProduct">
              </div>
            </div>
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addKeterangan" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Save Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-groupProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="namaEdit" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="namaEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="keteranganEdit" rows="3" placeholder="Keterangan"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Save Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-groupProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


