<section class="w3l-ecommerce-main">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="w3l-banner-slider-main py-lg-5">
					<div class="content-baner-inf">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
							</ol>
							<div class="carousel-inner" style="padding-top: 25px;" >
								<div class="carousel-item active">
									<a href="#"><img src="/assets/images/ban1.jpg" style="width:100%;" alt="Los Angeles"></a>
									<div class="container">
										<div class="carousel-caption">
											
											<!-- <h3>Women's
												Fashion
												<br>50% Off</h3>
											<a href="#" class="shop-button btn">
												Shop Now
											</a> -->
										</div>
									</div>
								</div>
								<div class="carousel-item item2">
									<a href="#"><img src="/assets/images/ban2.jpg" alt="Los Angeles"></a>
									<div class="container">
										<!-- <div class="carousel-caption">
											<h3>Men's
												Fashion
												<br>60% Off</h3>
											<a href="#" class="shop-button btn">
												Shop Now
											</a>
			
										</div> -->
									</div>
								</div>
								<div class="carousel-item item3">
									<a href="#"><img src="/assets/images/ban3.jpg" alt="Los Angeles"></a>
									<div class="container">
										<!-- <div class="carousel-caption">
											<h3>Women's
												Fashion
												<br>50% Off</h3>
											<a href="#" class="shop-button btn">
												Shop Now
											</a>
			
										</div> -->
									</div>
								</div>
								<div class="carousel-item item4">
									<a href="#"><img src="/assets/images/ban2.jpg" alt="Los Angeles"></a>
									<div class="container">
										<!-- <div class="carousel-caption">
											<h3>Men's
												Fashion
												<br>60% Off</h3>
											<a href="#" class="shop-button btn">
												Shop Now
											</a>
										</div> -->
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3" style="padding-top: 74px;">
				<a href="#"><img src="/assets/images/ban1.jpg" style="vertical-align: unset !important" height="174px" width="100%" alt="Los Angeles"></a>
				<a href="#"><img src="/assets/images/ban2.jpg" style="vertical-align: unset !important" height="174px" width="100%" alt="Los Angeles"></a>
			</div>
		</div>
	</div>

	<div class="w3l-banner-slider-main" >
		<h3 class="hny-title text-center mb-0 ">Customers <span>Love</span></h3>
				<p class="mb-5 text-center">Flash Sale</p>
		<div class="container-fluid" style="background: #f4f4f4;" >
			<div class="row">
				<div class="col-sm-3">
					<h3 style="padding-top: 30px; padding-left: 30px;" class="hny-title text-left">FLASH<span> SALE</span></h3>

					<h4 style="padding-top: 30px; padding-left: 30px;" class=" text-left">Diskon Setiap hari sampai 80%</h4>
					<!-- <p></p> -->
					<a href="#" class="read-more btn">
							Shop Now
					</a>
				</div>
				<div class="col-sm-9">
					<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<!-- <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li> -->
							<li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
							<!-- <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
							<li data-target="#carouselExampleIndicators1" data-slide-to="3"></li> -->
						</ol>
						<div class="carousel-inner2" style="height: 100px;">
							<div class="carousel-item active">
								<div class="container" style="margin-top: -50px !important;">
									<div class="ecom-products-grids row mt-lg-5 mt-3">
		
										<div class="col-lg-1 col-3 product-incfhny mt-4">

										</div>

										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item item2">
								<div class="container" style="margin-top: -50px !important;">
									<div class="ecom-products-grids row mt-lg-5 mt-3">
										<div class="col-lg-1 col-3 product-incfhny mt-4">

										</div>
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
		
										<div class="col-lg-2 col-3 product-incfhny mt-4">
											<div class="product-grid2">
												<div class="product-image2">
													<a href="#">
														<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
														<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
													</a>
													<div class="transmitv single-item">
															<form action="#" method="post">
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
																	<input type="hidden" name="amount" value="599.99">
																	<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																		Add to Cart
																	</button>
																</form>
															</div>
												</div>
												<div class="product-content">
													<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
													<span class="price">
														<del>Rp. 975.000</del>
														Rp. 7XX.XXX
													</span>
													<br>
													<span class="dilihat">
														<i class="fa fa-eye"></i> 100 Dilihat
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
						
						<!-- <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						  </a>
						  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						  </a> -->
					</div>
		
				</div>
			</div>
		</div>
	</div>

	<!-- /products-->
	<div class="ecom-contenthny ">
		<h3 class="hny-title text-center my-3 ">Produk <span>Termurah</span></h3>
				<p class="mb-5 text-center">Sejagad Raya</p>
		<div class="container " style="margin-top: -50px !important;">
			<!-- /row-->
			<div class="ecom-products-grids row mt-lg-5 mt-3">
				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-2.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-22.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
											<input type="hidden" name="amount" value="599.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-3.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-33.jpg">
							</a>
							<div class="transmitv single-item">
								<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1">
										<input type="hidden" name="transmitv_item" value="Dark Blue Top">
										<input type="hidden" name="amount" value="799.99">
										<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
											Add to Cart
										</button>
									</form>
								</div>
							</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Dark Blue Top </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>

				</div>
				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-4.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-44.jpg">
							</a>
							<div class="transmitv single-item">
								<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1">
										<input type="hidden" name="transmitv_item" value="Women Tunic">
										<input type="hidden" name="amount" value="399.99">
										<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
											Add to Cart
										</button>
									</form>
								</div>
							</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Women Tunic </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>

				</div>
				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-5.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-55.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Yellow T-Shirt">
											<input type="hidden" name="amount" value="299.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Yellow T-Shirt</a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>

				</div>
				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-6.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-66.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Straight Kurta">
											<input type="hidden" name="amount" value="699.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Straight Kurta </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-7.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-77.jpg">
							</a>
							
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="White T-Shirt">
											<input type="hidden" name="amount" value="599.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">White T-Shirt </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 101 Dilihat
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-8.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-88.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Blue Sweater">
											<input type="hidden" name="amount" value="499.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Blue Sweater</a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-5.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-55.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Yellow T-Shirt">
											<input type="hidden" name="amount" value="299.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Yellow T-Shirt</a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>

				</div>
				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-6.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-66.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Straight Kurta">
											<input type="hidden" name="amount" value="699.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Straight Kurta </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-7.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-77.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="White T-Shirt">
											<input type="hidden" name="amount" value="599.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">White T-Shirt </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-6.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-66.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Straight Kurta">
											<input type="hidden" name="amount" value="699.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">Straight Kurta </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-3 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="#">
								<img class="pic-1 img-fluid" src="/assets/images/shop-7.jpg">
								<img class="pic-2 img-fluid" src="/assets/images/shop-77.jpg">
							</a>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="White T-Shirt">
											<input type="hidden" name="amount" value="599.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="#">White T-Shirt </a></h3>
							<span class="price">
								<del>Rp. 975.000</del>
								Rp. 7XX.XXX
							</span>
							<br>
							<span class="dilihat">
								<i class="fa fa-eye"></i> 100 Dilihat
							</span>
						</div>
					</div>
				</div>


			</div>
			<!-- //row-->
		</div>
	</div>
</section>