<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container" style="max-width: 2000px">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container" style="max-width: 2000px">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
                <nav>
                  <ul class="pagination pagination-md pull-right"></ul>
                </nav>
              </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    let limit = 10;
    let page = 0;

    var dataDetail = Array();
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      bInfo: false,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama" },
          { title: "Nominal" },
          { title: "Tenor" },
          { title: "Cicilan" },
          { title: "Fee" },
          { title: "Fee %" },
          { title: "Status" },
          { title: "Updated" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 2, // your case first column
              "width" : "20%"
          },
          {
              "targets": 10, // your case first column
              "className": "text-center",
              "width" : "10%"
          },
          {
              "targets": [0, 1], // your case first column
              "width" : "5%"
          }
      ],
    });

    var tableDetail = $('#dataDetail').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      bInfo: false,
      ordering: false,
      data: dataDetail,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Angsuran"},
          { title: "jatuh tempo" },
          { title: "transaksi Id" },
          { title: "denda" },
          { title: "status" },
          { title: "Nominal" }
      ],
      columnDefs: [
          {
              "targets": [0, 1, 2], 
              "width" : "5%"
          },
          {
              "targets": [7], 
              "width" : "55%"
          },
      ],
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        let statusApprove = document.getElementById("statusApprove").value;
        let keteranganApprove = document.getElementById("keteranganApprove").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/koperasiPinjaman/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              status: statusApprove,
              keterangan: keteranganApprove
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-ApprovePinjaman').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Process`
          );
        });
    });

    window.actionApprove = function(id){
      document.getElementById("idEdit").value = id;
      $('#modal-edit-ApprovePinjaman').modal('show');
    }

    window.detailKoperasi = function(id){
      $('#modal-loading').modal('show');
      dataDetail = Array()
      fetch('/koperasiPinjaman/detail?id=' + id) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              let nominal = new Number(value.nominalAngsuran).toLocaleString("id-ID");
              var tmp = [no, value.bayarId, value.angsuranKe, value.tanggalTenor, value.transaksiId,  value.denda, value.status, nominal]
              dataDetail.push(tmp)
            });

            tableDetail.clear();
            tableDetail.rows.add(dataDetail);
            tableDetail.draw();
            $('#modal-loading').modal('hide');
            $('#modal-detail-koperasi').modal('show');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
    }
    
    window.pageData = function(changePage){
      page = changePage;
      loadData();
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/koperasiPinjaman/all?page='+page+'&limit='+limit) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            $(".pagination").html('')
            for(i = 0 ; i < response.jumlahData; i++){
              let label = i + 1;
              if(page == i){
                $(".pagination").append('<li class="page-item active"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }else{
                $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }
            }
            
            var no = 0;
            $.each( response.data.data, function( key, value ) {
              no++;

              let nominal = new Number(value.pinjamNominal).toLocaleString("id-ID");
              let bayarBulan = new Number(value.pinjamPerBulan).toLocaleString("id-ID");
              let fee = new Number(value.pinjamFeeNominal).toLocaleString("id-ID");
              let btnApprove = '';

              if(value.statusId == -1){ //Pinjaman Request
                btnApprove = '<button type="button" class="btn btn-default btn-sm" onclick="actionApprove(' + value.pinjamId + ')"> Action '+
                            '</button>'
              }else if(value.statusId == 0){//Pinjaman Reject
                btnApprove = '<button type="button" class="btn btn-danger btn-sm" disabled> Rejected '+
                            '</button>'
              }else if(value.statusId == 1){ //pinjaman Approve
                btnApprove = '<button type="button" class="btn btn-warning btn-sm" onclick="detailKoperasi(' + value.pinjamId + ')"> Detail '+
                            '</button>'
              }else{ //pinjaman Selesai
                btnApprove = '<button type="button" class="btn btn-success btn-sm" onclick="detailKoperasi(' + value.pinjamId + ')"> Done '+
                            '</button>'
              }
              
              var tmp = [no, value.pinjamUserId, value.pinjamUserName, nominal, value.pinjamTenorBulan, bayarBulan, fee, 
              value.pinjamFeePercentase, value.status, value.lastUpdate, btnApprove]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-edit-ApprovePinjaman">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Konfirmasi {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="statusApprove" class="col-sm-3 col-form-label">Approve</label>
              <div class="col-sm-9">
                <select class="form-control" id="statusApprove">
                  <option value="">Status</option>
                  <option value="1">Approve</option>
                  <option value="0">Reject</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="keteranganApprove" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" rows="5" id="keteranganApprove" placeholder="Keterangan"></textarea>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Process</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-detail-koperasi">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Detail Angsuran</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="table-responsive">
            <table id="dataDetail" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

