<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama" },
          { title: "Limit Pinjaman" },
          { title: "Pokok" },
          { title: "Wajib" },
          { title: "Sukareka" },
          { title: "Daftar" },
          { title: "Approve" },
          { title: "Status" },
          { title: "Ktp" },
          { title: "Last Updated" },
          { title: "Action" }
      ],
      columnDefs: [
          /*{
              "targets": 9, // your case first column
              "className": "text-center",
          },*/
          {
              "targets": [12], // your case first column
              "width" : "10%"
          }
      ],
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        let statusApprove = document.getElementById("statusApprove").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/koperasiAnggota/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              userId: id,
              status: statusApprove
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-ApproveDomain').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.actionApprove = function(id){
      document.getElementById("idEdit").value = id;
      $('#modal-edit-ApproveDomain').modal('show');
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/koperasiAnggota/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
         
            $.each( response.data, function( key, value ) {
              no++;
              let pokok = new Number(value.userSimpananPokok).toLocaleString("id-ID");
              let wajib = new Number(value.userSimpananWajib).toLocaleString("id-ID");
              let sukarela = new Number(value.userSimpananSukarela).toLocaleString("id-ID");
              let limitPinjam = new Number(value.userLimitPinjam).toLocaleString("id-ID");
              
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="actionApprove(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>'+
                        '<button type="button" class="btn btn-info btn-sm" onclick="">'+
                          '<i class="fa fa-info"></i>'+
                        '</button>'

              let gambar = "<img width='100px' src = '"+value.ktp+"'></img>";
              var tmp = [no, value.userId, value.userName,limitPinjam, pokok, wajib, sukarela, 
              value.userDaftar, value.userApprove, value.userStatus, gambar, value.lastUpdate, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-edit-ApproveDomain">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Konfirmasi {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="statusApprove" class="col-sm-3 col-form-label">Status</label>
              <div class="col-sm-9">
                <select class="form-control" id="statusApprove">
                  <option value="0">Pilih Status</option>
                  <option value="1">Approve</option>
                  <option value="2">Blokir</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

