<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-bayar" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "PG" },
          { title: "ID Bank" },
          { title: "Bank" },
          { title: "Deskripsi" },
          { title: "Logo" },
          { title: "RK" },
          { title: "Dinein" },
          { title: "Merchant" },
          { title: "Updated" },
          { title: "Action" },

      ],
      columnDefs: [
          {
              "targets": [0], // your case first column
              "width" : "5%"
          }
      ],
    });

    $('.btnSave').on('click', function(){
        
        var pg = document.getElementById("addPg").value;
        var bankId = document.getElementById("addBankId").value;
        var bankName = document.getElementById("addBankName").value;
        var logo = document.getElementById("addLogo").value;
        var deskripsi = document.getElementById("addDeskripsi").value;
        var stepBayar = document.getElementById("addStepBayar").value;
        var feeType = document.getElementById("addFeeType").value;
        var feeNominal = document.getElementById("addFeeNominal").value;

        var allowRk = 0;
        var allowDineIn = 0;
        var allowMerchant = 0;
        
        if ($('#allowRk').is(":checked"))
        {
           allowRk = 1;
        }
        if ($('#allowDineIn').is(":checked"))
        {
           allowDineIn = 1;
        }
        if ($('#allowMerchant').is(":checked"))
        {
           allowMerchant = 1;
        }
       
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/metodeBayar/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              pg: pg,
              bankId: bankId,
              bankName: bankName,
              logo: logo,
              deskripsi: deskripsi,
              allowRk: allowRk,
              allowDineIn: allowDineIn,
              allowMerchant: allowMerchant,
              stepBayar: stepBayar,
              feeType: feeType,
              feeNominal: feeNominal
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-bayar').modal('hide');
            loadData();
            document.getElementById("addPg").value = "";
            document.getElementById("addBankId").value = "";
            document.getElementById("addBankName").value = "";
            document.getElementById("addLogo").value = "";
            document.getElementById("addDeskripsi").value = "";
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/metodeBayar/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-bayar').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
      let id = document.getElementById("idEdit").value;
      let pg = document.getElementById("editPg").value;
      let bankId = document.getElementById("editBankId").value;
      let namaBank = document.getElementById("editBankName").value;
      let logo = document.getElementById("editLogo").value;
      let deskripsi = document.getElementById("editDeskripsi").value;
      let stepBayar = document.getElementById("editStepBayar").value;
      let feeType = document.getElementById("editFeeType").value;
      let feeNominal = document.getElementById("editFeeNominal").value;

      let allowRk = 0;
      let allowDineIn = 0;
      let allowMerchant = 0;

      if ($('#allowRkEdit').is(":checked"))
      {
          allowRk = 1;
      }
      if ($('#allowDineInEdit').is(":checked"))
      {
          allowDineIn = 1;
      }
      if ($('#allowMerchantEdit').is(":checked"))
      {
          allowMerchant = 1;
      }

      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/metodeBayar/update', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id : id,
            pg: pg,
            bankId: bankId,
            bankName: namaBank,
            logo: logo,
            deskripsi: deskripsi,
            allowRk: allowRk,
            allowDineIn: allowDineIn,
            allowMerchant: allowMerchant,
            stepBayar: stepBayar,
            feeType: feeType,
            feeNominal: feeNominal
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          toastr.success(response.message)
          $('#modal-edit-bayar').modal('hide');
          loadData()
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $(this).prop("disabled", false);
        $(this).html(
          `<span aria-hidden="false"></span> Edit Data`
        );
      });
    });

    window.editBayar = function(id){
      fetch('/metodeBayar/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          $( "#allowRkEdit").prop('checked', false);
          $( "#allowMerchantEdit").prop('checked', false);
          
          const secondFunction = async () => {
            document.getElementById("idEdit").value = response.data.id;
            document.getElementById("editPg").value = response.data.idPg;
            document.getElementById("editBankId").value = response.data.idBank;
            document.getElementById("editBankName").value = response.data.namaBank;
            document.getElementById("editLogo").value = response.data.logo;
            document.getElementById("editDeskripsi").value = response.data.deskripsi;
            document.getElementById("editStepBayar").value = response.data.panduanBayar;
            document.getElementById("editFeeType").value = response.data.feeType;
            document.getElementById("editFeeNominal").value = response.data.feeNominal;

            $('#modal-edit-bayar').modal('show');
          }

          if (response.data.forRk == 1){
            $( "#allowRkEdit").prop('checked', true);
          }
          if (response.data.forDineIn == 1){
            $( "#allowDineInEdit").prop('checked', true);
          }
          if(response.data.forMerchant == 1){
            $( "#allowMerchantEdit").prop('checked', true);
          }
          
          secondFunction();
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusBayar = function(id){
      $('#modal-hapus-bayar').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/metodeBayar/all') 
        .then(response => response.json())
        .then((response) => {
          console.log();
          if(response.success){
            var no = 0;
            
            $.each( response.data, function( key, value ) {
              no++;

              let forMerchant =  value.forMerchant > 0 ? 'Iya' : 'Tidak';
              let forRk = value.forRk > 0 ? 'Iya' : 'Tidak';
              let forDineIn = value.forDineIn > 0 ? 'Iya' : 'Tidak';
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editBayar(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusBayar(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var tmp = [no, value.idPg, value.idBank, value.namaBank, value.deskripsi, value.logo, forRk, forDineIn, forMerchant, value.lastUpdated, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
          $('#modal-loading').modal('hide');
        }); 
      
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-bayar">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            
            <div class="form-group row">
              <label for="addPg" class="col-sm-3 col-form-label">P. Gateway</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addPg" placeholder="Payment Gateway">
              </div>
            </div>

            <div class="form-group row">
              <label for="addBankId" class="col-sm-3 col-form-label">ID Bank</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addBankId" placeholder="ID Bank">
              </div>
            </div>

            <div class="form-group row">
              <label for="addBankName" class="col-sm-3 col-form-label">Nama Bank</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addBankName" placeholder="Nama Bank">
              </div>
            </div>

            <div class="form-group row">
              <label for="addLogo" class="col-sm-3 col-form-label">Logo</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addLogo" placeholder="URL Logo">
              </div>
            </div>

            <div class="form-group row">
              <label for="addDeskripsi" class="col-sm-3 col-form-label">Deskripsi</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addDeskripsi" placeholder="Deskripsi" rows="4"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="addStepBayar" class="col-sm-3 col-form-label">Langkah Pembayaran</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addStepBayar" placeholder="Langkah Pembayaran" rows="4"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="addFeeType" class="col-sm-3 col-form-label">Fee Type</label>
              <div class="col-sm-9">
                <select id="addFeeType" class="form-control">
                  <option value="-">Tanpa Fee</option>
                  <option value="fix">Fix / Konstan</option>
                  <option value="percent">Persentase</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addFeeNominal" class="col-sm-3 col-form-label">Fee Nominal</label>
              <div class="col-sm-9">
                 <input type="number" class="form-control" id="addFeeNominal" placeholder="tanda koma menggunakan titik">
              </div>
            </div>

            <div class="form-group row">
              <label for="allowRk" class="col-sm-3 col-form-label">RumahKios</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="allowRk" checked>
              </div>
            </div>

            <div class="form-group row">
              <label for="allowDineIn" class="col-sm-3 col-form-label">Dine IN</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="allowDineIn" checked>
              </div>
            </div>

            <div class="form-group row">
              <label for="allowMerchant" class="col-sm-3 col-form-label">Merchant</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="allowMerchant" checked>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-bayar">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="editPg" class="col-sm-3 col-form-label">P. Gateway</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editPg" placeholder="Payment Gateway">
              </div>
            </div>

            <div class="form-group row">
              <label for="editBankId" class="col-sm-3 col-form-label">ID Bank</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editBankId" placeholder="ID Bank">
              </div>
            </div>

            <div class="form-group row">
              <label for="editBankName" class="col-sm-3 col-form-label">Nama Bank</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editBankName" placeholder="Nama Bank">
              </div>
            </div>

            <div class="form-group row">
              <label for="editLogo" class="col-sm-3 col-form-label">Logo</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editLogo" placeholder="URL Logo">
              </div>
            </div>

            <div class="form-group row">
              <label for="editDeskripsi" class="col-sm-3 col-form-label">Deskripsi</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="editDeskripsi" placeholder="Deskripsi" rows="4"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="editStepBayar" class="col-sm-3 col-form-label">Langkah Pembayaran</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="editStepBayar" placeholder="Langkah Pembayaran" rows="4"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="editFeeType" class="col-sm-3 col-form-label">Fee Type</label>
              <div class="col-sm-9">
                <select id="editFeeType" class="form-control">
                  <option value="-">Tanpa Fee</option>
                  <option value="fix">Fix / Konstan</option>
                  <option value="percent">Persentase</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editFeeNominal" class="col-sm-3 col-form-label">Fee Nominal</label>
              <div class="col-sm-9">
                 <input type="number" class="form-control" id="editFeeNominal" placeholder="tanda koma menggunakan titik">
              </div>
            </div>

            <div class="form-group row">
              <label for="allowRkEdit" class="col-sm-3 col-form-label">RumahKios</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="allowRkEdit">
              </div>
            </div>

            <div class="form-group row">
              <label for="allowDineInEdit" class="col-sm-3 col-form-label">Dine IN</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="allowDineInEdit">
              </div>
            </div>

            <div class="form-group row">
              <label for="allowMerchantEdit" class="col-sm-3 col-form-label">Merchant</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="allowMerchantEdit">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Save Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-bayar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


