<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container" style="max-width: 2000px">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container" style="max-width: 2000px">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                </div>
                <nav>
                  <ul class="jumlahData pull-left"></ul>
                  <ul class="pagination pagination-md pull-right"></ul>
                </nav>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<!-- page script -->

<script>
  $(document).ready(function(){ 
    let limit = 10;
    let page = 0;
    let pageCurrent = 0;

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      data: dataSet,
      bInfo: false,
      dom: 'Bfrtip',
      lengthMenu: [
                  [10, 25, 50, 100],
                  ['10 Data', '25 Data', '50 Data', '100 Data']
              ],
              dom: 'Bfrtip',
              buttons: [
                  { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
                  { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"> Exportar a CSV</i>' },
                  { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
                  { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' },
                  {
                      text: '<i class="fas fa-search fa-1x" aria-hidden="true"> Filter</i>',
                      action: function ( e, dt, node, config ) {
                          $('#modal-filter').modal('show');
                      }
                  },
                  'pageLength'
              ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },

      columns: [
          { title: "No" },
          { title: "id" },
          { title: "Debet Id" },
          { title: "Debet Name" },
          { title: "Credit Id" },
          { title: "Credit Name" },
          { title: "Transaksi Id" },
          { title: "Produk Name" },
          { title: "Nominal" },
          { title: "Tanggal" }
      ],
      columnDefs: [
          {
              "targets": [0,1], // your case first column
              "width" : "3%"
          },
          {
              "targets": [2,4], // your case first column
              "width" : "7%"
          },
          {
              "targets": [3,5], // your case first column
              "width" : "15%"
          },
          {
              "targets": [6,9 ], // your case first column
              "width" : "9%"
          }
      ],
    });

    window.showModalFilter = function(){
      
    }

    table.on( 'length', function ( e, settings, len ) {
        limit = len;
        loadData();
    });
    
    window.pageData = function(changePage){
      page = changePage;
      loadData();
    }

    window.pageBefore = function(){
      if(pageCurrent >= 10){
        pageCurrent = pageCurrent-10;
        page = pageCurrent;
      }

      loadData();
    }

    window.pageAfter = function(jumlahPage){
      if(pageCurrent + 10 < jumlahPage ){
        pageCurrent = pageCurrent + 10;
        page = pageCurrent;
      }

      loadData();
    }

    $('.btnFilter').on('click', function(){
      loadData();
      $('#modal-filter').modal('hide');
    });
    
    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      let filterType = document.getElementById("filterType").value;
      let idDebet = document.getElementById("filterIdDebet").value;
      let idCredit = document.getElementById("filterIdCredit").value;
      let transaksiId = document.getElementById("filterTransaksiId").value;

      fetch('/mutasiSaldo/all?type='+filterType+'&filter=&page='+page+'&limit='+limit+'&idDebet='+idDebet+'&idCredit=' + idCredit + '&transaksiId=' + transaksiId) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $(".pagination").html('')
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageBefore()" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>');
            
            $(".jumlahData").html('')
            $(".jumlahData").append('<label>Jumlah Data : ' +response.jumlahData+ ' </label>');

            let idx = 0;
            for(i = pageCurrent ; i < response.jumlahPage; i++){
              let label = i + 1;
              if(page == i){
                $(".pagination").append('<li class="page-item active"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }else{
                $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }
              if(idx == limit){
                break;
              }
              idx++;
            }
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageAfter('+response.jumlahPage+')" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>');
            $.each( response.data, function( key, value ) {
              no++;
              var tmp = [no, value.id, value.debetId, value.debetName, value.creditId, 
              value.creditName, value.transaksiId, value.productName, value.nominal, value.tanggal]
              dataSet.push(tmp)
            });
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-filter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="filterStatus" class="col-sm-4 col-form-label">Type Mutasi</label>
              <div class="col-sm-8">
                <select id="filterType" class="form-control" >
                  <option value="0">Semua Type</option>
                  <option value="1">Mutasi Saldo</option>
                  <option value="2">Mutasi Koperasi</option>
                  <option value="3">Mutasi Pinjaman Koperasi</option>
                  <option value="4">Refund Saldo</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="filterTransaksiId" class="col-sm-4 col-form-label">Transaksi id</label>
              <div class="col-sm-8">
                <input type="text" id="filterTransaksiId" class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="filterIdDebet" class="col-sm-4 col-form-label">ID Debet</label>
              <div class="col-sm-8">
                <input type="text" id="filterIdDebet" class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="filterIdCredit" class="col-sm-4 col-form-label">ID Credit</label>
              <div class="col-sm-8">
                <input type="text" id="filterIdCredit" class="form-control" />
              </div>
            </div>

            {{!-- <div class="form-group row">
              <label for="filterTanggalBeli" class="col-sm-4 col-form-label">Tanggal Beli</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggalBeli" class="form-control" />
              </div>
            </div> --}}
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnFilter"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>