<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<style>
    .datepicker {
      z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-product" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama" },
          { title: "Group" },
          { title: "Image" },
          { title: "Active" },
          { title: "Harga Beli" },
          { title: "Harga Jual" },
          { title: "Harga Coret" },
          { title: "Promo" },
          { title: "Ada Ongkir" },
          { title: "Berat(Kg)" },
          { title: "Stok" },
          { title: "Create" },
          { title: "Update" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [15], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0,15], // your case first column
              "width" : "5%"
          }
      ],
    });

    let dropdownGroup = document.getElementById('addGroupId');
    let dropdownGroupEdit = document.getElementById('editGroupId');
    dropdownGroup.length = 0;
    dropdownGroupEdit.length = 0;
    fetch('/groupProduct/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      let defaultOptionEdit = document.createElement('option');
      defaultOption.text = 'Pilih Group';
      defaultOption.value = '';
      defaultOptionEdit.text = 'Pilih Group';
      defaultOptionEdit.value = '';
      dropdownGroup.add(defaultOption);
      dropdownGroup.selectedIndex = 0;
      dropdownGroupEdit.add(defaultOptionEdit);
      dropdownGroupEdit.selectedIndex = 0;
      response.json().then(function(data) {  
        let option;
        let optionEdit;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            optionEdit = document.createElement('option');
            optionEdit.text = data.data[i].nama;
            optionEdit.value = data.data[i].id;
            dropdownGroup.add(option);
            dropdownGroupEdit.add(optionEdit);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error group -', err);  
    });

    $('.btnSave').on('click', function(){
        var nama = document.getElementById("addNama").value ;
        var group = document.getElementById("addGroupId").value ;
        var active = document.getElementById("addActive").value ;
        var hargaBeli = document.getElementById("addHargaBeli").value ;
        var hargaJual = document.getElementById("addHarga").value ;
        var hargaCoret = document.getElementById("addHargaCoret").value ;
        var berat = document.getElementById("addBerat").value ;
        var jumlahStok = document.getElementById("addJumlahStok").value ;
        var promo = document.getElementById("addPromo").value ;
        var ongkir = document.getElementById("addOngkir").value ;
        var gambar = document.getElementById("addGambar");
        var keterangan = document.getElementById("addKeterangan").value ;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        const formData = new FormData() 
        formData.append('nama', nama);
        formData.append('group', group);
        formData.append('active', active);
        formData.append('hargaBeli', hargaBeli);
        formData.append('hargaJual', hargaJual);
        formData.append('hargaCoret', hargaCoret);
        formData.append('berat', berat);
        formData.append('jumlahStok', jumlahStok);
        formData.append('promo', promo);
        formData.append('ongkir', ongkir);
        formData.append('file', gambar.files[0]);
        formData.append('keterangan', keterangan);

        fetch('/myProduct/add', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        var idPath = document.getElementById("idPath").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/myProduct/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus,
              path: idPath
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        let id = document.getElementById("idEdit").value ;
        let pathLama = document.getElementById("pathEdit").value ;
        let nama = document.getElementById("editNama").value ;
        let groupId = document.getElementById("editGroupId").value ;
        let active = document.getElementById("editActive").value ;
        var hargaCoret = document.getElementById("editHargaCoret").value ;
        var gambar = document.getElementById("editGambar");
        let hargaBeli = document.getElementById("editHargaBeli").value ;
        let hargaJual = document.getElementById("editHarga").value ;
        let berat = document.getElementById("editBerat").value ;
        let stok = document.getElementById("editStok").value ;
        let promo = document.getElementById("editPromo").value ;
        let isOngkir = document.getElementById("editOngkir").value ;
        let keterangan = document.getElementById("editKeterangan").value ;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        const formData = new FormData() 
        formData.append('id', id);
        formData.append('pathLama', pathLama);
        formData.append('nama', nama);
        formData.append('group', groupId);
        formData.append('active', active);
        formData.append('hargaBeli', hargaBeli);
        formData.append('hargaJual', hargaJual);
        formData.append('hargaCoret', hargaCoret);
        formData.append('berat', berat);
        formData.append('jumlahStok', stok);
        formData.append('promo', promo);
        formData.append('ongkir', isOngkir);
        formData.append('file', gambar.files[0]);
        formData.append('keterangan', keterangan);
        
        fetch('/myProduct/update', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editProduct = function(id){
      fetch('/myProduct/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          
          var path = response.data.image.replace("../toko/public/datas/productMerchant", "public2/");
          document.getElementById("pathEdit").value = response.data.image;
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("editNama").value = response.data.nama;
          document.getElementById("editGroupId").value = response.data.groupProductId;
          document.getElementById("editActive").value = response.data.isActive;
          document.getElementById("editHarga").value = response.data.harga;
          document.getElementById("editHargaCoret").value = response.data.hargaCoret;
          document.getElementById("editGambar").value = '';
          document.getElementById("editHargaBeli").value = response.data.hargaBeli;
          document.getElementById("editBerat").value = response.data.weight;
          document.getElementById("editStok").value = response.data.stok;
          document.getElementById("editPromo").value = response.data.promo;
          document.getElementById("editOngkir").value = response.data.isOngkir;
          document.getElementById("editKeterangan").value = response.data.keterangan;
          
          $('#editViewImg').attr('src', path);

          $('#modal-edit-product').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusProduct = function(id, path){
      $('#modal-hapus-product').modal('show');
      document.getElementById("idHapus").value = id;
      document.getElementById("idPath").value = path;
    }

    window.loadData = function(){
      dataSet = Array()
      
      $('#modal-loading').modal('show');
      fetch('/myProduct/all') 
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          var no = 0;

          $.each( response.data, function( key, value ) {
            no++;
            let isPromo = "Tidak";
            let isOngkir = "Tidak";
            
            if(value.promo == 1){
              isPromo = "Iya"
            }

            if(value.isOngkir == 1){
              isOngkir = "Iya"
            }

            //var path = value.image;
            //var path = "/datas/productMerchant/1601269902412_steinberg.jpeg";

            var path = value.image.replace("../toko/public/datas/productMerchant", "public2/");
            //var path = "public2/1602129616135_kulkas.jpeg";
            var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editProduct(' + value.id + ')">'+
                        '<i class="fa fa-edit"></i>'+
                      '</button>' +

                      '<button type="button" class="btn btn-danger btn-sm" onclick="hapusProduct(' + value.id + ', \''+ value.image + '\')">'+
                        '<i class="fa fa-trash"></i>'+
                      '</button>';
            var gambar = "<img width='100px' src = '"+path+"'></img>";
            var tmp = [no, value.id, value.nama, value.groupProductName, gambar, value.isActive, value.strHargaBeli, value.strHarga, 
            value.strHargaCoret, isPromo, isOngkir, value.weight, value.stok, value.createdDate, value.lastUpdated, btn1]
            dataSet.push(tmp)
          });

          table.clear();
          table.rows.add(dataSet);
          table.draw();
          $('#modal-loading').modal('hide');
        }else{
          $('#modal-loading').modal('hide');
          var keterangan = response.message;
          toastr.error(keterangan) 
        }
      }); 
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-product">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 650px;">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">

            <div class="form-group row">
              <label for="editNama" class="col-sm-4 col-form-label">Nama</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="addNama" required placeholder="Nama Produk">
              </div>
            </div>

            <div class="form-group row">
              <label for="addGroupId" class="col-sm-4 col-form-label">Group Produk</label>
              <div class="col-sm-8">
                <select class="form-control" id="addGroupId" ></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addActive" class="col-sm-4 col-form-label">Is Active</label>
              <div class="col-sm-8">
                <select id="addActive" class="form-control" name="addActive">
                  <option value="0">Tidak Aktif</option>
                  <option value="1">Aktif</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addHargaBeli" class="col-sm-4 col-form-label">Harga Beli</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addHargaBeli" placeholder="Harga Beli" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addHarga" class="col-sm-4 col-form-label">Harga Jual</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addHarga" placeholder="Harga Jual" required>
              </div>
            </div>
          
            <div class="form-group row">
              <label for="addHargaCoret" class="col-sm-4 col-form-label">Harga Coret</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addHargaCoret" placeholder="Harga Coret" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addBerat" class="col-sm-4 col-form-label">Berat Produk(Kg)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addBerat" placeholder="Berat Barang (Kg)" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addJumlahStok" class="col-sm-4 col-form-label">Jumlah Stok</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addJumlahStok" placeholder="Jumlah Stok" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addPromo" class="col-sm-4 col-form-label">Promo</label>
              <div class="col-sm-8">
                <select id="addPromo" class="form-control">
                  <option value="0">Tidak</option>
                  <option value="1">Iya</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addOngkir" class="col-sm-4 col-form-label">Ada Ongkir</label>
              <div class="col-sm-8">
                <select id="addOngkir" class="form-control">
                  <option value="0">Tidak Ada</option>
                  <option value="1">Ada</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addGambar" class="col-sm-4 col-form-label">Gambar Upload</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="addGambar" placeholder="Gambar">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-4 col-form-label">Keterangan</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="addKeterangan" rows="4"></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnSave">Add Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-product">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 650px;">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="pathEdit" class="col-sm-4 col-form-label">Path</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="pathEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="editNama" class="col-sm-4 col-form-label">Nama</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editNama">
              </div>
            </div>
            <div class="form-group row">
              <label for="editGroupId" class="col-sm-4 col-form-label">Group Produk</label>
              <div class="col-sm-8">
                <select class="form-control" id="editGroupId" ></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="editActive" class="col-sm-4 col-form-label">Is Active</label>
              <div class="col-sm-8">
                <select id="editActive" class="form-control" name="editActive">
                  <option value="0">Tidak Aktif</option>
                  <option value="1">Aktif</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="editHargaBeli" class="col-sm-4 col-form-label">Harga Beli</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editHargaBeli" placeholder="Harga" readonly required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editHarga" class="col-sm-4 col-form-label">Harga Jual</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editHarga" placeholder="Harga" readonly required>
              </div>
            </div>
            <div class="form-group row">
              <label for="editHargaCoret" class="col-sm-4 col-form-label">Harga Coret</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editHargaCoret" placeholder="Harga Coret">
              </div>
            </div>

            <div class="form-group row">
              <label for="editBerat" class="col-sm-4 col-form-label">Berat Produk(Kg)</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editBerat" placeholder="Berat Barang" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editStok" class="col-sm-4 col-form-label">Jumlah Stok</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editStok" placeholder="Jumlah Stok" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editPromo" class="col-sm-4 col-form-label">Promo</label>
              <div class="col-sm-8">
                <select id="editPromo" class="form-control">
                  <option value="0">Tidak</option>
                  <option value="1">Iya</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editOngkir" class="col-sm-4 col-form-label">Ada Ongkir</label>
              <div class="col-sm-8">
                <select id="editOngkir" class="form-control">
                  <option value="0">Tidak Ada</option>
                  <option value="1">Ada</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editLink" class="col-sm-4 col-form-label">Gambar Preview</label>
              <div class="col-sm-8">
                <img id="editViewImg" width="300px"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="editGambar" class="col-sm-4 col-form-label">Gambar Upload</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="editGambar" placeholder="Gambar">
              </div>
            </div>

            <div class="form-group row">
              <label for="editKeterangan" class="col-sm-4 col-form-label">Keterangan</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="editKeterangan" rows="4"></textarea>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="display:none ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" style="display: none;" id="idPath" readonly>
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
