<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <div class="row">
                  {{!-- <div class="col-sm-2">
                    <button type="button" data-toggle="modal" onclick="getDataKelas(1)" data-target="#modal-add-payment" class="btn btn-success btn-sm">
                        <i class="fa fa-plus"></i> Add Data 
                    </button>
                  </div> --}}
                  <div class="col-sm-8">
                    {{!-- <button type="button" onclick="filterTagihan()" class="btnFilter btn btn-info btn-sm">
                      <i class="fa fa-search"></i> Filter 
                    </button>  --}}
                  </div>
                  <div class="col-sm-3">
                    <select id="viaPembayaran" class="form-control" name="viaPembayaran">
                    </select>
                  </div>
                  <div class="col-sm-1">
                    {{!-- <a class="btn btn-success" class="btnBayar" href="#" data-window="external" data-dismiss="#modal-add-transaksi">
                      <i class="far fa-credit-card"></i> Bayar </a> --}}
                    <button type="button" class="btnBayar btn btn-success btn-sm">
                      <i class="far fa-credit-card"></i> Bayar 
                    </button> 
                  </div>
              </div>
              <h3 class="card-title">
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataIcon = {};
    // Define recursive function to print nested values
    function printValues(obj) {
        for(var k in obj) {
            if(obj[k] instanceof Object) {
                console.log(Object.getOwnPropertyNames(obj[k]) + "<br>");
                //printValues(obj[k]);
                
            } else {
                //console.log(obj[k] + "<br>");
            };
        }
    };

    $('.btnBayar').on('click', function(){
      var favorite = [];
      $.each($("input[type='checkbox']:checked"), function(){
          favorite.push($(this).val());
      });
    
      var via = document.getElementById("viaPembayaran").value;

      if(via == ''){
        alert('Pilih metode pembayaran!');
      }

      if(favorite.length == 0 || via == ''){
        alert('Centang Tagihan yang akan dibayar!');
      }else{
        //alert("Bayar id tagihan : " + favorite + " Via " + via);
        $('.btnBayar').prop("disabled", true);
        $('.btnBayar').html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/inquiry', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              jenisTransaksi: 0,
              via: via,
              tagihans: favorite,
              icon: dataIcon[via]
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            dataSet2 = Array();
            var totalHarga = response.data[0].jumlahNominal;
            var via = response.data[0].via;
            var kodePembayaran= response.data[0].idPembayaran;
            var nama = response.data[0].user.userName;
            var email = response.data[0].user.email;
            var kelas = response.data[0].user.kelas.kelas.nama;
            var dueDate = '';
            var no = 0;
            $("#viaIcon").attr("src",dataIcon[via]);
            $.each( response.data[0].tagihans, function( key, value ) {
              no++;
              //alert(response.data[0].tagihans[a].id)
              var harga = new Number(value.product.nominal).toLocaleString("id-ID");
              var tmp = [no, value.product.nama, value.id, value.product.keterangan, harga]
              dataSet2.push(tmp)
            });

            table2.clear();
            $("#example2 tfoot").remove();

            $("#example2").append(
              $('<tfoot/>').append( "<tr><th></th><th></th><th></th><th>TOTAL</th><th>"+ new Number(totalHarga).toLocaleString("id-ID")+"</th></tr>" )
            );
        
            table2.rows.add(dataSet2);
            table2.draw();

            via = 'Pembayaran Via ' + via;
            
            $('.via').text(via);
            //$('.dueDate').text('Bayar Sebelum: ' + dueDate);
            $('#namaUser').html('<strong>'+nama+'</strong> <br>'+ kelas +
            '<br>Telp: 08986362990<br>Email: '+email); 
            $('#kodePembayaran').html('<b>Kode Pembayaran : '+kodePembayaran+'</b><br>'); 
            
            toastr.success('berhasil inquiry')
            $('#modal-add-payment').modal('show');
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $('.btnBayar').prop("disabled", false);
          $('.btnBayar').html(
            `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Bayar`
          )
        });
      }
    });

    let pembayaranVia = document.getElementById('viaPembayaran');
    pembayaranVia.length = 0;
    fetch('/settingWinpay/toolbar', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Via Pembayaran';
        defaultOption.value = '';
        pembayaranVia.add(defaultOption);
        pembayaranVia.selectedIndex = 0;

        Object.getOwnPropertyNames(response.data.products).forEach(
          function (val, idx, array) {
            //console.log(val);
            for(a = 0 ; a < response.data.products[val].length ; a++){
              if(response.data.products[val][a].is_direct === true){
                //console.log(response.data.products[val][a]);
                option = document.createElement('option');
                option.text = response.data.products[val][a].payment_name;
                option.value = response.data.products[val][a].payment_code;
                pembayaranVia.add(option);
                dataIcon[response.data.products[val][a].payment_code] = response.data.products[val][a].payment_logo;
              }
            }
            //console.log(val + ' -> ' + response.data.products[val][idx]);
            //console.log(val);
          }
        );
        //var obj = JSON.parse(response.data.products);
        //console.log(response.data.products)
        //printValues(response.data.products);
        //document.getElementById("idEdit").value = response.data.id;
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Kelas" },
          { title: "Jurusan" },
          { title: "Pembayaran" },
          { title: "Bulan" },
          { title: "Tahun" },
          { title: "Nominal" },
          { title: "Status" },
          { title: "Tanggal Bayar" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [9], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 2, 3, 4, 5, 6, 9], // your case first column
              "width" : "5%"
          },
          {
              "targets": [7], // your case first column
              "width" : "12%"
          }
      ],
    });

    var dataSet2 = Array();
    var table2 = $('#example2').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      info: false,
      data: dataSet2,
      footerCallback : function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // Total over all pages
            total = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Total over this page
            pageTotal = api
                .column( 4, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Update footer
            $( api.column( 4 ).footer() ).html(
                '$'+pageTotal +' ( $'+ total +' total)'
            );
        },
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "ID" },
          { title: "Deskripsi" },
          { title: "Sub Total" },      
      ],/*
      columnDefs: [
          {
              "targets": [9], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 2, 3, 4, 5, 6, 9], // your case first column
              "width" : "5%"
          },
          {
              "targets": [7], // your case first column
              "width" : "12%"
          }
      ],*/
    });

    $('.btnSearch').on('click', function(){
      $('.btnSearch').prop("disabled", true);
      $('.btnSearch').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );

      var tahun = document.getElementById("tahun-dropdown").value;
      var jurusan = document.getElementById("jurusan-dropdown").value;
      var tingkat = document.getElementById("filter-tingkat-dropdown").value;
      var kelas = document.getElementById("kelas-dropdown").value;

      loadData();
      $('#modal-filter-mySpp').modal('hide');

      $('.btnSearch').prop("disabled", false);
      $('.btnSearch').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter Data`
      )
    });
    
    $('.btnCancel').on('click', function(){
      $('#modal-add-payment').modal('hide');
    });
    
    window.editTagihan = function(id){
      fetch('/mySpp/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("namaEdit").value = response.data.nama;
          document.getElementById("jurusan-dropdown2").value = response.data.jurusan.id;
          document.getElementById("tingkat-dropdown2").value = response.data.tingkat.id;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusTagihan = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.getLabelMonth =  function(bulan){
      switch(bulan){
        case 1 :
          return 'Januari'
          break;
        case 2 :
          return 'Februari'
          break;
        case 3 :
          return 'Maret'
          break;
        case 4 :
          return 'April'
          break;
        case 5 :
          return 'Mei'
          break;
        case 6 :
          return 'Juni'
          break;
        case 7 :
          return 'Juli'
          break;
        case 8 :
          return 'Agustus'
          break;
        case 9 :
          return 'September'
          break;
        case 10 :
          return 'Oktober'
          break;
        case 11 :
          return 'Nopember'
          break;
        case 12 :
          return 'Desember'
          break;
      }
    }

    window.loadData = function(){
      dataSet = Array()      
      var tahun = document.getElementById("tahun-dropdown").value;
      var jurusan = document.getElementById("jurusan-dropdown").value;
      var tingkat = document.getElementById("filter-tingkat-dropdown").value;
      var kelas = document.getElementById("kelas-dropdown").value;

      fetch('/mySpp/all?kelas='+kelas+'&tahun='+tahun+'&tingkat='+tingkat+'&jurusan='+jurusan) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var disableCheck = '';
              var status = '<span class="badge badge-warning">Belum Bayar</span>';
              if(value.status == 1){
                status = '<span class="badge badge-success">Sudah Bayar</span>';
                disableCheck = 'disabled';
              }
              var checkBox = '<div class="icheck-success d-inline">'+
                                '<input '+disableCheck+' type="checkbox"  id="'+value.id+'" value="'+value.id+'">'+
                                '<label for="'+value.id+'"></label>'
                              '</div>';
              
              var num = new Number(value.harga).toLocaleString("id-ID");
              var tmp = [no, value.waliKelas.kelas.nama, value.waliKelas.kelas.jurusan.nama, 
              value.namaTagihan, getLabelMonth(value.bulan), value.tahun, num, status, value.tanggalBayar, checkBox]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }



    loadData();

  })
</script>

{{> footer }}

<div class="modal fade" id="modal-add-payment">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Konfirmasi Pembayaran</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              Teliti kembali via dan nominal pembayaran sebelum checkout payment / melakukan pembayaran. 
              Cetak ini bukan bukti kwitansi pembayaran.
            </div>


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> SMK YPM 1 Taman Sidoarjo.
                    <small id="tglNow" class="float-right">Invoice: ABCDEFG</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    <p id="namaUser"></p>
                  </address>
                  <p id="kodePembayaran"></p>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                </div>
                <!-- /.col -->
                {{!-- <div class="col-sm-4 invoice-col">
                  <b>Invoice #007612</b><br>
                  <br>
                  <b>Order ID:</b> 4F3S8J<br>
                  <b>Payment Due:</b> 2/22/2014<br>
                  <b>Account:</b> 968-34567
                </div> --}}
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped" width="100%" id="example2">
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead">Payment Methods:</p>
                  <img id="viaIcon" style="width: 120px; height: 70px;" alt="VIA">
                  {{!-- <img src="img/credit/mastercard.png" alt="Mastercard">
                  <img src="img/credit/american-express.png" alt="American Express">
                  <img src="img/credit/paypal2.png" alt="Paypal"> --}}

                  <p class="text-muted well well-sm shadow-none via" style="margin-top: 10px;">
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead dueDate"></p>

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  {{!-- <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a> --}}
                  <button type="button" class="btn btn-success btnCancel float-right submitPembayaran"> Cancel
                  </button>
                  {{!-- <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button> --}}
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
      {{!-- <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div> --}}
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-mySpp">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            {{!-- <div class="form-group row">
              <label for="wali-dropdown" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-dropdown" class="form-control" name="selectWali"></select>
              </div>
            </div> --}}
            <div class="form-group row">
              <label for="tahun-dropdown" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-dropdown" class="form-control" name="selectTahun"></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="jurusan-dropdown" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown" class="form-control" ></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filter-tingkat-dropdown" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="filter-tingkat-dropdown" class="form-control" ></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" name="selectKelas"></select>
              </div>
            </div>
          
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSearch"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="namaEdit" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="namaEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="jurusan-dropdown2" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown2" class="form-control" name="selectJurusan2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown2" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown2" class="form-control" name="selectTingkat2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="keteranganEdit" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


