<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
           <div class="card-header">
              <h3 class="card-title">
              </h3>
              <div class="row">
                <div class="col-md-1 ">
                  <button type="button" onclick="filterTransaksi()" class="btn btn-info btn-sm">
                    <i class="fa fa-search"></i> Filter 
                  </button>
                </div>  
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataSet = Array();
    var dataHistori = Array();

    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Tagihan ID" },
          { title: "Jumlah" },
          { title: "Fee" },
          { title: "Bulan" },
          { title: "Tahun" },
          { title: "Tagihan" },
          { title: "Bayar" },
          { title: "Via" },
          { title: "Status" },
          { title: "Action" }
      ],
      columnDefs: [
          /*{
              "targets": [8], // your case first column
              "className": "text-center",
          },*/
          {
              "targets": [0,1], // your case first column
              "width" : "3%"
          },
      ],
    });

    let pembayaranVia = document.getElementById('bayarVia');
    pembayaranVia.length = 0;
    fetch('/settingWinpay/toolbar', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Via Pembayaran';
        defaultOption.value = '';
        pembayaranVia.add(defaultOption);
        pembayaranVia.selectedIndex = 0;
        Object.getOwnPropertyNames(response.data.products).forEach(
          function (val, idx, array) {
            for(a = 0 ; a < response.data.products[val].length ; a++){
              if(response.data.products[val][a].is_direct === true){
                option = document.createElement('option');
                option.text = response.data.products[val][a].payment_name;
                option.value = response.data.products[val][a].payment_code;
                pembayaranVia.add(option);
              }
            }
          }
        );
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });

    var tableHistori = $('#tableHistori').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      bInfo: false,
      ordering: false,
      data: dataHistori,
      columns: [
          { title: "NO" },
          { title: "ID" },
          { title: "Tanggal" },
          { title: "Nama Pelanggan" },
          { title: "No WA" },
          { title: "Nominal" }
      ],
      columnDefs: [
          {
              "targets": [0], 
              "width" : "3%"
          }
      ],
    });
    
    window.filterTransaksi = function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-filter-transaksi').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }

    window.detailTagihan = function(id){
      fetch('/tagihanSaya/detail?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          dataHistori = Array()
          let no = 0;

          $.each( response.data, function( key, value ) {
            no++;
            let nominal = new Number(value.jumlahNominal).toLocaleString("id-ID");
            var tmp = [no, value.id, value.createdDate, value.pelangganNama, value.pelangganWa, nominal]
            dataHistori.push(tmp)
          });

          tableHistori.clear();
          tableHistori.rows.add(dataHistori);
          tableHistori.draw();
          
          $('#modal-detail-tagihan').modal('show');
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
      });
    }

     window.bayarTagihan = function(id){
      fetch('/tagihanSaya/detailTagihan?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("bayarId").value = response.data.id;
          document.getElementById("bayarBulan").value = response.data.bulan;
          document.getElementById("bayarTahun").value = response.data.tahun;
          document.getElementById("bayarJumlahTrx").value = response.data.jumlahTrxCod;
          document.getElementById("bayarJumlahTagihan").value = response.data.jumlahTagihan;
          

          $('#modal-bayar-tagihan').modal('show');
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
      });
    }
    
    $('.btnBayar').on('click', function(){
      let via = document.getElementById("bayarVia").value;
      let tagihanId = document.getElementById("bayarId").value;
      
      if(via == ''){
        alert('Pilih metode pembayaran!');
      }else{
        //alert("Bayar id tagihan : " + favorite + " Via " + via);
      $('.btnBayar').prop("disabled", true);
      $('.btnBayar').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/transaksi/inquiryTagihan', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            jenisTransaksi: 4,
            via: via,
            tagihanId: tagihanId
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          dataSet2 = Array();
          alert('Inquiry Berhasil, kode pembayaran akan dikirimkan melalui whatsapp')
          window.open("/transaksi/myTransaksi", "_self");
        }else{
          var keterangan = "";
          console.log(response)
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $('.btnBayar').prop("disabled", false);
        $('.btnBayar').html(
          `<span aria-hidden="false"></span> Bayar Sekarang`
        )
      });
      }
    });
  
    window.loadData = function(){
      let filterStatus = document.getElementById("filterStatus").value;
      let filterVia = document.getElementById("filterVia").value;
      let filterTanggalBeli = document.getElementById("filterTanggalBeli").value;
      let filterTanggal = document.getElementById("filterTanggal").value;

      dataSet = Array()
      $('#modal-loading').modal('show');
      
      fetch('/tagihanSaya/all?tanggal=' + filterTanggal + '&lunas=' + filterStatus + '&via=' + filterVia + '&tanggalBeli=' + filterTanggalBeli) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            
            $.each( response.data, function( key, value ) {
              no++;
              var btnStatus = '';
              var status = '';
              var idProduk = '';
              var namaProduk = '';
              var jenisTransaksi = '';
              let userId = '-';
              let userName = '-';

              if(value.bayarStatus == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
                btnStatus = 'disabled';
              }else{
                status = '<span class="badge badge-danger">BELUM BAYAR</span>';
              }
              
              let jumlahTagihan = new Number(value.jumlahTagihan).toLocaleString("id-ID");
              let feeLayanan = new Number(value.feeLayanan).toLocaleString("id-ID");
              let btnDetail = '<button type="button" data-toggle="tooltip" title="Detail Tagihan" class="btn btn-info btn-sm" onclick="detailTagihan(\'' + value.id + '\')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>';
              let btnBayar = '<button type="button" data-toggle="tooltip" title="Bayar Tagihan" class="btn btn-success btn-sm" onclick="bayarTagihan(\'' + value.id + '\')">'+
                          '<i class="fa fa-money"></i>'+
                        '</button>';
     
              var tmp = [no, value.id, value.jumlahTrxCod, 
                feeLayanan, value.bulan, value.tahun, jumlahTagihan, value.bayarTanggal, value.bayarVia, 
                status, btnDetail + btnBayar]
              dataSet.push(tmp)
            });
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

    $('.btnFilter').on('click', function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      loadData();
      $('#modal-filter-transaksi').modal('hide');

      $('.btnFilter').prop("disabled", false);
      $('.btnFilter').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
      )
    });
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-detail-tagihan">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Detail Transaksi COD</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="table-responsive">
              <table id="tableHistori" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="filterStatus" class="col-sm-4 col-form-label">Status Bayar</label>
              <div class="col-sm-8">
                <select id="filterStatus" class="form-control" >
                  <option value="">Semua Status</option>
                  <option value="0">Belum Bayar</option>
                  <option value="1">Sudah Bayar</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterVia" class="col-sm-4 col-form-label">Via Pembayaran</label>
              <div class="col-sm-8">
                <select id="filterVia" class="form-control" >
                  <option value="">Semua Via Bayar</option>
                  <option value="COD">COD</option>
                  <option value="ALFAMART">ALFAMART</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterTanggalBeli" class="col-sm-4 col-form-label">Tanggal Beli</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggalBeli" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="filterTanggal" class="col-sm-4 col-form-label">Tanggal Bayar</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggal" class="form-control" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnFilter"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-bayar-tagihan">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Bayar Tagihan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="bayarId" class="col-sm-5 col-form-label">Tagihan ID</label>
              <div class="col-sm-7">
                <input id="bayarId" readonly class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="bayarBulan" class="col-sm-5 col-form-label">Bulan</label>
              <div class="col-sm-7">
                <input id="bayarBulan" readonly class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="bayarTahun" class="col-sm-5 col-form-label">Tahun</label>
              <div class="col-sm-7">
                <input id="bayarTahun" readonly class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="bayarJumlahTrx" class="col-sm-5 col-form-label">Jumlah Transaksi COD</label>
              <div class="col-sm-7">
                <input id="bayarJumlahTrx" readonly class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="bayarJumlahTagihan" class="col-sm-5 col-form-label">Nominal Tagihan</label>
              <div class="col-sm-7">
                <input id="bayarJumlahTagihan" readonly class="form-control" />
              </div>
            </div>
            
            <div class="form-group row">
              <label for="bayarVia" class="col-sm-5 col-form-label">Bayar VIA</label>
              <div class="col-sm-7">
                <select id="bayarVia" class="form-control" name="bayarVia">
                </select>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnBayar"> Bayar Sekarang</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


