<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container" style="max-width:2000px">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container" style="max-width:2000px">
        <div class="card">
           <div class="card-header">
              <h3 class="card-title">
              </h3>
              <div class="row">
                <div >
                  <button type="button" onclick="filterTransaksi()" class="btn btn-info btn-sm">
                    <i class="fa fa-search"></i> Filter 
                  </button>
                </div>
                <div class="col-md-2 ">
                  <button type="button" onclick="prosesPelimpahan()" class="btn btn-warning btn-sm">
                    <i class="fa fa-money"></i> Proses Pelimpahan 
                  </button>
                </div>  
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  <nav>
                    <ul class="pagination pagination-md pull-right"></ul>
                  </nav>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<link type="text/css" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
<script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>


<!-- page script -->

<script>
  $(document).ready(function(){ 
    let limit = 10;
    let page = 0;
    let pageCurrent = 0;

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      dom: 'Bfrtip',
      searching: false,
      paging: false,
      bInfo: false,
      buttons: [
          { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
          { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"> Exportar a CSV</i>' },
          { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
          { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' }
      ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },
      columns: [
          { },
          { title: "No" },
          { title: "Transaksi Id" },
          { title: "Seller Id" },
          { title: "Seller Nama" },
          { title: "Nama" },
          { title: "Status" },
          { title: "Jenis Transaksi" },
          { title: "Tanggal" },
          { title: "Tanggal Bayar" },
          { title: "Via " },
          { title: "Id Pembayaran" },
          { title: "Nominal" },
          { title: "Status Pelimpahan" },
          { title: "Tanggal Pelimpahan" },
          { title: "Action" }
      ],
      columnDefs: [
          {
            'targets': 0,
            'checkboxes': {
               'selectRow': true
            }
         }
      ],
      select: {
         'style': 'multi'
      },
    });

    window.filterTransaksi = function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-filter-transaksi').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }

    window.detailTransaksi = function(id){
      $('#modal-sukses-transaksi').modal('show');
      document.getElementById("idTransaksi").value = id;
    }
    
    $('.btnSuccess').on('click', function(){
      var idTransaksi = document.getElementById("idTransaksi").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/sukses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: idTransaksi,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil disukseskan')
            $('#modal-sukses-transaksi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Success`
          );
        });
    });
    
    window.detailTransaksi = function(id){
      fetch('/transaksi/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("namaEdit").value = response.data.nama;
          document.getElementById("group-dropdown2").value = response.data.groupTransaksi.id;
          
          if(null == response.data.jurusan){
            document.getElementById("jurusan-dropdown2").value = '';
          }else{
            document.getElementById("jurusan-dropdown2").value = response.data.jurusan.id;
          }

          if(null == response.data.kelasTingkat){
            document.getElementById("tingkat-dropdown2").value = '';
          }else{
            document.getElementById("tingkat-dropdown2").value = response.data.kelasTingkat.id;
          }

          if(null == response.data.kelas){
            document.getElementById("kelas-dropdown2").value = '';
          }else{
            document.getElementById("kelas-dropdown2").value = response.data.kelas.id;
          }

          document.getElementById("nominalEdit").value = response.data.nominal;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-transaksi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.pageData = function(changePage){
      page = changePage;
      loadData();
    }

    window.pageBefore = function(){
      if(pageCurrent >= 10){
        pageCurrent = pageCurrent-10;
        page = pageCurrent;
      }

      loadData();
    }

    window.pageAfter = function(jumlahPage){
      if(pageCurrent + 10 < jumlahPage ){
        pageCurrent = pageCurrent + 10;
        page = pageCurrent;
      }

      loadData();
    }

    window.loadData = function(){
      let filterStartTanggalBeli = document.getElementById("filterStartTanggalBeli").value;
      let filterEndTanggalBeli = document.getElementById("filterEndTanggalBeli").value;

      let filterStartTanggal = document.getElementById("filterStartTanggal").value;
      let filterEndTanggal = document.getElementById("filterEndTanggal").value;

      let filterStatus = document.getElementById("filterStatus").value;
      let filterSellerId = document.getElementById("filterSellerId").value;
      let filterStatusPelimpahan = document.getElementById("filterStatusPelimpahan").value;
      let filterVia = document.getElementById("filterVia").value;

      dataSet = Array()
      $('#modal-loading').modal('show');
      
      fetch('/listPelimpahan/all?sDateInq='+ filterStartTanggalBeli +'&eDateInq='+filterEndTanggalBeli+'&sDatePay='+filterStartTanggal
      +'&eDatePay='+filterEndTanggal+'&sellerId='+filterSellerId+'&via='+filterVia+'&lunas='+filterStatus+'&terlimpahkan=' + filterStatusPelimpahan + '&page='+page+'&limit='+limit) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $(".pagination").html('')
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageBefore()" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>');
            
            let idx = 0;
            for(i = pageCurrent ; i < response.jumlahData; i++){
              let label = i + 1;
                if(page == i){
                $(".pagination").append('<li class="page-item active"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }else{
                $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }
              idx++;
              if(idx == limit){
                break;
              }
            }
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageAfter('+response.jumlahData+')" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>');

            $.each( response.data, function( key, value ) {
              no++;
              var btnStatus = '';
              var status = '';
              var idProduk = '';
              var namaProduk = '';
              var jenisTransaksi = '';
              let userId = '-';
              let userName = '-';
              let statusPelimpahan = '-';
              let tanggalPelimpahan = '-';

              if(value.jenisTransaksi < 3){
                if(value.jenisTransaksi == 1){
                  jenisTransaksi = "Upgrade";
                  idProduk = value.productMember.id;
                  namaProduk = value.productMember.nama;
              	  userId = value.user.id;
                  userName = value.user.name;  
	      }else if(value.jenisTransaksi == 2){
                  jenisTransaksi = "Belanja";
                  idProduk = value.product.id;
                  namaProduk = value.product.nama;
              	  userId = value.user.id;
                  userName = value.user.name;  
	      }
                
              }else{
                userName = value.pelangganNama;
              }

              if(value.status == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
                btnStatus = 'disabled';
              }

              if(value.statusPelimpahan == 1){
                statusPelimpahan = '<span class="badge badge-success">Sudah</span>';
              }else{
                statusPelimpahan = '<span class="badge badge-warning">Belum</span>';
              }
	      let sellerName = '-';
	      let sellerId = '-';
	      if(null != value.seller){
	      	sellerId = value.seller.id;
	        sellerName = value.seller.name;
	      }
  
              var btn1 = '<button '+ btnStatus + ' type="button" class="btn btn-info btn-sm" onclick="detailTransaksi(\'' + value.orderId + '\')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>';
              var nominal = new Number(value.jumlahNominal).toLocaleString("id-ID");
              var tmp = [value.id, no, value.id, sellerId, sellerName, userName, 
                status, jenisTransaksi, value.createdDate, value.tanggalBayar, value.via, value.idPembayaran, 
                nominal, statusPelimpahan, value.tanggalPelimpahan, btn1]
              dataSet.push(tmp)
            });
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        });  
    }

    loadData();

    window.prosesPelimpahan = function(){
      let rows_selected = table.column(0).checkboxes.selected();
      let selectedId = [];

      $.each(rows_selected, function(index, rowId){ 
        selectedId.push(rowId)
      });
      if(selectedId.length == 0){
        alert('Centang transaksi yang akan di limpahkan')
      }else{
        fetch('/listPelimpahan/apply?listId=' + selectedId, {
            method: 'GET'
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            document.getElementById("pelimpahanJumlah").value = response.data.jumlahNominal;
            $('#modal-apply-pelimpahan').modal('show');
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Success`
          );
        });
      }
      //console.log('Panjang : ' + selectedId.length)
      //console.log('Data : ' + selectedId) 
    }

    $('.btnFilter').on('click', function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      loadData();
      $('#modal-filter-transaksi').modal('hide');

      $('.btnFilter').prop("disabled", false);
      $('.btnFilter').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
      )
    });

    $('.btnPelimpahan').on('click', function(){
      let rows_selected = table.column(0).checkboxes.selected();
      let selectedId = [];

      $.each(rows_selected, function(index, rowId){ 
        selectedId.push(rowId)
      });
      
      $('.btnPelimpahan').prop("disabled", true);
      $('.btnPelimpahan').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      fetch('/listPelimpahan/doPelimpahan', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              selectedId: selectedId,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Pelimpahan Berhasil')
            $('#modal-apply-pelimpahan').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $('.btnPelimpahan').prop("disabled", false);
          $('.btnPelimpahan').html(
            `<span aria-hidden="false"></span> <i class="fa fa-check"></i> Proses Pelimpahan`
          )
        });
    });
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-sukses-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Sukseskan {{title}}</h4>
        <input type="text" style="visibility: hidden;" id="idTransaksi">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan mesukseskan {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSuccess">Success</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            <div class="form-group row">
              <label for="filterSellerId" class="col-sm-5 col-form-label">Seller Id</label>
              <div class="col-sm-7">
                <input type="text" id="filterSellerId" class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="filterTanggalBeli" class="col-sm-5 col-form-label">Mulai Tanggal Beli</label>
              <div class="col-sm-7">
                <input type="date" id="filterStartTanggalBeli" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="filterTanggalBeli" class="col-sm-5 col-form-label">Sampai Tanggal Beli</label>
              <div class="col-sm-7">
                <input type="date" id="filterEndTanggalBeli" class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="filterTanggal" class="col-sm-5 col-form-label">Mulai Tanggal Bayar</label>
              <div class="col-sm-7">
                <input type="date" id="filterStartTanggal" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="filterTanggal" class="col-sm-5 col-form-label">Sampai Tanggal Bayar</label>
              <div class="col-sm-7">
                <input type="date" id="filterEndTanggal" class="form-control" />
              </div>
            </div>

            <div class="form-group row">
              <label for="filterStatusPelimpahan" class="col-sm-5 col-form-label">Status Pelimpahan</label>
              <div class="col-sm-7">
                <select id="filterStatusPelimpahan" class="form-control" >
                  <option value="">Semua Status</option>
                  <option value="0">Belum Dilimpahkan</option>
                  <option value="1">Sudah Dilimpahkan</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="filterStatus" class="col-sm-5 col-form-label">Status Bayar</label>
              <div class="col-sm-7">
                <select id="filterStatus" class="form-control" >
                  <option value="">Semua Status</option>
                  <option value="0">Belum Bayar</option>
                  <option value="1">Sudah Bayar</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterVia" class="col-sm-5 col-form-label">Via Pembayaran</label>
              <div class="col-sm-7">
                <select id="filterVia" class="form-control" >
                  <option value="">Semua Via Bayar</option>
                  <option value="COD">COD</option>
                  <option value="ALFAMART">ALFAMART</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnFilter"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-apply-pelimpahan">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            <div class="form-group row">
              <label for="pelimpahanJumlah" class="col-sm-6 col-form-label">Jumlah Nominal Pelimpahan</label>
              <div class="col-sm-6">
                <input type="text" id="pelimpahanJumlah" class="form-control" readonly />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnPelimpahan"><i class="fa fa-check"></i> Proses Pelimpahan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


