<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container" style="max-width: 2000px">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container" style="max-width: 2000px">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-group" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Id" },
          { title: "Category" },
          { title: "Group" },
          { title: "Nama" },
          { title: "Product Biller Id" },
          { title: "Keterangan" },
          { title: "Jual" },
          { title: "Beli" },
          { title: "Harga Up" },
          { title: "Created Date" },
          { title: "Last updated" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 6, // your case first column
              "className": "text-center",
          },
          {
              "targets": [6], // your case first column
              "width" : "10%"
          }
      ],
    });

    let dropdownCategory = document.getElementById('group-dropdown');
    dropdownCategory.length = 0;
    fetch('/ppobGroup/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Group';
      defaultOption.value = '';
      dropdownCategory.add(defaultOption);
      dropdownCategory.selectedIndex = 0;
      
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownCategory.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

  let dropdownCategoryEdit = document.getElementById('group-dropdown-edit');
    dropdownCategoryEdit.length = 0;
    fetch('/ppobGroup/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Group';
      defaultOption.value = '';
      dropdownCategoryEdit.add(defaultOption);
      dropdownCategoryEdit.selectedIndex = 0;
      
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownCategoryEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    $('.btnSave').on('click', function(){
        var id = document.getElementById("addId").value;
        var group = document.getElementById("group-dropdown").value;
        var nama = document.getElementById("addNama").value;
        var beli = document.getElementById("addBeli").value;
        var jual = document.getElementById("addJual").value;
        var hargaUp = document.getElementById("addHargaUp").value;
        var keterangan = document.getElementById("addKeterangan").value;
        var productBillerId = document.getElementById("addProductBillerId").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/ppobProduct/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              group: group,
              id: id,
              beli: beli,
              jual: jual,
              hargaUp: hargaUp,
              keterangan: keterangan,
              productBillerId: productBillerId
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-group').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        var idPath = document.getElementById("idPath").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/ppobProduct/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus,
              path: idPath
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-group').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value;
        var group = document.getElementById("group-dropdown-edit").value;
        var nama = document.getElementById("editNama").value;
        var beli = document.getElementById("editBeli").value;
        var jual = document.getElementById("editJual").value;
        var hargaUp = document.getElementById("editHargaUp").value;
        var keterangan = document.getElementById("editKeterangan").value;
        var productBillerId = document.getElementById("editProductBillerId").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/ppobProduct/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              group: group,
              id: id,
              beli: beli,
              jual: jual,
              hargaUp: hargaUp,
              keterangan: keterangan,
              productBillerId: productBillerId
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-product').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editProduct = function(id){
      fetch('/ppobProduct/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          console.log(response)
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("editNama").value = response.data.nama;
          document.getElementById("group-dropdown-edit").value = response.data.pbProductGroup.id;
          document.getElementById("editBeli").value = response.data.beli;
          document.getElementById("editJual").value = response.data.jual;
          document.getElementById("editHargaUp").value = response.data.upHarga;
          document.getElementById("editKeterangan").value = response.data.keterangan;
          document.getElementById("editProductBillerId").value = response.data.billerPdkId;

          $('#modal-edit-product').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.settingDivisi = function(id, nama){
      fetch('/divisi/setting?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          $( ".tmpModalSetting" ).empty();
          document.getElementById("settingId").value = id;
          document.getElementById("settingNama").value = nama;
          var tmpModal = "";
          for(var item in response.data) {
            dataMenu[response.data[item].id] = response.data[item].flag 
            tmpModal += 
            '<div class="form-group row">'+
              '<label for="settingNama" class="col-sm-3 col-form-label">'+response.data[item].nama_divisi+'</label>'+
              '<div class="col-sm-9">'+
                '<input id="'+response.data[item].id+'" '+response.data[item].akses
                +' type="checkbox"  class="toggle" data-onstyle="success" data-offstyle="danger">'+
              '</div>'+
            '</div>'
          }
          $( ".tmpModalSetting" ).append( $(tmpModal) );
          $('.toggle').bootstrapToggle({
            on: 'On',
            off: 'Off'
          });
          $('#modal-setting-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapuscarouselMini = function(id, path){
      $('#modal-hapus-group').modal('show');
      document.getElementById("idHapus").value = id;
      document.getElementById("idPath").value = path;
    }

    window.loadData = function(){
      dataSet = Array()
      
      $('#modal-loading').modal('show');
      fetch('/ppobProduct/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              let id = value.id;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editProduct(\'' + id + '\')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapuscarouselMini(\'' + id + '\')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              let jual = new Number(value.jual).toLocaleString("id-ID");
              let beli = new Number(value.beli).toLocaleString("id-ID");
              let hargaUp = new Number(value.upHarga).toLocaleString("id-ID");

              var tmp = [no, value.id, value.pbProductGroup.pbProductCategory.nama, 
              value.pbProductGroup.nama, value.nama, value.billerPdkId, value.keterangan, jual, beli, hargaUp,
              value.createdDate, value.lastUpdate, btn1]
              dataSet.push(tmp)
            });
            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal" id="">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="addId" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addId" placeholder="Id Product">
              </div>
            </div>

            <div class="form-group row">
              <label for="addCategory" class="col-sm-3 col-form-label">Group</label>
              <div class="col-sm-9">
                <select id="group-dropdown" class="form-control" name="selectGroup"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Product">
              </div>
            </div>

            <div class="form-group row">
              <label for="addProductBillerId" class="col-sm-3 col-form-label">Product Biller Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addProductBillerId" placeholder="Product Biller Id">
              </div>
            </div>

            <div class="form-group row">
              <label for="addBeli" class="col-sm-3 col-form-label">Harga Beli</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addBeli" placeholder="Harga Beli">
              </div>
            </div>

            <div class="form-group row">
              <label for="addJual" class="col-sm-3 col-form-label">Harga Jual</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addJual" placeholder="Harga Jual">
              </div>
            </div>

            <div class="form-group row">
              <label for="addHargaUp" class="col-sm-3 col-form-label">Harga Up</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addHargaUp" placeholder="Harga Up">
              </div>
            </div>

            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addKeterangan" rows="2"></textarea>
              </div>
            </div>

          </div>
        </div>
      
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnSave">Add Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal"></form>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="addCategory" class="col-sm-3 col-form-label">GroupProduct</label>
              <div class="col-sm-9">
                <select id="group-dropdown-edit" class="form-control" name="selectCategory"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editNama" placeholder="Nama">
              </div>
            </div>

            <div class="form-group row">
              <label for="editProductBillerId" class="col-sm-3 col-form-label">Product Biller Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editProductBillerId" placeholder="Product Biller Id">
              </div>
            </div>

             <div class="form-group row">
              <label for="editBeli" class="col-sm-3 col-form-label">Harga Beli</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editBeli" placeholder="Harga Beli">
              </div>
            </div>

            <div class="form-group row">
              <label for="editJual" class="col-sm-3 col-form-label">Harga Jual</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editJual" placeholder="Harga Jual">
              </div>
            </div>

            <div class="form-group row">
              <label for="editHargaUp" class="col-sm-3 col-form-label">Harga Up</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editHargaUp" placeholder="Harga Up">
              </div>
            </div>

            <div class="form-group row">
              <label for="editKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="editKeterangan" rows="2"></textarea>
              </div>
            </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility: hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" style="visibility: hidden;" id="idPath">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


