<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-group" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Id" },
          { title: "Category" },
          { title: "Nama" },
          { title: "Created Date" },
          { title: "Last updated" },
          { title: "Image" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 6, // your case first column
              "className": "text-center",
          },
          {
              "targets": [6], // your case first column
              "width" : "10%"
          }
      ],
    });

    let dropdownCategory = document.getElementById('category-dropdown');
    dropdownCategory.length = 0;
    fetch('/ppobCategory/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Category';
      defaultOption.value = '';
      dropdownCategory.add(defaultOption);
      dropdownCategory.selectedIndex = 0;
      
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownCategory.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownCategoryEdit = document.getElementById('category-dropdown-edit');
    dropdownCategoryEdit.length = 0;
    fetch('/ppobCategory/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Category';
      defaultOption.value = '';
      dropdownCategoryEdit.add(defaultOption);
      dropdownCategoryEdit.selectedIndex = 0;
      
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownCategoryEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    $('.btnSave').on('click', function(){
        var id = document.getElementById("addId").value;
        var category = document.getElementById("category-dropdown").value;
        var nama = document.getElementById("addNama").value;
        var gambar = document.getElementById("addGambar");

        const formData = new FormData() 
        formData.append('file', gambar.files[0]);
        formData.append('nama', nama);
        formData.append('category', category);
        formData.append('id', id);

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/ppobGroup/add', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-group').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        var idPath = document.getElementById("idPath").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/ppobGroup/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus,
              path: idPath
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-group').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var pathLama = document.getElementById("pathEdit").value ;
        var path = document.getElementById("pathEdit").value ;
        var category = document.getElementById("category-dropdown-edit").value ;
        var nama = document.getElementById("editNama").value ;
        var gambar = document.getElementById("editGambar");
        
        const formData = new FormData() 
        formData.append('file', gambar.files[0]);
        formData.append('id', id);
        formData.append('categoryId', category);
        formData.append('nama', nama);
        formData.append('pathLama', pathLama);
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/ppobGroup/update', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-group').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editGroup = function(id){
      
      fetch('/ppobGroup/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          var path = response.data.image.replace("public/", "");

          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("pathEdit").value = response.data.image;
          document.getElementById("category-dropdown-edit").value = response.data.pbProductCategory.id;
          document.getElementById("editNama").value = response.data.nama;
          
          $('#editViewImg').attr('src', path);

          $('#modal-edit-group').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.settingDivisi = function(id, nama){
      fetch('/divisi/setting?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          $( ".tmpModalSetting" ).empty();
          document.getElementById("settingId").value = id;
          document.getElementById("settingNama").value = nama;
          var tmpModal = "";
          for(var item in response.data) {
            dataMenu[response.data[item].id] = response.data[item].flag 
            tmpModal += 
            '<div class="form-group row">'+
              '<label for="settingNama" class="col-sm-3 col-form-label">'+response.data[item].nama_divisi+'</label>'+
              '<div class="col-sm-9">'+
                '<input id="'+response.data[item].id+'" '+response.data[item].akses
                +' type="checkbox"  class="toggle" data-onstyle="success" data-offstyle="danger">'+
              '</div>'+
            '</div>'
          }
          $( ".tmpModalSetting" ).append( $(tmpModal) );
          $('.toggle').bootstrapToggle({
            on: 'On',
            off: 'Off'
          });
          $('#modal-setting-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapuscarouselMini = function(id, path){
      $('#modal-hapus-group').modal('show');
      document.getElementById("idHapus").value = id;
      document.getElementById("idPath").value = path;
    }

    window.loadData = function(){
      dataSet = Array()
      
      $('#modal-loading').modal('show');
      fetch('/ppobGroup/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              let id = value.id;
              var path = value.image.replace("public/", "");
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editGroup(\'' + id + '\')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapuscarouselMini(\'' + id + '\', \''+ value.image + '\')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var gambar = "<img width='150px' src = '"+path+"'></img>";
              var tmp = [no, value.id, value.pbProductCategory.nama , value.nama, value.createdDate, value.lastUpdate, gambar, btn1]
              dataSet.push(tmp)
            });
            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal" id="">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="addId" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addId" placeholder="Id Group">
              </div>
            </div>

            <div class="form-group row">
              <label for="addCategory" class="col-sm-3 col-form-label">Category</label>
              <div class="col-sm-9">
                <select id="category-dropdown" class="form-control" name="selectCategory"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Group">
              </div>
            </div>

            <div class="form-group row">
              <label for="addGmbar" class="col-sm-3 col-form-label">Gambar</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="addGambar" placeholder="Gambar">
              </div>
            </div>
          </div>
        </div>
      
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnSave">Add Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal"></form>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="pathEdit" class="col-sm-3 col-form-label">Path</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="pathEdit" placeholder="Id" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="addCategory" class="col-sm-3 col-form-label">Category</label>
              <div class="col-sm-9">
                <select id="category-dropdown-edit" class="form-control" name="selectCategory"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editNama" placeholder="Nama">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="editLink" class="col-sm-3 col-form-label">Gambar Preview</label>
              <div class="col-sm-9">
                <img id="editViewImg" width="150"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="addGambar" class="col-sm-3 col-form-label">Gambar Upload</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="editGambar" placeholder="Gambar">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility: hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" style="visibility: hidden;" id="idPath">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


