<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<style>
    .datepicker {
      z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-product" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 

    let dropdownRoleEdit = document.getElementById('role-dropdown-edit');
    let dropdownRole = document.getElementById('role-dropdown');
    dropdownRole.length = 0;
    dropdownRoleEdit.length = 0;
    fetch('/role/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      let defaultOptionEdit = document.createElement('option');
      defaultOption.text = 'Pilih Role';
      defaultOption.value = '';
      dropdownRole.add(defaultOption);
      dropdownRole.selectedIndex = 0;

      defaultOptionEdit.text = 'Pilih Role';
      defaultOptionEdit.value = '';
      dropdownRoleEdit.add(defaultOption);
      dropdownRoleEdit.selectedIndex = 0;
      
      response.json().then(function(data) {  
        let option;
        let optionEdit;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].name;
            option.value = data.data[i].id;
            dropdownRole.add(option);

            optionEdit = document.createElement('option');
            optionEdit.text = data.data[i].name;
            optionEdit.value = data.data[i].id;
            dropdownRoleEdit.add(optionEdit);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama" },
          { title: "Harga" },
          { title: "Keterangan" },
          { title: "Gift" },
          { title: "Role" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [7], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0,1], // your case first column
              "width" : "5%"
          }
      ],
    });

    fetch('/productMemberDetail/all', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        $('.selectProdukMemberDetail').empty();
        $('.selectProdukMemberDetailEdit').empty();
        $.each(response.data, function( key, value ) {
          data1.push({id: value.id, text: value.nama, selected:""})
        });
        $('.selectProdukMemberDetail').select2({data: data1});
        $('.selectProdukMemberDetailEdit').select2({data: data1});
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    });

    $('.btnSave').on('click', function(){
        var nama = document.getElementById("addNama").value ;
        var roleId = document.getElementById("role-dropdown").value ;
        var keterangan = document.getElementById("addKeterangan").value ;
        var selectProdukDetail = $('.selectProdukMemberDetail').val()
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/productMember/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              roleId: roleId,
              keterangan: keterangan,
              produkDetail: selectProdukDetail
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/productMember/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){  
        var id = document.getElementById("idEdit").value ;
        var nama = document.getElementById("editNama").value ;
        var keterangan = document.getElementById("editKeterangan").value ;
        var roleId = document.getElementById("role-dropdown-edit").value ;
        var selectProdukDetail = $('.selectProdukMemberDetailEdit').val()
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        
        fetch('/productMember/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              nama: nama,
              roleId: roleId,
              keterangan: keterangan,
              produkDetail: selectProdukDetail
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editProduct = function(id){
      fetch('/productMember/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("editNama").value = response.data.nama;
          document.getElementById("editKeterangan").value = response.data.keterangan;
          document.getElementById("role-dropdown-edit").value = response.data.role.id;
          
          var Values = new Array();
          for(i=0; i<response.data.productMemberDetail.length; i++){
            Values.push(response.data.productMemberDetail[i].id);
          }

          $('.selectProdukMemberDetailEdit').val(Values).trigger('change');
          $('#modal-edit-product').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.editProductDetail = function(id){
      fetch('/productMember/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("editNama").value = response.data.nama;
          document.getElementById("editKeterangan").value = response.data.keterangan;
          document.getElementById("role-dropdown-edit").value = response.data.role.id;

          $('#modal-add-productDetail').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()
      
      $('#modal-loading').modal('show');
      fetch('/productMember/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var harga = new Number(value.harga).toLocaleString("id-ID");
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editProduct(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +
                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusKelas(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var tmp = [no, value.id, value.nama, harga, value.keterangan, value.gift, value.role.name, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">

            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Product Member">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="role-dropdown" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select id="role-dropdown" class="form-control" name="selectRole"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="role-dropdown" class="col-sm-3 col-form-label">Produk Detail</label>
              <div class="col-sm-9">
                <select class="select2 selectProdukMemberDetail" required multiple="multiple" 
                data-placeholder="Pilih Produk Detail" style="width: 100%;">
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addKeterangan" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editNama">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="role-dropdown-edit" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select id="role-dropdown-edit" class="form-control" name="selectRole"></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="role-dropdown" class="col-sm-3 col-form-label">Produk Detail</label>
              <div class="col-sm-9">
                <select class="select2 selectProdukMemberDetailEdit" required multiple="multiple" 
                data-placeholder="Pilih Produk Detail" style="width: 100%;">
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="editKeterangan" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-add-productDetail">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Add Detail {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editNama">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="role-dropdown-edit" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select id="role-dropdown-edit" class="form-control" name="selectRole"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="editKeterangan" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


