<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<input type="text" id="home" style="display: none;" value="{{home}}">

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="/admin/img/user4-128x128.jpg"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{nama}}</h3>

                <p class="text-muted text-center">{{member}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Jumlah Gift</b> <a class="float-right">{{gift}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>ID</b> <a class="float-right">{{id}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Email</b> <a class="float-right">{{email}}</a>
                  </li> 
                  <li class="list-group-item">
                    <b>No Telp</b> <a class="float-right">{{noTelp}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Jenis Kelamin</b> <a class="float-right">{{gender}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>T. Tanggal Lahir</b> <a class="float-right">{{tempatLahir}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Alamat Toko</b> <a class="float-right">{{alamatLengkap}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Nama Website 1</b> <a class="float-right">{{domain1}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Nama Website 2</b> <a class="float-right">{{domain2}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Nama Website 3</b> <a class="float-right">{{domain3}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Status Domain</b> <a class="float-right" style="color: red;">{{statusDomain}}</a>
                  </li>
                </ul>

                <a data-toggle="modal" data-target="#modal-edit-password" class="btn btn-info btn-block"><b>Ubah Password</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#dataPribadi" data-toggle="tab">Data Pribadi</a></li>
                  <li class="nav-item"><a class="nav-link" href="#domainToko" data-toggle="tab">Nama Domain</a></li>
                  <li class="nav-item"><a class="nav-link" href="#bannerToko" data-toggle="tab">Banner & Logo Toko</a></li>
                  <li class="nav-item"><a class="nav-link" href="#alamatToko" data-toggle="tab">Alamat Toko</a></li>
                  <li class="nav-item"><a class="nav-link" href="#dataBank" data-toggle="tab">Data Bank</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="dataPribadi">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="identitasNama" class="col-sm-2 col-form-label">Nama Sesuai KTP</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasNama" placeholder="Nama KTP" value="{{nama}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="identitasNik" class="col-sm-2 col-form-label">NIK</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasNik" placeholder="NIK" value="{{nik}}" readonly>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="identitasAlamat" class="col-sm-2 col-form-label">Alamat KTP</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasAlamat" placeholder="Alamat KTP" value="{{alamat}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="identitasTempatLahir" class="col-sm-2 col-form-label">Tempat Tanggal Lahir</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasTempatLahir" placeholder="Tempat Lahir" value="{{tempatLahir}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="identitasGender" class="col-sm-2 col-form-label">Jenis Kelamin</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasGender" placeholder="Jenis Kelamin" value="{{gender}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="identitasNoTelp" class="col-sm-2 col-form-label">No Telp</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasNoTelp" placeholder="No Telp yang terhubung ke WhatsApp" value="{{noTelp}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="identitasEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasEmail" placeholder="Email" value="{{email}}" readonly>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="identitasInstagram" class="col-sm-2 col-form-label">Instagram</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasInstagram" placeholder="Instagram" value="{{instagram}}" readonly>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="identitasFacebook" class="col-sm-2 col-form-label">Facebook</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="identitasFacebook" placeholder="Facebook" value="{{facebook}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="identitasPathKtp" class="col-sm-2 col-form-label">Gambar KTP</label>
                        <div class="col-sm-10">
                          <img src="{{fotoKtp}}" alt="Logo" width="150">
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-2">
                          <a onclick="editProfile()" class="btn btn-warning btn-block"><b>Ubah Data Pribadi</b></a>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane" id="domainToko">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Perioritas Domain 1</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="perDomain1" placeholder="Domain 1" value="{{domain1}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Perioritas Domain 2</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="perDomain2" placeholder="Domain 2" value="{{domain2}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Perioritas Domain 3</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="perDomain3" placeholder="Domain 3" value="{{domain3}}" readonly>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Domain yang terverifikasi</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control {{domainClass}}" id="perDomain3" placeholder="-" value="{{domainApprove}}" readonly>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-2">
                          <a onclick="editDomain()" class="btn btn-warning btn-block"><b>Edit Domain</b></a>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-6 col-form-label">NB: Jika Domain sudah terverifikasi, maka nama domain tidak dapat diubah lagi</label>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="bannerToko">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">

                      <div>
                        <i class="fas fa-image bg-primary"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-edit"></i> jumlah logo hanya 1 (satu)</span>

                          <h3 class="timeline-header"><a href="javascript:" onclick="editLogo()">Edit Logo</a></h3>

                          <div class="timeline-body">
                            <img src="{{bannerLogo}}" alt="Logo" width="150">
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item --> 
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-edit"></i> Klik Pada gambar untuk mengubah atau menghapus</span>

                          <h3 class="timeline-header"><a href="javascript:" onclick="addBanner()">Tambah Banner Baru</a> </h3>

                          <div class="timeline-body">
                            {{#each banners}}
                              <a href="javascript:" onclick="editBanner({{id}})"><img src="{{src}}" width="330" alt="{{urutan}}"></a>
                            {{/each}}
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="fa fa-check bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="alamatToko">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Provinsi</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{provinsi}}" id="alamatProvinsi" placeholder="Provinsi">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Kabupaten / Kota</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{kota}}" id="alamatKota" placeholder="Kabupaten / Kota">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Kecamatan</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{kecamatan}}" id="alamatKecamatan" placeholder="Kecamatan">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="alamatDetail" class="col-sm-2 col-form-label">Detail Alamat (Jl, RT/ RW)</label>
                        <div class="col-sm-10">
                          <textarea readonly class="form-control" rows="3" id="alamatDetail" placeholder="Nama Jalan / RT / RW / Nomer Rumah">{{alamatToko}}</textarea>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-2">
                          <a onclick="editAlamat()" class="btn btn-warning btn-block"><b>Edit Alamat</b></a>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="dataBank">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="bankNama" class="col-sm-2 col-form-label">Nama Bank</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{bankName}}" id="bankNama" placeholder="Nama Bank">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="bankNoRek" class="col-sm-2 col-form-label">No Rekening</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{bankNoRek}}" id="bankNoRek" placeholder="Nomor Rekening">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="bankAtasNama" class="col-sm-2 col-form-label">Nama Pemilik Rekening</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{bankAtasNama}}" id="bankAtasNama" placeholder="Nama Pemilik Rekening">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="bankCabang" class="col-sm-2 col-form-label">Cabang Bank</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{bankCabang}}" id="bankCabang" placeholder="Cabang Bank">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="bankLastUpdate" class="col-sm-2 col-form-label">Terakhir diubah</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control" value="{{bankLastUpdate}}" id="bankLastUpdate" placeholder="Tanggal Terakhir diubah">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="bankStatus" class="col-sm-2 col-form-label">Status Verifikasi</label>
                        <div class="col-sm-10">
                          <input readonly type="text" class="form-control {{bankClass}}" value="{{bankStatus}}" id="bankStatus" placeholder="Status Verifikasi admin">
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-2">
                          <a onclick="editBank()" class="btn btn-warning btn-block"><b>Edit Bank</b></a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script>
  $(document).ready(function(){
    $('.btnEdit').on('click', function(){
      let id = document.getElementById("idEdit").value ;
      let pathLama = document.getElementById("pathKtpLama").value ;
      let nama = document.getElementById("namaEdit").value ;
      let email = document.getElementById("emailEdit").value ;
      let noTelp = document.getElementById("noTelpEdit").value;
      let tempatLahir = document.getElementById("tempatLahirEdit").value ;
      let gender = document.getElementById("genderEdit").value ;
      let tglLahir = document.getElementById("tanggalLahirEdit").value ;
      let alamatKtp = document.getElementById("alamatKtpEdit").value;
      let instagram = document.getElementById("instagramEdit").value;
      let facebook = document.getElementById("facebookEdit").value;
      let nik = document.getElementById("nikEdit").value;
      let roleId = document.getElementById("roleIdEdit").value ;
      let dtAwal = tglLahir.split("-");
      let gambar = document.getElementById("editGambar");
        
        const formData = new FormData() 
        formData.append('file', gambar.files[0]);
        formData.append('id', id);
        formData.append('firstName', nama);
        formData.append('email', email);
        formData.append('alamat', alamatKtp);
        formData.append('noTelp', noTelp);
        formData.append('gender', gender);
        formData.append('tempatLahir', tempatLahir);
        formData.append('tanggalLahir', dtAwal[2] + "-" + dtAwal[1] + "-" + dtAwal[0]);
        formData.append('role', roleId);
        formData.append('nik', nik);
        formData.append('instagram', instagram);
        formData.append('facebook', facebook);
        formData.append('pathLama', pathLama);

      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/profile/updateIdentitas', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          toastr.success('Data berhasil diubah')
          $('#modal-edit-profile').modal('hide');
          location.reload();  
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $(this).prop("disabled", false);
        $(this).html(
          `<span aria-hidden="false"></span> Save`
        );
      });
    });

    $('.btnEditDomain').on('click', function(){
      let id = document.getElementById("idEditDomain").value ;
      let domain1 = document.getElementById("domain1Edit").value ;
      let domain2 = document.getElementById("domain2Edit").value ;
      let domain3 = document.getElementById("domain3Edit").value ;

      let eDomain1 = document.getElementById("eDomain1Edit").value ;
      let eDomain2 = document.getElementById("eDomain2Edit").value ;
      let eDomain3 = document.getElementById("eDomain3Edit").value ;

      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/profile/update/domain', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: id,
            domain1: domain1,
            domain2: domain2,
            domain3: domain3,
            eDomain1 : eDomain1,
            eDomain2 : eDomain2,
            eDomain3 : eDomain3
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          toastr.success('Data berhasil diubah')
          $('#modal-edit-domain').modal('hide');
          location.reload();  
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $(this).prop("disabled", false);
        $(this).html(
          `<span aria-hidden="false"></span> Save Domain`
        );
      });
    });

    $('.btnEditAlamat').on('click', function(){
      let id = document.getElementById("idEditAlamat").value ;
      let alamat = document.getElementById("editDetailAlamat").value ;
      let provinsiId = document.getElementById("provinsiIdEdit").value ;
      let kotaId = document.getElementById("kotaIdEdit").value ;
      let kecamatanId = document.getElementById("kecamatanIdEdit").value ;
            
      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/profile/update/alamat', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: id,
            alamat: alamat,
            provinsiId: provinsiId,
            kotaId: kotaId,
            kecamatanId: kecamatanId
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          toastr.success('Alamat berhasil diubah')
          $('#modal-edit-alamat').modal('hide');
          location.reload();  
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $(this).prop("disabled", false);
        $(this).html(
          `<span aria-hidden="false"></span> Save Alamat`
        );
      });
    });

    fetch('/rajaOngkir/provinsi', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        
        $.each(response.data, function( key, value ) {
          data1.push({id: value.id, text: value.provinsiName})
        });
        $('.selectProvinsi').select2({data: data1});
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    });

    fetch('/profile/listBank', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        $.each(response.data, function( key, value ) {
          data1.push({id: value.kodeBank, text: value.nama})
        });
        $('.selectBank').select2({data: data1});
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    });

  window.prosesKota = function(){
    let idProvinsi = $('.selectProvinsi').val()
    fetch('/rajaOngkir/kota?id=' + idProvinsi, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        $('.selectKota').empty();

        $.each(response.data, function( key, value ) {
          data1.push({id: value.id, text: value.namaKota})
        });
        
        $('.selectKota').select2({data: data1});
        prosesKecamatan();
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    }); 
  }

  window.prosesKecamatan = function(){
    let idProvinsi = $('.selectKota').val()
    
    fetch('/rajaOngkir/kecamatan?id=' + idProvinsi, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        
        $('.selectKecamatan').empty();
        $.each(response.data, function( key, value ) {
          data1.push({id: value.id, text: value.namaKecamatan})
        });
        
        $('.selectKecamatan').select2({data: data1});
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    }); 
  }

  window.editProfile = function(){
    //$('#modal-edit-profile').modal('show');
    fetch('/profile/edit', {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var tgl1;
        if(response.data.tanggalLahir != null){
          tgl1 = moment(response.data.tanggalLahir, "DD-MM-YYYY").format( "YYYY-MM-DD");
        }
        
        document.getElementById("idEdit").value = response.data.id;
        document.getElementById("namaEdit").value = response.data.name;
        document.getElementById("emailEdit").value = response.data.email;
        document.getElementById("noTelpEdit").value = response.data.noTelp;
        document.getElementById("tempatLahirEdit").value = response.data.tempatLahir;
        document.getElementById("genderEdit").value = response.data.gender;
        document.getElementById("tanggalLahirEdit").value = tgl1;
        document.getElementById("roleIdEdit").value = response.data.roleId;
        document.getElementById("alamatKtpEdit").value = response.data.alamatKtp;
        document.getElementById("instagramEdit").value = response.data.instagram;
        document.getElementById("facebookEdit").value = response.data.facebook;
        document.getElementById("nikEdit").value = response.data.nik;
        document.getElementById("pathKtpLama").value = response.data.pathKtp;

        let path = "";
        if(null != response.data.pathKtp){
          path = response.data.pathKtp.replace("public/", "");
        }
        
        $('#previewKtp').attr('src', path);

        $('#modal-edit-profile').modal('show');
        

      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });
  }

  window.editDomain = function(){
    //$('#modal-edit-profile').modal('show');
    fetch('/profile/edit', {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        document.getElementById("idEditDomain").value = response.data.id;
        
        let domain1 = response.data.domain1;
        let domain2 = response.data.domain2;
        let domain3 = response.data.domain3;

        let dom1 = domain1.split(".");
        let dom2 = domain2.split(".");
        let dom3 = domain3.split(".");

        document.getElementById("domain1Edit").value = dom1[0];
        document.getElementById("domain2Edit").value = dom2[0];
        document.getElementById("domain3Edit").value = dom3[0];

        document.getElementById("eDomain1Edit").value = "." + dom1[1];
        document.getElementById("eDomain2Edit").value = "." + dom2[1];
        document.getElementById("eDomain3Edit").value = "." + dom3[1];

        $('#modal-edit-domain').modal('show');

      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });
  }

  window.editAlamat = function(){
    fetch('/profile/edit', {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        document.getElementById("idEditAlamat").value = response.data.id;
        
        document.getElementById("editDetailAlamat").value = response.data.alamatToko;
        
        $('#provinsiIdEdit').select2('data', {id: response.data.provinsiId, text: response.data.provinsiName});
        document.getElementById("kotaIdEdit").value = response.data.kotaId;
        document.getElementById("kecamatanIdEdit").value = response.data.kecamatanId;
        
        $('#modal-edit-alamat').modal('show');

      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });
  }

  window.editLogo = function(){
    fetch('/profile/edit', {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        document.getElementById("idEditLogo").value = response.data.id;
        document.getElementById("logoPath").value = response.data.pathLogo;

        let path = response.data.pathLogo.replace("../toko/public/datas/logos", "logos");
        $('#editViewLogo').attr('src', path);

        $('#modal-edit-logo').modal('show');
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });
  }

  window.addBanner = function(){
    $('#modal-add-banner').modal('show');
  }

  window.editBanner = function(id){
    fetch('/profile/editBanner?id=' + id, {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        document.getElementById("idEditBanner").value = response.data.id;
        document.getElementById("bannerUrutanEdit").value = response.data.urutan;
        document.getElementById("bannerPath").value = response.data.src;

        let path = response.data.src.replace("../toko/public/datas/banners", "banners");
        $('#editViewBanner').attr('src', path);

        $('#modal-edit-banner').modal('show');
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });
  }

  window.editBank = function(id){
    fetch('/profile/edit?id=' + id, {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        document.getElementById("idEditBank").value = response.data.userBankId;
        document.getElementById("bankEditKode").value = response.data.userBankKode;
        document.getElementById("bankEditNoRek").value = response.data.userBankNoRek;
        document.getElementById("bankEditNamaPemilik").value = response.data.userBankAtasNama;
        document.getElementById("bankEditCabang").value = response.data.userBankCabang;

        $('#modal-edit-bank').modal('show');
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });
  }

    
  $('.btnPasswordEdit').on('click', function(){
      var nis = document.getElementById("nisPasswordEdit").value;
      var passLama = document.getElementById("passLamaEdit").value;
      var passBaru = document.getElementById("passBaruEdit").value;
      var passBaru2 = document.getElementById("passBaru2Edit").value;
    
      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/users/password', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            nis: nis,
            passwordLama: passLama,
            passwordBaru: passBaru,
            passwordBaru2: passBaru2,
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          toastr.success('Password berhasil diubah')
          $('#modal-edit-password').modal('hide');
          location.reload();  
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $(this).prop("disabled", false);
        $(this).html(
          `<span aria-hidden="false"></span> Save`
        );
      });
    });

  $('.btnEditLogo').on('click', function(){
    let id = document.getElementById("idEditLogo").value ;
    let pathLama = document.getElementById("logoPath").value ;
    var gambar = document.getElementById("editLogo");
    
    $(this).prop("disabled", true);
    $(this).html(
      `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
    );

    const formData = new FormData() 
    formData.append('id', id);
    formData.append('pathLama', pathLama);
    formData.append('file', gambar.files[0]);
    
    fetch('/profile/updateLogo', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        toastr.success("Berhasil mengubah logo")
        $('#modal-edit-logo').modal('hide');
        location.reload(); 
      }else{
        var keterangan = "";
        if( Array.isArray(response.errors)){
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
            toastr.error(value.msg)
          });
        }else{
            toastr.error(response.message)
        }
      }
      $(this).prop("disabled", false);
      $(this).html(
        `<span aria-hidden="false"></span> Ubah Logo`
      );
    });
  });

  $('.btnAddBanner').on('click', function(){
    let urutan = document.getElementById("bannerUrutan").value ;
    let bannerPath = document.getElementById("bannerFile") ;
    
    $(this).prop("disabled", true);
    $(this).html(
      `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
    );

    const formData = new FormData() 
    formData.append('urutan', urutan);
    formData.append('file', bannerPath.files[0]);
    
    fetch('/profile/addBanner', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        toastr.success("Berhasil menambah banner")
        $('#modal-add-banner').modal('hide');
        location.reload(); 
      }else{
        var keterangan = "";
        if( Array.isArray(response.errors)){
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
            toastr.error(value.msg)
          });
        }else{
            toastr.error(response.message)
        }
      }
      $(this).prop("disabled", false);
      $(this).html(
        `<span aria-hidden="false"></span> Tambah Banner`
      );
    });
  });

  $('.btnEditBanner').on('click', function(){
    let id = document.getElementById("idEditBanner").value ;
    let pathLama = document.getElementById("bannerPath").value ;
    let urutan = document.getElementById("bannerUrutanEdit").value ;
    var gambar = document.getElementById("editBannerFile");
    
    $(this).prop("disabled", true);
    $(this).html(
      `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
    );

    const formData = new FormData() 
    formData.append('id', id);
    formData.append('pathLama', pathLama);
    formData.append('urutan', urutan);
    formData.append('file', gambar.files[0]);
    
    fetch('/profile/updateBanner', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        toastr.success("Berhasil mengubah banner")
        $('#modal-edit-banner').modal('hide');
        location.reload(); 
      }else{
        var keterangan = "";
        if( Array.isArray(response.errors)){
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
            toastr.error(value.msg)
          });
        }else{
            toastr.error(response.message)
        }
      }
      $(this).prop("disabled", false);
      $(this).html(
        `<span aria-hidden="false"></span> Ubah Banner`
      );
    });
  });

  $('.btnHapusBanner').on('click', function(){
    let id = document.getElementById("idEditBanner").value ;
    let pathLama = document.getElementById("bannerPath").value ;
    
    $(this).prop("disabled", true);
    $(this).html(
      `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
    );

    const formData = new FormData() 
    formData.append('id', id);
    formData.append('pathLama', pathLama);
    
    fetch('/profile/hapusBanner', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          id: id,
          pathLama: pathLama
        })
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        toastr.success("Berhasil menghapus banner")
        $('#modal-edit-banner').modal('hide');
        location.reload(); 
      }else{
        var keterangan = "";
        if( Array.isArray(response.errors)){
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
            toastr.error(value.msg)
          });
        }else{
            toastr.error(response.message)
        }
      }
      $(this).prop("disabled", false);
      $(this).html(
        `<span aria-hidden="false"></span> Hapus Banner`
      );
    });
  });

  $('.btnEditBank').on('click', function(){
    let id = document.getElementById("idEditBank").value;
    let kodeBank = document.getElementById("bankEditKode").value;
    let noRek = document.getElementById("bankEditNoRek").value;
    let atasNama = document.getElementById("bankEditNamaPemilik").value;
    let cabang = document.getElementById("bankEditCabang").value;

    $(this).prop("disabled", true);
    $(this).html(
      `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
    );
    fetch('/profile/updateBank', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          id: id,
          kodeBank: kodeBank,
          noRek: noRek,
          atasNama: atasNama,
          cabang: cabang
        })
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        toastr.success('Bank berhasil diubah')
        $('#modal-edit-bank').modal('hide');
        location.reload();  
      }else{
        var keterangan = "";
        if( Array.isArray(response.errors)){
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
            toastr.error(value.msg)
          });
        }else{
            toastr.error(response.message)
        }
      }
      $(this).prop("disabled", false);
      $(this).html(
        `<span aria-hidden="false"></span> Ubah Data Bank`
      );
    });
  });


})
</script>

{{> footerAdmin }}
<div class="modal fade" id="modal-edit-profile">
  <div class="modal-dialog" >
    <div class="modal-content" style="width: 640px;margin: auto;">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Ubah Data Identitas</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="namaEdit" class="col-sm-3 col-form-label">Nama KTP</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="namaEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="nikEdit" class="col-sm-3 col-form-label">NIK</label>
              <div class="col-sm-9">
                <input onkeyup="this.value=this.value.replace(/[^\d]/,'')" type="text" class="form-control" id="nikEdit" placeholder="Nomor Induk Kependudukan (NIK)">
              </div>
            </div>
            <div class="form-group row" style="display: none;">
              <label for="pathKtpLama" class="col-sm-3 col-form-label">Path Lama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="pathKtpLama" >
              </div>
            </div>
            <div class="form-group row">
              <label for="noTelpEdit" class="col-sm-3 col-form-label">Telp Terdaftar WA</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="noTelpEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="emailEdit" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="emailEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="tempatLahirEdit" class="col-sm-3 col-form-label">Tempat Lahir</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="tempatLahirEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="tanggalLahirEdit" class="col-sm-3 col-form-label">Tanggal Lahir</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="tanggalLahirEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="genderEdit" class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <select class="form-control" id="genderEdit">
                  <option value="L">Laki-laki</option>
                  <option value="P">Perempuan</option>  
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="alamatKtpEdit" class="col-sm-3 col-form-label">Alamat KTP</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="alamatKtpEdit" placeholder="Alamat Sesuai KTP" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="instagramEdit" class="col-sm-3 col-form-label">Instagram</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="instagramEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="facebookEdit" class="col-sm-3 col-form-label">Facebook</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="facebookEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="previewKtp" class="col-sm-5 col-form-label">Gambar Preview KTP</label>
              <div class="col-sm-7">
                <img id="previewKtp" width="200"> 
              </div>
            </div>
            <div class="form-group row">
              <label for="editGambar" class="col-sm-3 col-form-label">Unggah KTP</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="editGambar" placeholder="Gambar">
              </div>
            </div>
            <div class="form-group row" style="display: none;">
              <label for="roleIdEdit" class="col-sm-3 col-form-label">Role Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="roleIdEdit" readonly>
              </div>
            </div> 
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-domain">
  <div class="modal-dialog" >
    <div class="modal-content" style="width: 640px;margin: auto;">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Ubah Domain</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEditDomain" class="col-sm-3 col-form-label">ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEditDomain" placeholder="Id" readonly>
              </div>
            </div>
   
            <div class="form-group row">
              <label for="domain1Edit" class="col-sm-3 col-form-label">Domain 1</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="domain1Edit">
              </div>
              <div class="col-sm-3">
                <select id="eDomain1Edit" class="form-control">
                  <option value=".com">.com </option>
                  <option value=".id">.id </option>
                  <option value=".org">.org </option>
                  <option value=".net">.net </option>
                  <option value=".com">.info </option>
                </select>
              </div>              
            </div>
            <div class="form-group row">
              <label for="domain2Edit" class="col-sm-3 col-form-label">Domain 2</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="domain2Edit">
              </div>
              <div class="col-sm-3">
                <select id="eDomain2Edit" class="form-control">
                  <option value=".com">.com </option>
                  <option value=".id">.id </option>
                  <option value=".org">.org </option>
                  <option value=".net">.net </option>
                  <option value=".com">.info </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="domain3Edit" class="col-sm-3 col-form-label">Domain 3</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="domain3Edit">
              </div>
              <div class="col-sm-3">
                <select id="eDomain3Edit" class="form-control">
                  <option value=".com">.com </option>
                  <option value=".id">.id </option>
                  <option value=".org">.org </option>
                  <option value=".net">.net </option>
                  <option value=".com">.info </option>
                </select>
              </div>
            </div>
            
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditDomain">Save Domain</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-password">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Ubah Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="nisPasswordEdit" class="col-sm-4 col-form-label">ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" value="{{id}}" id="nisPasswordEdit" readonly placeholder="ID" >
              </div>
            </div>
            <div class="form-group row">
              <label for="passLamaEdit" class="col-sm-4 col-form-label">Password Lama</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="passLamaEdit" placeholder="Password Lama" >
              </div>
            </div>
            <div class="form-group row">
              <label for="passBaruEdit" class="col-sm-4 col-form-label">Password Baru</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="passBaruEdit" placeholder="Password Baru" >
              </div>
            </div>
            <div class="form-group row">
              <label for="passBaru2Edit" class="col-sm-4 col-form-label">Ketik ulang Password Baru</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="passBaru2Edit" placeholder="Ulangi Password Baru">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnPasswordEdit">Ubah Password</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-logo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Ubah Logo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEditLogo" class="col-sm-4 col-form-label">ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="idEditLogo" readonly placeholder="ID" >
              </div>
            </div>
            <div class="form-group row">
              <label for="logoPath" class="col-sm-4 col-form-label">Path Logo</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="logoPath" placeholder="Path Logo" readonly >
              </div>
            </div>

            <div class="form-group row">
              <label for="editLink" class="col-sm-4 col-form-label">Gambar Preview</label>
              <div class="col-sm-8">
                <img id="editViewLogo" width="200"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="editLogo" class="col-sm-4 col-form-label">Upload Logo</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="editLogo" placeholder="Logo">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditLogo">Ubah Logo</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-alamat">
  <div class="modal-dialog" >
    <div class="modal-content" style="width: 640px;margin: auto;">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Ubah Alamat Toko</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEditAlamat" class="col-sm-3 col-form-label">ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEditAlamat" placeholder="Id" readonly>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="genderEdit" class="col-sm-3 col-form-label">Provinsi</label>
              <div class="col-sm-9">
                <select id="provinsiIdEdit" class="form-control select2 selectProvinsi" onchange="prosesKota()">
                  <option value="">Alamat Provinsi</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="editBatas" class="col-sm-3 col-form-label">Kab. / Kota</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select id="kotaIdEdit" class="form-control select2 selectKota" onchange="prosesKecamatan()">
                    <option selected value="">Alamat Kota/Kabupaten </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="editBatas" class="col-sm-3 col-form-label">Kecamatan</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select id="kecamatanIdEdit" class="form-control select2 selectKecamatan">
                    <option selected value="">Alamat Kecamatan </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="editDetailAlamat" class="col-sm-3 col-form-label">Detail Alamat</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <textarea id="editDetailAlamat" class="form-control" rows="4" placeholder="Mohon isi detail alamat seperti kelurahan, rt, rw"></textarea>
                </div>
              </div>
            </div>
           
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditAlamat">Save Alamat</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-add-banner">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Tambah Banner</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="bannerUrutan" class="col-sm-4 col-form-label">Urutan Banner</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="bannerUrutan" placeholder="Urutan Banner" >
              </div>
            </div>

            <div class="form-group row">
              <label for="bannerFile" class="col-sm-4 col-form-label">Upload Banner</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="bannerFile" placeholder="Banner">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnAddBanner">Tambah Banner</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-banner">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Ubah Banner</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEditBanner" class="col-sm-5 col-form-label">ID</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="idEditBanner" readonly placeholder="ID" >
              </div>
            </div>
            <div class="form-group row" style="display: ;">
              <label for="bannerPath" class="col-sm-5 col-form-label">Path Banner</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="bannerPath" placeholder="Path Logo" readonly >
              </div>
            </div>
            <div class="form-group row">
              <label for="bannerUrutanEdit" class="col-sm-5 col-form-label">Urutan Banner</label>
              <div class="col-sm-7">
                <input type="number" class="form-control" id="bannerUrutanEdit" placeholder="Urutan Banner" >
              </div>
            </div>
            <div class="form-group row">
              <label for="editViewBanner" class="col-sm-5 col-form-label">Gambar Preview</label>
              <div class="col-sm-7">
                <img id="editViewBanner" width="200"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="editBannerFile" class="col-sm-5 col-form-label">Ubah Gambar Banner</label>
              <div class="col-sm-7">
                <input type="file" class="form-control" id="editBannerFile" placeholder="Banner">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger btnHapusBanner" data-dismiss="modal">Hapus Banner</button>
        <button type="button" class="btn btn-success btnEditBanner">Ubah Banner</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-bank">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Ubah Data Bank</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEditBank" class="col-sm-3 col-form-label">ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEditBank" readonly placeholder="ID" >
              </div>
            </div>
            <div class="form-group row">
              <label for="bankEditKode" class="col-sm-3 col-form-label">Bank</label>
              <div class="col-sm-9">
                <select id="bankEditKode" class="form-control select2 selectBank">
                  <option value="">Pilih Bank</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="bankEditNoRek" class="col-sm-3 col-form-label">No Rekening </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="bankEditNoRek" placeholder="Nomor Rekening" >
              </div>
            </div>
            <div class="form-group row">
              <label for="bankEditNamaPemilik" class="col-sm-3 col-form-label">Atas Nama </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="bankEditNamaPemilik" placeholder="Nama Pemilik Rekening" >
              </div>
            </div>
            <div class="form-group row">
              <label for="bankEditCabang" class="col-sm-3 col-form-label">Cabang </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="bankEditCabang" placeholder="Cabang" >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btnEditBank">Ubah Data Bank</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>