<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
              </h3>
              <div class="row">
                <div class="col-md-1 ">
                  <button type="button" onclick="filterSiswa()" class="btnFilter btn btn-info btn-sm">
                    <i class="fa fa-search"></i> Filter 
                  </button>
                </div>  
                <div class="col-md-2">
                  <button type="button" onclick="importSiswa()" class="btn btn-success btn-sm">
                      <i class="fa fa-download"></i> Import 
                  </button>
                </div>
              </div>
              {{!-- <button type="button" data-toggle="modal" data-target="#modal-add-devisi" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button> --}}
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 
    $('.select2').select2()

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Id" },
          { title: "Nama Siswa" },
          { title: "Kelas" },
          { title: "Jurusan" },
          { title: "Tahun" },
          { title: "Create Date" },
          { title: "Update Date" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [4, 8], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0,1, 8], // your case first column
              "width" : "5%"
          }
      ],
    });

    let dropdownTingkat = document.getElementById('tingkat-dropdown');
    dropdownTingkat.length = 0;
    fetch('/tingkat/all') 
    .then(  
    function(response) {  
      let defaultTingkat = document.createElement('option');
      defaultTingkat.text = 'Filter Tingkat';
      defaultTingkat.value = '';
      dropdownTingkat.add(defaultTingkat);
      dropdownTingkat.selectedIndex = 0;
      response.json().then(function(data) {  
        let optionTingkat;
        for (let i = 0; i < data.data.length; i++) {
            optionTingkat = document.createElement('option');
            optionTingkat.text = data.data[i].nama;
            optionTingkat.value = data.data[i].id;
            dropdownTingkat.add(optionTingkat);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Tingkat -', err);  
    });

    let dropdownKelas = document.getElementById('kelas-dropdown');
    dropdownKelas.length = 0;
    fetch('/kelas/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Filter Kelas';
      defaultOption.value = '';
      dropdownKelas.add(defaultOption);
      dropdownKelas.selectedIndex = 0;

      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownKelas.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownTahun = document.getElementById('tahun-dropdown');
    dropdownTahun.length = 0;
    fetch('/tahun/all') 
    .then(  
    function(response) {  
      let defaultTahun = document.createElement('option');
      defaultTahun.text = 'Filter Tahun Ajaran';
      defaultTahun.value = '';
      dropdownTahun.add(defaultTahun);
      dropdownTahun.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTahun.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownJurusan = document.getElementById('jurusan-dropdown');
    dropdownJurusan.length = 0;
    fetch('/jurusan/all') 
    .then(  
    function(response) {  
      let defaultJurusan = document.createElement('option');
      defaultJurusan.text = 'Filter Jurusan';
      defaultJurusan.value = '';
      dropdownJurusan.add(defaultJurusan);
      dropdownJurusan.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownJurusan.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });


    $('.btnSave').on('click', function(){
      $('.btnSave').prop("disabled", true);
      $('.btnSave').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );

      var tahun = document.getElementById("tahun-dropdown").value;
      var jurusan = document.getElementById("jurusan-dropdown").value;
      var tingkat = document.getElementById("tingkat-dropdown").value;
      var kelas = document.getElementById("kelas-dropdown").value;

      loadData();
      $('#modal-add-devisi').modal('hide');

      $('.btnSave').prop("disabled", false);
      $('.btnSave').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter Data`
      )
    });
  
    window.filterSiswa = function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-add-devisi').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }

    $('.btnUpload').on('click', function(){
        var file = document.getElementById("addFile");
        
        if(file.value != ''){
          const formData = new FormData() 
          formData.append('file', file.files[0])
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
          );

          fetch('/siswaKelas/upload', {
            method: 'POST',
            body: formData
          })
          .then(response => response.json())
          .then((response) => {
            if(response.success){
              //alert("Data berhasil ditambah")
              toastr.success('File berhasil diupload')
              $('#modal-import-siswa').modal('hide');
            }else{
              toastr.error(response.message)
            }

            $(this).prop("disabled", false);
            $(this).html(
              `<span aria-hidden="false"></span> Add Data`
            );
            
          });
        }
    });

    window.importSiswa = function(){
      document.getElementById("addFile").value = '';
      $('#modal-import-siswa').modal('show');

    }

  
    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      var tahun = document.getElementById("tahun-dropdown").value;
      var jurusan = document.getElementById("jurusan-dropdown").value;
      var tingkat = document.getElementById("tingkat-dropdown").value;
      var kelas = document.getElementById("kelas-dropdown").value;

      dataSet = Array()
      
      fetch('/siswaKelas/all?kelas='+kelas+'&tahun='+tahun+'&tingkat='+tingkat+'&jurusan='+jurusan, {
            method: 'GET',
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editKelas(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusKelas(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              
              var tmp;
              if(value.kelas != null){
                tmp = [no, value.id, value.userName, value.kelas.kelas.nama, value.kelas.kelas.jurusan.nama, value.kelas.tahun.nama, 
                '', '', btn1]
                dataSet.push(tmp)
              }else{

              }
              
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footer }}
<div class="modal fade" id="modal-filter-kelas">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal" id="myForm">
        <div class="modal-body">
          <div class="card-body">
            {{!-- <div class="form-group row">
              <label for="filterTanggal1" class="col-sm-3 col-form-label">Tanggal </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control float-right" id="reservation">
                </div>
              </div>
            </div> --}}
            <div class="form-group row">
              <label for="filterTanggal2" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select class="select2 selectDiv" required multiple="multiple" data-placeholder="Pilih Divisi" style="width: 100%;">
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="filterTanggal2" class="col-sm-3 col-form-label">Format File</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select class="select2 selectFormat" required multiple="multiple" data-placeholder="Format File" style="width: 100%;">
                    <option value=".doc" selected>.doc</option>
                    <option value=".docx" selected>.docx</option>
                    <option value=".xls" selected>.xls</option>
                    <option value=".xlsx" selected>.xlsx</option>
                    <option value=".jpg" selected>.jpg</option>
                    <option value=".jpeg" selected>.jpeg</option>
                    <option value=".png" selected>.png</option>
                    <option value=".pdf" selected>.pdf</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-dark btnCari" onclick="getDataDoc()">Cari</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-add-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            {{!-- <div class="form-group row">
              <label for="wali-dropdown" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-dropdown" class="form-control" name="selectWali"></select>
              </div>
            </div> --}}
            <div class="form-group row">
              <label for="tahun-dropdown" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-dropdown" class="form-control" name="selectTahun"></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="jurusan-dropdown" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown" class="form-control" ></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="tingkat-dropdown" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown" class="form-control" ></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" name="selectKelas"></select>
              </div>
            </div>
          
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-setting-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Setting Akses</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="settingId" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingId" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="settingNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingNama" readonly>
              </div>
            </div>
            <div class="tmpModalSetting"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditSetting">Edit Data  </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-import-siswa">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Import Data Siswa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal" id="myForm2">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="addFile" class="col-sm-3 col-form-label">File</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="addFile" required placeholder="File">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnUpload">Import Siswa</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

