<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
           <div class="card-header">
              <h3 class="card-title">
              </h3>
              <div class="row">
                <div class="col-md-1 ">
                  <button type="button" onclick="filterTransaksi()" class="btn btn-info btn-sm">
                    <i class="fa fa-search"></i> Filter 
                  </button>
                </div>
                <div class="col-md-2 ">
                  <button type="button" onclick="addTagihan()" class="btn btn-success btn-sm">
                    <i class="fa fa-plus"></i> Buat Tagihan 
                  </button>
                </div>  
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      dom: 'Bfrtip',
      lengthMenu: [
                  [10, 25, 50, -1],
                  ['10 Data', '25 Data', '50 Data', 'Semua Data']
              ],
              dom: 'Bfrtip',
              buttons: [
                  { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
                  { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"> Exportar a CSV</i>' },
                  { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
                  { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' },
                  'pageLength'
              ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },
      columns: [
          { title: "No" },
          { title: "Tagihan ID" },
          { title: "ID User" },
          { title: "Nama" },
          { title: "Jumlah COD" },
          { title: "Fee" },
          { title: "Bulan" },
          { title: "Tahun" },
          { title: "Jumlah Tagihan" },
          { title: "Bayar Tanggal" },
          { title: "Via" },
          { title: "Status Bayar" },
          { title: "Action" }
      ],
      columnDefs: [
          /*{
              "targets": [8], // your case first column
              "className": "text-center",
          },*/
          {
              "targets": [0,1], // your case first column
              "width" : "3%"
          },
      ],
    });

    window.filterTransaksi = function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-filter-transaksi').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }

    window.addTagihan = function(){
      $('#modal-loading').modal('show');
      
      fetch('/tagihan/lastCreate') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            document.getElementById("addTagihanBulan").value = response.data.bulan;
            document.getElementById("addTagihanTahun").value = response.data.tahun;
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 

      $('#modal-add-tagihan').modal('show');
    }

    window.suksesManual = function(id){
      $('#modal-sukses-transaksi').modal('show');
      document.getElementById("idTransaksi").value = id;
    }
    
    $('.btnSuccess').on('click', function(){
      var idTransaksi = document.getElementById("idTransaksi").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/sukses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: idTransaksi,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil disukseskan')
            $('#modal-sukses-transaksi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Success`
          );
        });
    });

    $('.btnAddTagihan').on('click', function(){
      let bulan = document.getElementById("addTagihanUntukBulan").value;
      let tahun = document.getElementById("addTagihanUntukTahun").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/tagihan/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              bulan: bulan,
              tahun: tahun,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Berhasil ditagihkan')
            $('#modal-add-tagihan').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Buat Tagihan`
          );
        });
    });
    
    window.detailTransaksi = function(id){
      fetch('/transaksi/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("namaEdit").value = response.data.nama;
          document.getElementById("group-dropdown2").value = response.data.groupTransaksi.id;
          
          if(null == response.data.jurusan){
            document.getElementById("jurusan-dropdown2").value = '';
          }else{
            document.getElementById("jurusan-dropdown2").value = response.data.jurusan.id;
          }

          if(null == response.data.kelasTingkat){
            document.getElementById("tingkat-dropdown2").value = '';
          }else{
            document.getElementById("tingkat-dropdown2").value = response.data.kelasTingkat.id;
          }

          if(null == response.data.kelas){
            document.getElementById("kelas-dropdown2").value = '';
          }else{
            document.getElementById("kelas-dropdown2").value = response.data.kelas.id;
          }

          document.getElementById("nominalEdit").value = response.data.nominal;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-transaksi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.loadData = function(){
      let filterStatus = document.getElementById("filterStatus").value;
      let filterVia = document.getElementById("filterVia").value;
      let filterTanggalBeli = document.getElementById("filterTanggalBeli").value;
      let filterTanggal = document.getElementById("filterTanggal").value;

      dataSet = Array()
      $('#modal-loading').modal('show');
      
      fetch('/tagihan/all?tanggal=' + filterTanggal + '&lunas=' + filterStatus + '&via=' + filterVia + '&tanggalBeli=' + filterTanggalBeli) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            console.log(response)
            $.each( response.data, function( key, value ) {
              no++;
              var btnStatus = '';
              var status = '';
              var idProduk = '';
              var namaProduk = '';
              var jenisTransaksi = '';
              let userId = '-';
              let userName = '-';

              if(value.status == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
                btnStatus = 'disabled';
              }else{
                status = '<span class="badge badge-danger">BELUM</span>';
              }
              
              let jumlahTagihan = new Number(value.jumlahTagihan).toLocaleString("id-ID");
              let feeLayanan = new Number(value.feeLayanan).toLocaleString("id-ID");

              var tmp = [no, value.id, value.userId, value.userName, value.jumlahTrxCod, 
                feeLayanan, value.bulan, value.tahun, jumlahTagihan, value.bayarTanggal, value.bayarVia, 
                status, ""]
              dataSet.push(tmp)
            });
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

    $('.btnFilter').on('click', function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      loadData();
      $('#modal-filter-transaksi').modal('hide');

      $('.btnFilter').prop("disabled", false);
      $('.btnFilter').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
      )
    });
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-sukses-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Sukseskan {{title}}</h4>
        <input type="text" style="visibility: hidden;" id="idTransaksi">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan mesukseskan {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSuccess">Success</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="filterStatus" class="col-sm-4 col-form-label">Status Bayar</label>
              <div class="col-sm-8">
                <select id="filterStatus" class="form-control" >
                  <option value="">Semua Status</option>
                  <option value="0">Belum Bayar</option>
                  <option value="1">Sudah Bayar</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterVia" class="col-sm-4 col-form-label">Via Pembayaran</label>
              <div class="col-sm-8">
                <select id="filterVia" class="form-control" >
                  <option value="">Semua Via Bayar</option>
                  <option value="COD">COD</option>
                  <option value="ALFAMART">ALFAMART</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterTanggalBeli" class="col-sm-4 col-form-label">Tanggal Beli</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggalBeli" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="filterTanggal" class="col-sm-4 col-form-label">Tanggal Bayar</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggal" class="form-control" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnFilter"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-add-tagihan">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Buat Tagihan Baru</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="addTagihanBulan" class="col-sm-5 col-form-label">Terakhir dibuat bulan</label>
              <div class="col-sm-7">
                <input type="text" id="addTagihanBulan" class="form-control" readonly/>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addTagihanTahun" class="col-sm-5 col-form-label">Terakhir dibuat tahun</label>
              <div class="col-sm-7">
                <input type="text" id="addTagihanTahun" class="form-control" readonly/>
              </div>
            </div>

            <div class="form-group row">
              <label for="addTagihanUntukBulan" class="col-sm-5 col-form-label">Tagihan bulan</label>
              <div class="col-sm-7">
                <select class="form-control" id="addTagihanUntukBulan">
                  <option value="">Pilih Bulan Tagihan</option>
                  <option value="1">Januari</option>
                  <option value="2">Februari</option>
                  <option value="3">Maret</option>
                  <option value="4">April</option>
                  <option value="5">Mei</option>
                  <option value="6">Juni</option>
                  <option value="7">Juli</option>
                  <option value="8">Agustus</option>
                  <option value="9">September</option>
                  <option value="10">Oktober</option>
                  <option value="11">Nopember</option>
                  <option value="12">Desember</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addTagihanUntukTahun" class="col-sm-5 col-form-label">Tagihan tahun</label>
              <div class="col-sm-7">
                <select class="form-control" id="addTagihanUntukTahun">
                  <option value="">Pilih Tahun Tagihan</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
              </div>
            </div>


          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnAddTagihan"><i class="fa fa-plus"></i> Buat Tagihan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


