<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container" style="max-width:2000px">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container" style="max-width:2000px">
        <div class="card">
           <div class="card-header">
              <h3 class="card-title">
              </h3>
              <div class="row">
                <div class="col-md-1 ">
                  <button type="button" onclick="filterTransaksi()" class="btn btn-info btn-sm">
                    <i class="fa fa-search"></i> Filter 
                  </button>
                </div>  
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  <nav>
                    <ul class="pagination pagination-md pull-right"></ul>
                  </nav>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<!-- page script -->

<script>
  $(document).ready(function(){ 
    let suksesManualId ;
    let limit = 10;
    let page = 0;
    let pageCurrent = 0;

    var dataSet = Array();
    var dataHistori = Array();
    var dataDetailTransaksi = Array();

    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      searching: false,
      paging: false,
      ordering: false,
      data: dataSet,
      bInfo: false,
      dom: 'Bfrtip',
      buttons: [
          { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
          { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
          { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' }
      ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },
      columns: [
          { title: "No" },
          { title: "Transaksi" },
          { title: "Nama" },
          { title: "Bayar" },
          { title: "Tanggal Pesan" },
          { title: "Tanggal Bayar" },
          { title: "Via " },
          { title: "Kode Bayar" },
          { title: "Nominal" },
          { title: "Keterangan" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [1], 
              "width" : "3%"
          },
          {
              "targets": [3, 10], 
              "width" : "5%"
          },
          {
              "targets": [4, 5], 
              "width" : "7%",
              "className": "text-center"
          },
          {
              "targets": [6, 7], 
              "width" : "8%"
          },
          {
              "targets": [2, 9], 
              "width" : "12%"
          },
          {
              "targets": [0], 
              "width" : "3%",
              "className": "text-center",
          },
          {
              "targets": [8],
              "width" : "6%", 
              "className": "text-right",
          },
      ],
    });

    var tableDetailTransaksi = $('#tableDetailTransaksi').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      ordering: false,
      data: dataDetailTransaksi,
      bInfo: false,
      
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "Harga" },
          { title: "Jumlah Item" },
          { title: "Total Harga" }
      ],
      columnDefs: [
          {
              "targets": [0], 
              "width" : "5%"
          },
          {
              "targets": [1], 
              "width" : "25%"
          },
          {
              "targets": [3], 
              "width" : "5%",
              "className": "text-center",
          },
          {
              "targets": [2,4], 
              "width" : "10%",
              "className": "text-right",
          }
      ],
    });

    var tableHistori = $('#tableHistori').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      bInfo: false,
      ordering: false,
      data: dataHistori,
      columns: [
          { title: "Tanggal" },
          { title: "History" }
      ],
      columnDefs: [
          {
              "targets": [0], 
              "width" : "7%"
          },
          {
              "targets": [1], 
              "width" : "93%"
          },
      ],
    });

    window.filterTransaksi = function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-filter-transaksi').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }

    window.suksesManual = function(id){
      $('#modal-sukses-transaksi').modal('show');
      document.getElementById("idTransaksi").value = id;
    }

    window.tandaiSudahDiproses = function(){
      var r = confirm("Apakah ingin merubah status?");
      if (r == true) {
        $('#modal-detail-pesanan').modal('hide');
        $('#modal-loading').modal('show');
        let status;
        let strStatus ;
        if ($('#editSudahProses').is(":checked")){
          status = 1;
          strStatus = "Ditandai sudah terproses"
        }else{
          status = 0;
          strStatus = "Ditandai belum terproses"
        }
        fetch('/transaksiMerchant/updateStatus', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              orderId: suksesManualId,
              status: status
            })
          })
          .then(response => response.json())
          .then((response) => {
            if(response.success){
              toastr.success(strStatus)
              $('#modal-loading').modal('hide');
              loadData()
            }else{
              var keterangan = "";
              if( Array.isArray(response.errors)){
                $.each( response.errors, function( key, value ) {
                  keterangan += value.msg + "\n";
                  toastr.error(value.msg)
                });
              }else{
                  toastr.error(response.message)
              }
              $('#modal-loading').modal('hide');
            }
          })
      }else{
        if ($('#editSudahProses').is(":checked")){
          $( "#editSudahProses").prop('checked', false);
        }else{
          $( "#editSudahProses").prop('checked', true);
        }
      }
    }

    window.suksesManualDetail = function(){
      var r = confirm("Sukses pembayaran manual?");
      if (r == true) {
        $('#modal-detail-pesanan').modal('hide');
        $('#modal-loading').modal('show');
        fetch('/transaksi/sukses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: suksesManualId,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            $('#modal-loading').modal('hide');
            toastr.success('Data berhasil disukseskan')
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
            $('#modal-loading').modal('hide');
            $('#modal-detail-pesanan').modal('hide');
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Success`
          );
        });
      } 
    }

    window.resiDetail = function(id){
      document.getElementById("resiIdTransaksi").value = id;
      fetch('/transaksiMerchant/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          console.log(response)
          let dikirimDari = response.data.seller.kota.provinsi.provinsiName + " " + response.data.seller.kota.namaKota + " Kecamatan " + response.data.seller.kecamatan.namaKecamatan
          let dikirimKe = response.data.kota.provinsi.provinsiName + " " + response.data.kota.namaKota + ", " + response.data.kurirDetailAlamat; 
          document.getElementById("resiDari").value = dikirimDari;
          document.getElementById("resiKe").value = dikirimKe;
          document.getElementById("resiEkspedisi").value = response.data.kurirNama;
          document.getElementById("resiEkspedisiKode").value = response.data.kurirKode;
          document.getElementById("resiNomor").value = response.data.kurirNoResi;
          $('#modal-resi-detail').modal('show');
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
      }); 
    }

    window.detailTransaksi = function(id){
      $('#modal-loading').modal('show');
      fetch('/transaksiMerchant/detailTransaksi?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          dataDetailTransaksi = Array();
          suksesManualId = response.data.orderId;
          document.getElementById("detailJumlahNominal").value = response.data.jumlahNominal;
          document.getElementById("detailFeeNominal").value = response.data.feeNominal;
          document.getElementById("detailPesan").value = response.data.pesan;
          document.getElementById("detailFinalNominal").value = response.data.finalNominal;
          $("#detailStatus").html('');
          $("#detailStatus").append(response.data.statusBayar);
          $("#detailSuksesManual").prop('disabled', !response.data.isSuksesManual);
          $("#editSudahProses").prop('checked', response.data.prosesMerchant);
          let no = 1;
          $.each( response.data.item, function( key, value ) {
            var tmp = [no, value.nama, value.harga, value.jumlahItem, value.totalHarga]
            dataDetailTransaksi.push(tmp)
            no++;
          });

          tableDetailTransaksi.clear();
          tableDetailTransaksi.rows.add(dataDetailTransaksi);
          tableDetailTransaksi.draw();

          $('#modal-loading').modal('hide');
          $('#modal-detail-pesanan').modal('show');
          
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
      }); 
    }
    
    window.resiCek = function(){
      let ekspedisiKode = document.getElementById("resiEkspedisiKode").value;
      let ekspedisiNomor = document.getElementById("resiNomor").value;

      fetch('/transaksiMerchant/cekResi?kurirResi=' + ekspedisiNomor +'&kurirKode='+ekspedisiKode, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          dataHistori = Array()
          let statusPengiriman = "Masih dalam pengiriman"
          if(response.data.delivered){
            statusPengiriman = "Paket sudah terkirim"
          }

          document.getElementById("resiHistoryPengiriman").value = statusPengiriman;
          
          $.each( response.data.lManifest, function( key, value ) {
            var tmp = [value.tanggal, value.cityName + ": " + value.manifestDescription]
            dataHistori.push(tmp)
          });

          tableHistori.clear();
          tableHistori.rows.add(dataHistori);
          tableHistori.draw();

          $('#modal-resi-cek').modal('show');
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
      }); 
    }
    
    
    $('.btnSuccess').on('click', function(){
      var idTransaksi = document.getElementById("idTransaksi").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/sukses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: idTransaksi,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil disukseskan')
            $('#modal-sukses-transaksi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Success`
          );
        });
    });
    
    window.pageData = function(changePage){
      page = changePage;
      loadData();
    }

    window.pageBefore = function(){
      if(pageCurrent >= 10){
        pageCurrent = pageCurrent-10;
        page = pageCurrent;
      }

      loadData();
    }

    window.pageAfter = function(jumlahPage){
      if(pageCurrent + 10 < jumlahPage ){
        pageCurrent = pageCurrent + 10;
        page = pageCurrent;
      }

      loadData();
    }

    window.loadData = function(){
      let filterStatus = document.getElementById("filterStatus").value;
      let filterVia = document.getElementById("filterVia").value;
      let filterTanggalBeli = document.getElementById("filterTanggalBeli").value;
      let filterTanggal = document.getElementById("filterTanggal").value;
      let filterStatusProses = document.getElementById("filterStatusProses").value;

      dataSet = Array()
      $('#modal-loading').modal('show');
      
      fetch('/transaksiMerchant/all?tanggal=' + filterTanggal + '&lunas=' + filterStatus + '&via=' + filterVia + '&tanggalBeli=' + filterTanggalBeli + '&page='+page+'&limit='+limit + '&statusProses=' + filterStatusProses) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $(".pagination").html('')
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageBefore()" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>');
            
            let idx = 0;
            for(i = pageCurrent ; i < response.jumlahData; i++){
              let label = i + 1;
              if(page == i){
                $(".pagination").append('<li class="page-item active"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }else{
                $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }
              idx++;
              if(idx == limit){
                break;
              }
            }
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageAfter('+response.jumlahData+')" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>');

            $.each( response.data, function( key, value ) {
              no++;
              var btnStatus = '';
              var status = '<span class="badge badge-danger">BELUM</span>';
              let statusColour = 'success';

              let userName = '-';

              userName = value.pelangganNama;

              if(value.status == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
                btnStatus = 'disabled';
                statusColour = 'danger';
              }

              let btnSukses = '<button '+ btnStatus + ' type="button" data-toggle="tooltip" title="Pensuksesan Manual Transaksi" class="btn btn-'+statusColour+' btn-sm" onclick="suksesManual(\'' + value.orderId + '\')">'+
                          '<i class="fa fa-check"></i>'+
                        '</button>';
              let btnDetail = '<button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Detail Transaksi" onclick="detailTransaksi(\'' + value.id + '\')">'+
                          'Detail'+
                        '</button>';
              let btnResi = '<button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Detail Ekspedisi" onclick="resiDetail(\'' + value.id + '\')">'+
                          '<i class="fa fa-car"></i>'+
                        '</button>';
              var nominal = new Number(value.jumlahNominal).toLocaleString("id-ID");
              var tmp = [no, value.id, userName, 
                status, value.createdDate, value.tanggalBayar, value.via, value.idPembayaran, nominal, value.keterangan, btnDetail]
              dataSet.push(tmp)
            });

            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

    $('.btnFilter').on('click', function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      loadData();
      $('#modal-filter-transaksi').modal('hide');

      $('.btnFilter').prop("disabled", false);
      $('.btnFilter').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
      )
    });

    $('.btnResiUpdate').on('click', function(){
      var idTransaksi = document.getElementById("resiIdTransaksi").value;
      var noResi = document.getElementById("resiNomor").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksiMerchant/updateResi', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: idTransaksi,
              noResi: noResi
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Nomor Resi Berhasil diubah')
            $('#modal-resi-detail').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> <i class="fa fa-edit"></i> Ubah No Resi`
          );
        });
    });
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-sukses-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Sukseskan {{title}}</h4>
        <input type="text" style="visibility: hidden;" id="idTransaksi">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan mesukseskan {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSuccess">Success</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="filterStatus" class="col-sm-4 col-form-label">Status Bayar</label>
              <div class="col-sm-8">
                <select id="filterStatus" class="form-control" >
                  <option value="">Semua Status</option>
                  <option value="0">Belum Bayar</option>
                  <option value="1">Sudah Bayar</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterVia" class="col-sm-4 col-form-label">Via Pembayaran</label>
              <div class="col-sm-8">
                <select id="filterVia" class="form-control" >
                  <option value="">Semua Via Bayar</option>
                  <option value="COD">COD</option>
                  <option value="ALFAMART">ALFAMART</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterTanggalBeli" class="col-sm-4 col-form-label">Tanggal Beli</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggalBeli" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="filterTanggal" class="col-sm-4 col-form-label">Tanggal Bayar</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggal" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="filterStatusProses" class="col-sm-4 col-form-label">Status Proses</label>
              <div class="col-sm-8">
                <select id="filterStatusProses" class="form-control" >
                  <option value="">Semua Status</option>
                  <option value="1">Sudah Terproses</option>
                  <option value="0">Belum Terproses</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnFilter"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-resi-detail"> 
  <div class="modal-dialog" >
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Detail Ekspedisi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="resiIdTransaksi" class="col-sm-5 col-form-label">ID Transaksi</label>
              <div class="col-sm-7">
                <input type="text" id="resiIdTransaksi" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label for="resiDari" class="col-sm-5 col-form-label">Dikirim Dari</label>
              <div class="col-sm-7">
                <textarea id="resiDari" rows="4" class="form-control" readonly/></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="resiKe" class="col-sm-5 col-form-label">Dikirim Ke (Tujuan)</label>
              <div class="col-sm-7">
                <textarea id="resiKe" rows="4" class="form-control" readonly/></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="resiEkspedisi" class="col-sm-5 col-form-label">Dengan Ekspedisi</label>
              <div class="col-sm-7">
                <textarea rows="2" id="resiEkspedisi" class="form-control" readonly/></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="resiEkspedisi" class="col-sm-5 col-form-label">Kode Ekspedisi</label>
              <div class="col-sm-7">
                <input type="text" id="resiEkspedisiKode" class="form-control" placeholder="Kode Ekspedisi" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label for="resiNomor" class="col-sm-5 col-form-label">Nomor Resi</label>
              <div class="col-sm-5">
                <input type="text" id="resiNomor" class="form-control" placeholder="Masukkan Nomor Resi Disini"/>
              </div>
              <div class="col-sm-2">
                <button type="button" onclick="resiCek()" class="btn btn-warning btn-sm">
                   Cek Resi 
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnResiUpdate"><i class="fa fa-edit"></i> Ubah No Resi</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-detail-pesanan"> 
  <div class="modal-dialog modal-lg" >
    <div class="modal-content" >
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Detail Pesanan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="detailJumlahNominal" class="col-sm-3 col-form-label">Jumlah Bayar Cust</label>
              <div class="col-sm-3">
                <input type="text" id="detailJumlahNominal" class="form-control" style="text-align: right;" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label for="detailFeeNominal" class="col-sm-3 col-form-label">Fee Admin Pembayaran</label>
              <div class="col-sm-3">
                <input type="text" id="detailFeeNominal" class="form-control" style="text-align: right;" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label for="detailFinalNominal" class="col-sm-3 col-form-label">Jumlah Akhir</label>
              <div class="col-sm-3">
                <input type="text" id="detailFinalNominal" class="form-control" style="text-align: right; color: green;" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label for="detailStatus" class="col-sm-3 col-form-label">Pembayaran Melalui</label>
              <div class="col-sm-5" id="detailStatus" style="display: flex; align-items: center;">
              </div>
            </div>
            <div class="form-group row">
              <label for="detailPesan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-6">
                <textarea rows="3" id="detailPesan" class="form-control" readonly></textarea>
              </div>
            </div>
            <div class="form-group row" style="align-items: center;">
              <label for="detailPesan" class="col-sm-3 col-form-label">Tandai Sudah Diproses</label>
              <div class="col-sm-3">
                <input type="checkbox" id="editSudahProses" style="width: 25px; height: 25px;" onchange="tandaiSudahDiproses()" />
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="tableDetailTransaksi" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-success" id="detailSuksesManual" onclick="suksesManualDetail()">Sukseskan Pembayaran Manual</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-resi-cek"> 
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Histori Pengiriman</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="resiHistoryPengiriman" class="col-sm-5 col-form-label">Status Pengiriman</label>
              <div class="col-sm-7">
                <input type="text" id="resiHistoryPengiriman" class="form-control" readonly/>
              </div>
            </div>
            <div class="table-responsive">
              <table id="tableHistori" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
