<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container" style="max-width:2000px">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container" style="max-width:2000px">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  <nav>
                    <ul class="jumlahData pull-left"></ul>
                    <ul class="pagination pagination-md pull-right"></ul>
                  </nav>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<!-- page script -->

<script>
  $(document).ready(function(){ 
    let limit = 10;
    let page = 0;
    let pageCurrent = 0;
    
    var dataSet = Array();
    var dataLog = Array();

    //paging, jika semua data -1
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      data: dataSet,
      bInfo: false,
      dom: 'Bfrtip',
      lengthMenu: [
                  [10, 25, 50, 100],
                  ['10 Data', '25 Data', '50 Data', '100 Data']
              ],
              dom: 'Bfrtip',
              buttons: [
                  { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
                  { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"> Exportar a CSV</i>' },
                  { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
                  { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' },
                  { text: '<i class="fas fa-search fa-1x" aria-hidden="true"> Filter</i>',
                      action: function ( e, dt, node, config ) {
                          $('#modal-filter-transaksi').modal('show');
                      }
                  },
                  'pageLength'
              ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },
      columns: [
          { title: "No" },
          { title: "ID User" },
          { title: "Nama" },
          { title: "Transaksi Id" },
          { title: "Status" },
          { title: "Jenis Transaksi" },
          { title: "Tanggal" },
          { title: "Tanggal Bayar" },
          { title: "Via " },
          { title: "Id Bayar" },
          { title: "Nominal" },
          { title: "Id Produk" },
          { title: "Nama Produk" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [0,1], // your case first column
              "width" : "3%"
          },
      ],
    });

    var tableLog = $('#tableLog').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      bInfo: false,
      ordering: false,
      data: dataLog,
      columns: [
          { title: "Tanggal" },
          { title: "Action" },
          { title: "User" },
          { title: "Keterangan" }
      ],
      columnDefs: [
          {
              "targets": [0], 
              "width" : "7%"
          },
          {
              "targets": [1, 2], 
              "width" : "5%"
          },
      ],
    });

    table.on( 'length', function ( e, settings, len ) {
        limit = len;
        loadData();
    });

    window.suksesManual = function(id){
      $('#modal-sukses-transaksi').modal('show');
      document.getElementById("idTransaksi").value = id;
    }

    window.refundTransaksi = function(id){
      $('#modal-refund-transaksi').modal('show');
      document.getElementById("refundId").value = id;
      document.getElementById("refundKeterangan").value = '';
    }

    window.cekBiller = function(id){
      $('#modal-loading').modal('show');
      fetch('/transaksi/cek-biller?id=' + id) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            document.getElementById("cekInvoiceId").value = response.data.receiptNumber;
            document.getElementById("cekProductName").value = response.data.productName;
            document.getElementById("cekMessage").value = response.data.message;
            document.getElementById("cekDate").value = response.data.transactionDate;
            document.getElementById("cekDetail").value = response.data.detail;
          
            $('#modal-loading').modal('hide');
            $('#modal-cek-biller').modal('show');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = 'Bukan PPOB';
            toastr.error(keterangan) 
          }
        }); 
    }

    window.detailTransaksi = function(id){
      $('#modal-loading').modal('show');
       
      fetch('/transaksi/detail?id=' + id) 
        .then(response => response.json())
        .then((response) => {
          console.log(response.data)
          if(response.success){
            document.getElementById("dtlId").value = response.data.detail.transaksiId;
            document.getElementById("dtlProductName").value = response.data.detail.productName;
            document.getElementById("dtlNominal").value = response.data.detail.nominal;
            document.getElementById("dtlFeeType").value = response.data.detail.feeType;
            document.getElementById("dtlFeeAdmin").value = response.data.detail.feeAdmin;
            document.getElementById("dtlBayarVia").value = response.data.detail.bayarVia;
            document.getElementById("dtlCreatedDate").value = response.data.detail.createdDate;
            document.getElementById("dtlUpdatedDate").value = response.data.detail.updatedDate;
            document.getElementById("dtlTanggalBayar").value = response.data.detail.tanggalBayar;
            document.getElementById("dtlBayarSebelum").value = response.data.detail.bayarSebelum;
            document.getElementById("dtlStatus").value = response.data.detail.status;
            document.getElementById("dtlSuksesManual").value = response.data.detail.suksesManual;
            document.getElementById("dtlUrlPanduan").value = response.data.detail.urlPanduan;
            document.getElementById("dtlQrImage").value = response.data.detail.urlQrImage;
            document.getElementById("dtlBillInfo1").value = response.data.detail.detailInq.billInfo1;
            document.getElementById("dtlBillInfo2").value = response.data.detail.detailInq.billInfo2;
            document.getElementById("dtlBillInfo3").value = response.data.detail.detailInq.billInfo3;
            document.getElementById("dtlBillInfo4").value = response.data.detail.detailInq.billInfo4;
            document.getElementById("dtlBillInfo5").value = response.data.detail.detailInq.billInfo5;
            document.getElementById("dtlBillInfo6").value = response.data.detail.detailInq.billInfo6;
            document.getElementById("dtlBillInfo7").value = response.data.detail.detailInq.billInfo7;
            document.getElementById("dtlReceiptNumber").value = response.data.detail.detailInq.receiptNumber;
            document.getElementById("dtlPaymentReference").value = response.data.detail.detailInq.paymentReference;

            
            document.getElementById("dtlKeterangan").value = response.data.detail.keterangan;

            dataLog = Array()
            $.each( response.data.log, function( key, value ) {
              var tmp = [value.createdDate, value.action, value.updatedWho, value.keterangan]
              dataLog.push(tmp)
            });
            tableLog.clear();
            tableLog.rows.add(dataLog);
            tableLog.draw();

            $('#modal-loading').modal('hide');
            $('#modal-detail-transaksi').modal('show');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 

    }
    
    $('.btnSuccess').on('click', function(){
      var idTransaksi = document.getElementById("idTransaksi").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/sukses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: idTransaksi,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.data.status == 1){
            toastr.success(response.message)
            $('#modal-sukses-transaksi').modal('hide');
            loadData()
          }else{
            $('#modal-sukses-transaksi').modal('hide');
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
            loadData()
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Success`
          );
        });
    });

    window.pageData = function(changePage){
      page = changePage;
      loadData();
    }

    window.pageBefore = function(){
      if(pageCurrent >= 10){
        pageCurrent = pageCurrent-10;
        page = pageCurrent;
      }

      loadData();
    }

    window.pageAfter = function(jumlahPage){
      if(pageCurrent + 10 < jumlahPage ){
        pageCurrent = pageCurrent + 10;
        page = pageCurrent;
      }

      loadData();
    }
    
    window.loadData = function(){
      let filterStatus = document.getElementById("filterStatus").value;
      let filterJenisTransaksi = document.getElementById("filterJenisTransaksi").value;
      let filterVia = document.getElementById("filterVia").value;
      let filterTanggalBeli = document.getElementById("filterTanggalBeli").value;
      let filterTanggal = document.getElementById("filterTanggal").value;
      let filterIdTransaksi = document.getElementById("filterIdTransaksi").value;

      dataSet = Array()
      $('#modal-loading').modal('show');
      
      fetch('/transaksi/all?tanggal=' + filterTanggal + '&lunas=' + filterStatus + '&via=' + filterVia + '&tanggalBeli=' + filterTanggalBeli + '&jenisTransaksi=' 
      + filterJenisTransaksi + '&page='+page+'&limit='+limit + '&transaksiId=' + filterIdTransaksi ) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            $(".pagination").html('')
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageBefore()" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>');
            $(".jumlahData").html('')
            $(".jumlahData").append('<label>Jumlah Data : ' +response.jumlahData+ ' </label>');
            let idx = 0;
            for(i = pageCurrent ; i < response.jumlahPage; i++){
              let label = i + 1;
              if(page == i){
                $(".pagination").append('<li class="page-item active"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }else{
                $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageData('+i+')">'+label+'</a></li>');
              }
              if(idx == limit){
                break;
              }
              idx++;
            }
            $(".pagination").append('<li class="page-item"><a class="page-link" onClick="pageAfter('+response.jumlahPage+')" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>');

            var no = 0;
            let recNum = '';
            let btnCekStatus = '';
            $.each( response.data, function( key, value ) {
              
              no++;
              var btnStatus = '';
              var btnStatusReject = '';
              var status = '';
              var idProduk = '-';
              var namaProduk = '';
              var jenisTransaksi = '';
              let userId = '-';
              let userName = '-';

              if(value.jenisTransaksi == 1 || value.jenisTransaksi == 2){
                if(value.product == null){
                  jenisTransaksi = "Upgrade";
                  idProduk = value.productMember.id;
                  namaProduk = value.productMember.nama;
                }else{
                  jenisTransaksi = "Belanja";
                  idProduk = value.product.id;
                  namaProduk = value.product.nama;
                }
                userId = value.user.id;
                userName = value.user.name;
              }else if(value.jenisTransaksi == 4){
                  jenisTransaksi = "Tagihan Fee COD";
                  idProduk = value.tagihan.id;
                  namaProduk = value.namaProduk;
              }else if(value.jenisTransaksi == 6 || value.jenisTransaksi == 7 ||value.jenisTransaksi == 8){
                jenisTransaksi = "PPOB";
                userId = value.user.id;
                userName = value.user.name;
                namaProduk = value.namaProduk;
              }else if(value.jenisTransaksi == 5){
                jenisTransaksi = "TOP UP";
                userId = value.user.id;
                userName = value.user.name;
                namaProduk = value.namaProduk;
              }else if(value.jenisTransaksi == 9){
                jenisTransaksi = "PULSA";
                userId = value.user.id;
                userName = value.user.name;
                namaProduk = value.namaProduk;
              }else if(value.jenisTransaksi == 10){
                jenisTransaksi = "Pendaftaran Koperasi";
                userId = value.user.id;
                userName = value.user.name;
                namaProduk = value.namaProduk;
              }else if(value.jenisTransaksi == 11){
                jenisTransaksi = "Bayar Pinjaman";
                userId = value.user.id;
                userName = value.user.name;
                namaProduk = value.namaProduk;
              }else if(value.jenisTransaksi == 12){
                jenisTransaksi = "Tarik Dana";
                userId = value.user.id;
                userName = value.user.name;
                namaProduk = value.namaProduk;
              }else if(value.jenisTransaksi == 13){
                jenisTransaksi = "Adjust Saldo";
                userId = value.user.id;
                userName = value.user.name;
                namaProduk = value.namaProduk;
              }else{
                userName = value.pelangganNama;
              }

              if(value.jenisTransaksi == 12){
                if(value.orderId == 'DONE'){
                  status = '<span class="badge badge-success">'+value.orderId+'</span>';
                }else{
                  status = '<span class="badge badge-warning">'+value.orderId+'</span>';
                }
                btnStatus = 'disabled';
              }else if(value.status == 0){
                status = '<span class="badge badge-warning">Menunggu Pembayaran</span>';
                btnStatusReject = 'disabled';
              }else if(value.status == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
                btnStatus = 'disabled';
              }else if(value.status == 2){
                status = '<span class="badge badge-danger">Refund By Sistem</span>';
                btnStatusReject = 'disabled';
              }else if(value.status == 3){
                status = '<span class="badge badge-danger">Refund By Admin</span>';
                btnStatusReject = 'disabled';
              }

              let btnSukses = '<button title="Sukses Manual" '+ btnStatus + ' type="button" class="btn btn-success btn-sm" onclick="suksesManual(\'' + value.id + '\')">'+
                          '<i class="fa fa-check"></i>'+
                        '</button>';
              let btnDetail = '<button title="Detail transaksi" type="button" class="btn btn-info btn-sm" onclick="detailTransaksi(\'' + value.id + '\')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>';
              let btnReject = '<button title="Batalkan Transaksi" '+btnStatusReject+' type="button" class="btn btn-danger btn-sm" onclick="refundTransaksi(\'' + value.id + '\')">'+
                          '<i class="fa fa-undo"></i>'+
                        '</button>';
              if(null != value.inquiry){
                recNum = value.inquiry.receiptNumber;
                btnCekStatus = '<button title="Cek Status Biller" type="button" class="btn btn-warning btn-sm" onclick="cekBiller(\'' + recNum + '\')">'+
                            '<i class="fa fa-info-circle" aria-hidden="true"></i>'+
                          '</button>';
              }
              var nominal = new Number(value.jumlahNominal).toLocaleString("id-ID");
              var tmp = [no, userId, userName, value.id, 
                status, jenisTransaksi, value.createdDate, value.tanggalBayar, value.via, value.idPembayaran != null ? value.idPembayaran : "-" , 
                nominal, idProduk, namaProduk, btnSukses + btnDetail + btnReject + btnCekStatus]
              dataSet.push(tmp)
            });
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

    $('.btnFilter').on('click', function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      loadData();
      $('#modal-filter-transaksi').modal('hide');

      $('.btnFilter').prop("disabled", false);
      $('.btnFilter').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
      )
    });

    $('.btnRefund').on('click', function(){
      let idTransaksi = document.getElementById("refundId").value;
      let keterangan = document.getElementById("refundKeterangan").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/refund', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: idTransaksi,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Berhasil direfund')
            $('#modal-refund-transaksi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Proses Refund`
          );
        });
    });

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-sukses-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Sukseskan {{title}}</h4>
        <input type="text" style="visibility: hidden;" id="idTransaksi">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan mesukseskan {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSuccess">Success</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="filterStatus" class="col-sm-4 col-form-label">Status Bayar</label>
              <div class="col-sm-8">
                <select id="filterStatus" class="form-control" >
                  <option value="">Semua Status</option>
                  <option value="0">Belum Bayar</option>
                  <option value="1">Sudah Bayar</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="filterJenisTransaksi" class="col-sm-4 col-form-label">Jenis Transaksi</label>
              <div class="col-sm-8">
                <select id="filterJenisTransaksi" class="form-control" >
                  <option selected value="0">Semua Jenis Transaksi</option>
                  <option value="1">Upgrade Merchant</option>
                  <option value="2">Beli Produk RK</option>
                  <option value="3">Beli Produk Merchant</option>
                  <option value="4">Tagihan Merchant</option>
                  <option value="5">Top Up Saldo</option>
                  <option value="6">Koperasi Simpan</option>
                  <option value="7">Koperasi Pinjam</option>
                  <option value="8">PPOB Tagihan</option>
                  <option value="9">Pulsa</option>
                  <option value="10">Registrasi Koperasi</option>
                  <option value="11">Bayar Pinjaman</option>
                  <option value="12">Tarik Dana</option>
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterVia" class="col-sm-4 col-form-label">Via Pembayaran</label>
              <div class="col-sm-8">
                <select id="filterVia" class="form-control" >
                  <option value="">Semua Via Bayar</option>
                  <option value="COD">COD</option>
                  <option value="ALFAMART">ALFAMART</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="filterVia" class="col-sm-4 col-form-label">Transaksi Id</label>
              <div class="col-sm-8">
                <input type="text" id="filterIdTransaksi" class="form-control" />
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filterTanggalBeli" class="col-sm-4 col-form-label">Tanggal Beli</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggalBeli" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label for="filterTanggal" class="col-sm-4 col-form-label">Tanggal Bayar</label>
              <div class="col-sm-8">
                <input type="date" id="filterTanggal" class="form-control" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnFilter"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-refund-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Refund {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="refundId" class="col-sm-4 col-form-label">Id Transaksi</label>
              <div class="col-sm-8">
                <input type="text" id="refundId" class="form-control" readonly />
              </div>
            </div>
 
            <div class="form-group row">
              <label for="refundKeterangan" class="col-sm-4 col-form-label">Keterangan</label>
              <div class="col-sm-8">
                <textarea id="refundKeterangan" rows="4" class="form-control" placeholder="wajib diisi"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnRefund"> Proses Refund</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-cek-biller">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Cek Biller {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="cekInvoiceId" class="col-sm-4 col-form-label">Invoice ID</label>
              <div class="col-sm-8">
                <input type="text" id="cekInvoiceId" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="cekProductName" class="col-sm-4 col-form-label">Product Name</label>
              <div class="col-sm-8">
                <input type="text" id="cekProductName" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="cekMessage" class="col-sm-4 col-form-label">Message</label>
              <div class="col-sm-8">
                <input type="text" id="cekMessage" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="cekDate" class="col-sm-4 col-form-label">Tanggal</label>
              <div class="col-sm-8">
                <input type="text" id="cekDate" class="form-control" readonly />
              </div>
            </div>
 
            <div class="form-group row">
              <label for="cekDetail" class="col-sm-4 col-form-label">Detail</label>
              <div class="col-sm-8">
                <textarea id="cekDetail" readonly rows="8" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-detail-transaksi">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Detail {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
  
            <div class="form-group row">
              <label for="dtlId" class="col-sm-2 col-form-label">Id Transaksi</label>
              <div class="col-sm-4">
                <input type="text" id="dtlId" class="form-control" readonly />
              </div>

              <label for="dtlProductName" class="col-sm-2 col-form-label">Pembelian</label>
              <div class="col-sm-4">
                <input type="text" id="dtlProductName" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlNominal" class="col-sm-2 col-form-label">Nominal</label>
              <div class="col-sm-4">
                <input type="text" id="dtlNominal" class="form-control" readonly />
              </div>

              <label for="dtlFeeType" class="col-sm-2 col-form-label">Fee Type</label>
              <div class="col-sm-4">
                <input type="text" id="dtlFeeType" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlFeeAdmin" class="col-sm-2 col-form-label">Fee Admin</label>
              <div class="col-sm-4">
                <input type="text" id="dtlFeeAdmin" class="form-control" readonly />
              </div>

              <label for="dtlBayarVia" class="col-sm-2 col-form-label">Bayar Via</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBayarVia" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlCreatedDate" class="col-sm-2 col-form-label">Tanggal Trx</label>
              <div class="col-sm-4">
                <input type="text" id="dtlCreatedDate" class="form-control" readonly />
              </div>

              <label for="dtlUpdatedDate" class="col-sm-2 col-form-label">Updated</label>
              <div class="col-sm-4">
                <input type="text" id="dtlUpdatedDate" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlTanggalBayar" class="col-sm-2 col-form-label">Tanggal Bayar</label>
              <div class="col-sm-4">
                <input type="text" id="dtlTanggalBayar" class="form-control" readonly />
              </div>

              <label for="dtlBayarSebelum" class="col-sm-2 col-form-label">Bayar Sebelum</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBayarSebelum" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlStatus" class="col-sm-2 col-form-label">Status</label>
              <div class="col-sm-4">
                <input type="text" id="dtlStatus" class="form-control" readonly />
              </div>

              <label for="dtlSuksesManual" class="col-sm-2 col-form-label">Sukses Manual</label>
              <div class="col-sm-4">
                <input type="text" id="dtlSuksesManual" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlUrlPanduan" class="col-sm-2 col-form-label">URL Panduan</label>
              <div class="col-sm-4">
                <input type="text" id="dtlUrlPanduan" class="form-control" readonly />
              </div>

              <label for="dtlQrImage" class="col-sm-2 col-form-label">QR Image</label>
              <div class="col-sm-4">
                <input type="text" id="dtlQrImage" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlBillInfo1" class="col-sm-2 col-form-label">Bill Info 1</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBillInfo1" class="form-control" readonly />
              </div>

              <label for="dtlBillInfo2" class="col-sm-2 col-form-label">Bill Info 2</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBillInfo2" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlBillInfo3" class="col-sm-2 col-form-label">Bill Info 3</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBillInfo3" class="form-control" readonly />
              </div>

              <label for="dtlBillInfo4" class="col-sm-2 col-form-label">Bill Info 4</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBillInfo4" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlBillInfo5" class="col-sm-2 col-form-label">Bill Info 5</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBillInfo5" class="form-control" readonly />
              </div>

              <label for="dtlBillInfo6" class="col-sm-2 col-form-label">Bill Info 6</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBillInfo6" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlBillInfo7" class="col-sm-2 col-form-label">Bill Info 7</label>
              <div class="col-sm-4">
                <input type="text" id="dtlBillInfo7" class="form-control" readonly />
              </div>

              <label for="dtlReceiptNumber" class="col-sm-2 col-form-label">Receipt Num</label>
              <div class="col-sm-4">
                <input type="text" id="dtlReceiptNumber" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlPaymentReference" class="col-sm-2 col-form-label">Payment Ref</label>
              <div class="col-sm-10">
                <input type="text" id="dtlPaymentReference" class="form-control" readonly />
              </div>
            </div>

            <div class="form-group row">
              <label for="dtlKeterangan" class="col-sm-2 col-form-label">Keterangan</label>
              <div class="col-sm-10">
                <input type="text" id="dtlKeterangan" class="form-control" readonly />
              </div>
            </div>
          </div>
        </form>

        <div class="table-responsive">
          <label>History Log Action Admin</label>
          <table id="tableLog" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


