<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h2 class="card-title">
                <select id="role-search" class="form-control" name="selectRole"></select>
              </h2>

              <button type="button" onclick="loadData()" class="btn btn-info btn-sm">
                  <i class="fa fa-search"></i>Filter 
              </button>
              <button type="button" data-toggle="modal" data-target="#modal-add-user" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Id" },
          { title: "Nama" },
          { title: "Email" },
          { title: "No Telp" },
          { title: "Alamat" },
          { title: "Role" },
          { title: "Daftar" },
          { title: "Gift" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 6, // your case first column
              "className": "text-center",
          },
          {
              "targets": [0,1,6], // your case first column
              "width" : "5%"
          }
      ],
    });

    let roleSearch = document.getElementById('role-search');
    roleSearch.length = 0;
    let dropdownRole = document.getElementById('role-dropdown');
    dropdownRole.length = 0;
    let dropdownRoleEdit = document.getElementById('role-dropdown-edit');
    dropdownRoleEdit.length = 0;
    fetch('/role/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Role';
      defaultOption.value = '';
      let defaultOptionEdit = document.createElement('option');
      defaultOptionEdit.text = 'Pilih Role';
      defaultOptionEdit.value = '';
      let defaultOptionSearch = document.createElement('option');
      defaultOptionSearch.text = 'Pilih Role';
      defaultOptionSearch.value = '';
      dropdownRole.add(defaultOption);
      dropdownRole.selectedIndex = 0;
      dropdownRoleEdit.add(defaultOptionEdit);
      dropdownRoleEdit.selectedIndex = 0;
      roleSearch.add(defaultOptionSearch);
      roleSearch.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        let optionEdit;
        let optionSearch;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].name;
            option.value = data.data[i].id;

            optionEdit = document.createElement('option');
            optionEdit.text = data.data[i].name;
            optionEdit.value = data.data[i].id;

            optionSearch = document.createElement('option');
            optionSearch.text = data.data[i].name;
            optionSearch.value = data.data[i].id;

            dropdownRole.add(option);
            roleSearch.add(optionSearch);
            dropdownRoleEdit.add(optionEdit);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Role -', err);  
    });

    $('.btnSave').on('click', function(){
        var firstName = document.getElementById("addFirstName").value;
        var lastName = document.getElementById("addLastName").value;
        var email = document.getElementById("addEmail").value;
        var noTelp = document.getElementById("addTelp").value;
        var alamat = document.getElementById("addAlamat").value;
        var gender = document.getElementById("addGender").value;
        var tanggalLahir = document.getElementById("addTanggalLahir").value;
        var tempatlahir = document.getElementById("addTempatLahir").value;
        var role = document.getElementById("role-dropdown").value;
        var kelas = document.getElementById("kelas-dropdown").value;
        
        var dtAwal = tanggalLahir.split("-");

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/user/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              firstName: firstName,
              lastName: lastName,
              noTelp: noTelp,
              alamat: alamat,
              email: email,
              gender: gender,
              tempatLahir: tempatlahir,
              tanggalLahir: dtAwal[2] + "-" + dtAwal[1] + "-" + dtAwal[0],
              role: role,
              kelas: kelas
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-user').modal('hide');
            document.getElementById("addFirstName").value = '';
            document.getElementById("addLastName").value = '';
            document.getElementById("role-dropdown").value = '';
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/user/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-user').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });


    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value;
        var firstName = document.getElementById("firstNameEdit").value;
        var lastName = document.getElementById("lastNameEdit").value;
        var email = document.getElementById("emailEdit").value;
        var noTelp = document.getElementById("noTelpEdit").value;
        var alamat = document.getElementById("alamatEdit").value;
        var gender = document.getElementById("genderEdit").value;
        var tempatlahir = document.getElementById("tempatLahirEdit").value;
        var tanggalLahir = document.getElementById("tanggalLahirEdit").value;
        var roleId = document.getElementById("role-dropdown-edit").value;
        var kelasId = document.getElementById("kelas-dropdown-edit").value;
        
        var dtAwal = tanggalLahir.split("-");

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/user/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              firstName: firstName,
              lastName: lastName,
              email: email,
              alamat: alamat,
              noTelp: noTelp,
              gender: gender,
              tempatLahir: tempatlahir,
              tanggalLahir: dtAwal[2] + "-" + dtAwal[1] + "-" + dtAwal[0],
              role: roleId,
              kelas: kelasId
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil diubah')
            $('#modal-edit-user').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editUser = function(id){
      fetch('/users/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          var tgl1;
          console.log(response.data)
          if(response.data.tanggalLahir != null){
            tgl1 = moment(response.data.tanggalLahir, "DD-MM-YYYY").format( "YYYY-MM-DD");
          }
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("firstNameEdit").value = response.data.firstName;
          document.getElementById("lastNameEdit").value = response.data.lastName;
          document.getElementById("emailEdit").value = response.data.email;
          document.getElementById("noTelpEdit").value = response.data.noTelp;
          document.getElementById("genderEdit").value = response.data.gender;
          document.getElementById("tempatLahirEdit").value = response.data.tempatLahir;
          document.getElementById("tanggalLahirEdit").value = tgl1;
          document.getElementById("alamatEdit").value = response.data.alamat;
          document.getElementById("role-dropdown-edit").value = response.data.roleId;
          
          $('#modal-edit-user').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusUser = function(id){
      $('#modal-hapus-user').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){

      var idRole = document.getElementById("role-search").value;
      $('#modal-loading').modal('show');
      dataSet = Array()
      fetch('/users/alls', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idRole
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editUser(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusUser(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';

              if(null != value.kelas){
                kelas = value.kelas.kelas.nama
              }
              
              var tmp = [no, value.id, value.name, value.email, value.noTelp, '', value.roleName, 
              value.tanggalDaftar, value.gift, btn1]
              dataSet.push(tmp)
            });
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
          $('#modal-loading').modal('hide');
        }); 
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-user">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addFirstName" placeholder="First Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="addEmail" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="addTelp" class="col-sm-3 col-form-label">No Telp</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addTelp" placeholder="No Telp">
              </div>
            </div>
            <div class="form-group row">
              <label for="addGender" class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addGender" placeholder="Gender">
              </div>
            </div>
            <div class="form-group row">
              <label for="addTempatLahir" class="col-sm-3 col-form-label">Tempat Lahir</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addTempatLahir" placeholder="Tempat Lahir">
              </div>
            </div>
            <div class="form-group row">
              <label for="tanggalLahir" class="col-sm-3 col-form-label">Tanggal Lahir</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="addTanggalLahir" placeholder="Tanggal Lahir">
              </div>
            </div>
            <div class="form-group row">
              <label for="addAlamat" class="col-sm-3 col-form-label">Alamat</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addAlamat" rows="3" placeholder="Alamat"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="role-dropdown" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select id="role-dropdown" class="form-control" name="selectRole"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" ></select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-user">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="firstNameEdit" class="col-sm-3 col-form-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="firstNameEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="lastNameEdit" class="col-sm-3 col-form-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="lastNameEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="emailEdit" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="emailEdit" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="noTelpEdit" class="col-sm-3 col-form-label">No Telp</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="noTelpEdit" placeholder="No Telp">
              </div>
            </div>
            <div class="form-group row">
              <label for="genderEdit" class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="genderEdit" placeholder="Gender">
              </div>
            </div>
            <div class="form-group row">
              <label for="tempatLahirEdit" class="col-sm-3 col-form-label">Tempat Lahir</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="tempatLahirEdit" placeholder="Tempat Lahir">
              </div>
            </div>
            <div class="form-group row">
              <label for="tanggalLahirEdit" class="col-sm-3 col-form-label">Tanggal Lahir</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="tanggalLahirEdit" placeholder="Tanggal Lahir">
              </div>
            </div>
            <div class="form-group row">
              <label for="alamatEdit" class="col-sm-3 col-form-label">Alamat</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="alamatEdit" rows="3" placeholder="Alamat"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="role-dropdown-edit" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select id="role-dropdown-edit" class="form-control" ></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown-edit" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown-edit" class="form-control" ></select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-user">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


