<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-1 ">
                  <button type="button" onclick="filterWali()" class="btnFilter btn btn-info btn-sm">
                    <i class="fa fa-search"></i> Filter 
                  </button>
                </div>  
                <div class="col-md-2">
                  <button type="button" data-toggle="modal" data-target="#modal-add-devisi" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
                
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama Wali" },
          { title: "Kelas" },
          { title: "Tahun" },
          { title: "Keterangan" },
          { title: "Create Date" },
          { title: "Update Date" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [5, 8], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 4, 8], // your case first column
              "width" : "5%"
          }
      ],
    });

    window.filterWali = function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-filter-wali').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }

    let dropdownWali = document.getElementById('wali-dropdown');
    let dropdownWaliFilter = document.getElementById('wali-dropdown-filter');
    dropdownWali.length = 0;
    dropdownWaliFilter.length = 0;
    fetch('/user/all/wali') 
    .then(  
    function(response) {  
      let defaultWali = document.createElement('option');
      let defaultWaliFilter = document.createElement('option');
      defaultWali.text = 'Pilih Wali Kelas';
      defaultWali.value = '';
      defaultWaliFilter.text = 'Semua Wali Kelas';
      defaultWaliFilter.value = '';
      dropdownWali.add(defaultWali);
      dropdownWali.selectedIndex = 0;
      dropdownWaliFilter.add(defaultWaliFilter);
      dropdownWaliFilter.selectedIndex = 0;
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].firstName + " " + data.data[i].lastName;
            option.value = data.data[i].id;
            optionFilter = document.createElement('option');
            optionFilter.text = data.data[i].firstName + " " + data.data[i].lastName;
            optionFilter.value = data.data[i].id;
            dropdownWaliFilter.add(optionFilter);
            dropdownWali.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Guru -', err);  
    });

    let dropdownTingkat = document.getElementById('kelas-dropdown');
    dropdownTingkat.length = 0;
    let dropdownTingkatFilter = document.getElementById('kelas-dropdown-filter');
    dropdownTingkatFilter.length = 0;
    fetch('/kelas/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Kelas';
      defaultOption.value = '';
      dropdownTingkat.add(defaultOption);
      dropdownTingkat.selectedIndex = 0;
      
      let defaultOptionFilter = document.createElement('option');
      defaultOptionFilter.text = 'Semua Kelas';
      defaultOptionFilter.value = '';
      dropdownTingkatFilter.add(defaultOptionFilter);
      dropdownTingkatFilter.selectedIndex = 0;
      
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;

            optionFilter = document.createElement('option');
            optionFilter.text = data.data[i].nama;
            optionFilter.value = data.data[i].id;
            dropdownTingkat.add(option);
            dropdownTingkatFilter.add(optionFilter);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Kelas -', err);  
    });

    let dropdownTahun = document.getElementById('tahun-dropdown');
    dropdownTahun.length = 0;
    let dropdownTahunFilter = document.getElementById('tahun-dropdown-filter');
    dropdownTahunFilter.length = 0;
    fetch('/tahun/all') 
    .then(  
    function(response) {  
      let defaultTahun = document.createElement('option');
      defaultTahun.text = 'Pilih Tahun Ajaran';
      defaultTahun.value = '';
      dropdownTahun.add(defaultTahun);
      dropdownTahun.selectedIndex = 0;
      
      let defaultTahunFilter = document.createElement('option');
      defaultTahunFilter.text = 'Semua Tahun Ajaran';
      defaultTahunFilter.value = '';
      dropdownTahunFilter.add(defaultTahunFilter);
      dropdownTahunFilter.selectedIndex = 0;

      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;

            optionFilter = document.createElement('option');
            optionFilter.text = data.data[i].nama;
            optionFilter.value = data.data[i].id;

            dropdownTahun.add(option);
            dropdownTahunFilter.add(optionFilter);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    //EDIT
    let dropdownWaliEdit = document.getElementById('wali-edit');
    dropdownWali.length = 0;
    fetch('/user/all/wali') 
    .then(  
    function(response) {  
      let defaultWaliEdit = document.createElement('option');
      defaultWaliEdit.text = 'Pilih Wali Kelas';
      defaultWaliEdit.value = '';
      dropdownWaliEdit.add(defaultWaliEdit);
      dropdownWaliEdit.selectedIndex = 0;
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].firstName + " " + data.data[i].lastName;
            option.value = data.data[i].id;
            dropdownWaliEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownKelasEdit = document.getElementById('kelas-edit');
    dropdownWaliEdit.length = 0;
    fetch('/kelas/all') 
    .then(  
    function(response) {  
      let defaultKelasEdit = document.createElement('option');
      defaultKelasEdit.text = 'Pilih Kelas';
      defaultKelasEdit.value = '';
      dropdownKelasEdit.add(defaultKelasEdit);
      dropdownKelasEdit.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownKelasEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownTahunEdit = document.getElementById('tahun-edit');
    dropdownTahunEdit.length = 0;
    fetch('/tahun/all') 
    .then(  
    function(response) {  
      let defaultTahunEdit = document.createElement('option');
      defaultTahunEdit.text = 'Pilih Tahun Ajaran';
      defaultTahunEdit.value = '';
      dropdownTahunEdit.add(defaultTahunEdit);
      dropdownTahunEdit.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTahunEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    $('.btnSave').on('click', function(){
        var wali = document.getElementById("wali-dropdown").value;
        var kelas = document.getElementById("kelas-dropdown").value;
        var tahun = document.getElementById("tahun-dropdown").value;
        var keterangan = document.getElementById("addKeterangan").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/waliKelas/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              wali: wali,
              kelas, kelas,
              tahun, tahun,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-devisi').modal('hide');
            document.getElementById("wali-dropdown").value = '';
            document.getElementById("kelas-dropdown").value = '';
            document.getElementById("tahun-dropdown").value = '';
            document.getElementById("addKeterangan").value = '';
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/waliKelas/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var wali = document.getElementById("wali-edit").value ;
        var kelas = document.getElementById("kelas-edit").value;
        var tahun = document.getElementById("tahun-edit").value;
        var keterangan = document.getElementById("keteranganEdit").value ;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/waliKelas/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              wali: wali,
              kelas : kelas,
              tahun : tahun,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-devisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editKelas = function(id){
      fetch('/waliKelas/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("wali-edit").value = response.data.wali.id;
          document.getElementById("kelas-edit").value = response.data.kelas.id;
          document.getElementById("tahun-edit").value = response.data.tahun.id;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      var wali = document.getElementById("wali-dropdown-filter").value;
      var kelas = document.getElementById("kelas-dropdown-filter").value;
      var tahun = document.getElementById("tahun-dropdown-filter").value;

      dataSet = Array()
      fetch('/waliKelas/all?wali='+wali+'&kelas='+kelas+'&tahun='+tahun) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editKelas(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusKelas(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var tmp = [no, value.id, value.wali.userName, value.kelas.nama, value.tahun.nama, value.keterangan, value.createDate, value.lastUpdate, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }
    
    $('.btnCari').on('click', function(){
      $('.btnCari').prop("disabled", true);
      $('.btnCari').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );

      loadData();
      $('#modal-filter-wali').modal('hide');

      $('.btnCari').prop("disabled", false);
      $('.btnCari').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter Data`
      )
    });

    loadData();

  })
</script>

{{> footer }}

<div class="modal fade" id="modal-add-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            <div class="form-group row">
              <label for="wali-dropdown" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-dropdown" class="form-control" name="selectWali"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" name="selectKelas"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tahun-dropdown" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-dropdown" class="form-control" name="selectTahun"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9" >
                <textarea class="form-control" id="addKeterangan" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-wali">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            <div class="form-group row">
              <label for="wali-dropdown-filter" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-dropdown-filter" class="form-control" name="selectWali"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown-filter" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown-filter" class="form-control" name="selectKelas"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tahun-dropdown-filter" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-dropdown-filter" class="form-control" name="selectTahun"></select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnCari"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-setting-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Setting Akses</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="settingId" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingId" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="settingNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingNama" readonly>
              </div>
            </div>
            <div class="tmpModalSetting"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditSetting">Edit Data  </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="wali-edit" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-edit" class="form-control" name="selectWali"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-edit" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-edit" class="form-control" name="selectKelas"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tahun-edit" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-edit" class="form-control" name="selectTahun"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9" >
                <textarea class="form-control" id="keteranganEdit" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


