<section class="w3l-footer-22">
      <!-- footer-22 -->
      <div class="footer-hny">
          <div class="container py-lg-5">
              <div class="text-txt row">
                  <div class="left-side col-lg-4">
                      <h3><a class="logo-footer" href="/">
                            Rumah<span class="lohny">K</span>ios</a></h3>
                      <!-- if logo is image enable this   
                                    <a class="navbar-brand" href="#index.html">
                                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                    </a> -->
                      <p>{{footAbout}}</p>
                      <p>Telp : (022) 86062862 <br> 
                      email : info@rumahkios.com</p>
                      <ul class="social-footerhny mt-lg-5 mt-4">

                          <li><a target="_blank" class="facebook" href="//{{footFb}}"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                          </li>
                          <li><a target="_blank" class="twitter" href="//{{footTwit}}"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                          </li>
                          <li><a target="_blank" class="google" href="//{{footGoogle}}"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                          </li>
                          <li><a target="_blank" class="instagram" href="//{{{footIg}}}"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                          </li>
                      </ul>
                  </div>

                  
                  <div class="right-side col-lg-4 ">
                      {{!-- <div class="sub-columns"> --}}
                          
                          <div class="sub-two-right">
                              <h6>Update Terbaru</h6>
                              
                          </div>
                      {{!-- </div> --}}
                  </div>
                  
                  <div class="right-side col-lg-4 ">
                      {{!-- <div class="sub-columns"> --}}
                          <div class="sub-one-left">
                          </div>
                          <div class="sub-two-right">
                              <h6>About US</h6>
                              <p class="mb-5">{{{footAlamat}}}</p>

                              <h6>We accept:</h6>
                              <ul>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-visa"
                                              aria-hidden="true"></span></a>
                                  </li>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-mastercard"
                                              aria-hidden="true"></span></a>
                                  </li>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-paypal"
                                              aria-hidden="true"></span></a>
                                  </li>
                                  <li><a class="pay-method" href="#"><span class="fa fa-cc-amex"
                                              aria-hidden="true"></span></a>
                                  </li>
                              </ul>
                          </div>
                      {{!-- </div> --}}
                  </div>
              </div>
              <div class="below-section row">
                  <div class="columns col-lg-6">
                      <ul class="jst-link">
                          <li><a href="#">Privacy Policy </a> </li>
                          <li><a href="#">Term of Service</a></li>
                          <li><a href="#">Customer Care</a> </li>
                      </ul>
                  </div>
                  <div class="columns col-lg-6 text-lg-right">
                      <p>© 2021 Rumahkios. All rights reserved. Design by <a href="https://rumahkios.com/" target="_blank">
                              IT Depertment</a>
                      </p>
                  </div>
                  <button onclick="topFunction()" id="movetop" title="Go to top">
                      <span class="fa fa-angle-double-up"></span>
                  </button>
              </div>
          </div>
      </div>
      <!-- //titels-5 -->
      <!-- move top -->

      <script>
          // When the user scrolls down 20px from the top of the document, show the button
          window.onscroll = function () {
              scrollFunction()
          };

          function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("movetop").style.display = "block";
              } else {
                  document.getElementById("movetop").style.display = "none";
              }
          }

          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
          }
      </script>
      <!-- /move top -->
  </section>
