<section class="w3l-banner-slider-main">
	<div class="top-header-content">
		<header class="tophny-header">
			<div class="container-fluid">
				<div class="top-right-strip row">
				</div>
			</div>
			<!--/nav-->
			<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffffff;">
				<div class="container-fluid serarc-fluid">
					<a class="navbar-brand" href="/">
						<!-- Spry<span class="lohny">S</span>tore</a> -->
					   
							<a class="navbar-brand" href="/">
								<img src="/assets/images/rumahkios_new.png" alt="Rumah Kios" title="Your logo" style="height:50px;" />
							</a>
					<!--/search-right-->
					<div class="search-right">

						<a href="#search" title="search"><span class="fa fa-search mr-2" aria-hidden="true"></span>
							<span class="search-text">Search here</span></a>
						<!-- search popup -->
						<div id="search" class="pop-overlay">
							<div class="popup">

								<form action="#" method="post" class="search-box">
									<input type="search" placeholder="Keyword" name="search" required="required"
										autofocus="">
									<button type="submit" class="btn">Search</button>
								</form>

							</div>
							<a class="close" href="#">×</a>
						</div>
						<!-- /search popup -->
					</div>
					<!--//search-right-->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon fa fa-bars"> </span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							{{#if isLogin}}
								<li class="nav-item ">
									<a class="nav-link" href="/home"><i class='fa fa-lg fa-dashboard'> My Dashboard</i> </a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="/cart"><i class='fa fa-lg fa-shopping-cart'> Cart</i> </a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" href="/logout"><i class='fa fa-lg fa-sign-out'> Logout</i> </a>
								</li>
							{{else}}
								<li class="nav-item ">
									<a class="nav-link" href="/register"><i class='fa fa-lg fa-user'> Daftar</i> </a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/login"><i class='fa fa-lg fa-lock'> Login</i> </a>
								</li>
							{{/if}}
						</ul>

					</div>
				</div>
			</nav>
			<!--//nav-->
		</header>
		<div class="">
			<!--/banner-slider-->
			<!--//banner-slider-->
			<!--//banner-slider-->
			<!-- <div class="right-banner">
				<div class="right-1">
					<h4>
						Men's
						Fashion
						<br>50% Off</h4>
				</div>
			</div> -->
		</div>
	</div>
</section>
