  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
      <img src="/assets/images/rumahkios.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/admin/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/profile?id={{user.id}}&env={{env}}" class="d-block">{{user.name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          {{# each menu.menus }}
            {{#if menus.length}}
              <li class="nav-item has-treeview">
                <a href={{path}} class="nav-link">
                  <i class="{{icon}}"></i>
                  <p>
                    {{nama}}
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                    <ul class="nav nav-treeview"> 
                      {{#each menus}}

                        {{#if menus.length}}
                          <li class="nav-item has-treeview">
                            <a href={{path}} class="nav-link">
                              <i class="{{icon}}"></i>
                              <p>
                                {{nama}}
                                <i class="right fas fa-angle-left"></i>
                              </p>
                            </a>    
                            <ul class="nav nav-treeview">
                              {{#each menus}}
                                <li class="nav-item">
                                  <a href={{path}} class="nav-link">
                                    <i class="{{icon}}"></i>
                                    <p>
                                      {{nama}}
                                    </p>
                                  </a>
                                </li>
                              {{/each}}
                            </ul>
                          </li>
                        {{else}}
                          <li class="nav-item">
                            <a href={{path}} class="nav-link">
                              <i class="{{icon}}"></i>
                                  <p>
                                    {{nama}}
                                  </p>
                            </a>    
                            {{#each menus}}
                              <li class="nav-item">
                                <a href={{path}} class="nav-link">
                                  <i class="{{icon}}"></i>
                                  <p>
                                    {{nama}}
                                    <i class="right fas fa-angle-left"></i>
                                  </p>
                                </a>
                              </li>
                            {{/each}}
                          </li>
                        {{/if}}

                      {{/each}}
                    </ul>
              </li>
            {{else}}
              <li class="nav-item">
                <a href={{path}} class="nav-link">
                  <i class="{{icon}}"></i>
                    <p>
                      {{nama}}
                    </p>
                </a> 
              </li>
            {{/if}}
             
          {{/each}}


          {{!-- <li class="nav-item">
            <a href="/tahun" class="nav-link">
              <i class="nav-icon fa fa-id-card"></i>
              <p>
                Tahun Ajaran
              </p>
            </a>
          </li> --}}

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content </p>
    </div>
  </aside>
  <!-- /.control-sidebar -->