<style>
	@media (min-width: 600px){
		.miniCar{
			padding-top: 74px;
			padding-left: 0px !important;
		}
		.hny-title{
			padding-top: 30px; 
			padding-left: 30px;
		}
		.pdk-slider{
			padding-left: 40px;
			padding-right: 30px;
		}
		.carMain{
			padding-top: 33px;
		}
	}
	@media (max-width: 400px){
		.carMain{
			margin-top: 81px;
			height: 163px !important;
		}
		.sejagadRaya{
			margin-bottom: 3rem !important;
		}
		.pdk-slider{
			padding-left: 40px;
			padding-right: 60px;
		}
	}
</style>
<section class="w3l-ecommerce-main">
	<div class="w3l-banner-slider-main" >
		<div class="container-fluid" style="background: #f4f4f4;" >
			<div class="row">
				<div class="col-sm-3">
					<h3 class="hny-title text-left">FLASH<span> SALE</span></h3>
					<h4 class="hny-title text-left">Diskon Setiap hari sampai 80%</h4>
				</div>
				<div class="col-sm-8 fSale">
					<div class="container pdk-slider ">
						<div class="ecom-products-grids row mt-lg-5 mt-3 slickFlash">
							{{#each flashSale}}
								<div class="col-lg-2 col-3 product-incfhny mt-4">
									<div class="product-grid2">
										<div class="product-image2">
											<a href="produkDetail?id={{id}}&env={{../env}}&idDevel={{../idDevel}}">
												<img class="pic-1 img-fluid" src="{{image}}">
												<img class="pic-2 img-fluid" src="{{image}}">
											</a>
											<div class="transmitv single-item">
													<form action="#" method="post">
															<input type="hidden" name="cmd" value="_cart">
															<input type="hidden" name="add" value="1">
															<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
															<input type="hidden" name="amount" value="599.99">
															<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
																Add to Cart
															</button>
														</form>
													</div>
										</div>
										<div class="product-content">
											<h3 class="title"><a href="produkDetail?id={{id}}&env={{../env}}&idDevel={{../idDevel}}">{{nama}} </a></h3>
											<span class="price">
												<del>Rp.{{hargaCoret}}</del>
												Rp.{{hargaHidden}}
											</span>
											<br>
											<span class="dilihat">
												<i class="fa fa-eye"></i> {{view}} Dilihat
											</span>
										</div>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- /products-->
	<div class="ecom-contenthny">
		<h3 class="hny-title text-center my-3 ">Produk <span>Termurah</span></h3>
				<p class="mb-5 text-center sejagadRaya">Sejagad Raya</p>
		<div class="container " style="margin-top: -50px !important;">
			<!-- /row-->
			<div class="ecom-products-grids row mt-lg-5 mt-3 slickProduk">	
				{{#each product}}
					<div class="col-lg-2 col-3 product-incfhny mt-4 ">
						<div class="product-grid2">
							<div class="product-image2">
								<a href="produkDetail?id={{id}}&env={{../env}}&idDevel={{../idDevel}}">
									<img class="pic-1 img-fluid" src="{{image}}">
									<img class="pic-2 img-fluid" src="{{image}}">
								</a>
								<div class="transmitv single-item">
										<form action="produkDetail?id={{id}}" method="post">
												<input type="hidden" name="cmd" value="_cart">
												<input type="hidden" name="add" value="1">
												<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
												<input type="hidden" name="amount" value="599.99">
												<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
													Add to Cart
												</button>
											</form>
										</div>
							</div>
							<div class="product-content">
								<h3 class="title"><a href="produkDetail?id={{id}}&env={{../env}}&idDevel={{../idDevel}}">{{nama}} </a></h3>
								<span class="price">
									<del>Rp.{{hargaCoret}}</del>
									Rp.{{hargaHidden}}
								</span>
								<br>
								<span class="dilihat">
									<i class="fa fa-eye"></i> {{view}} Dilihat
								</span>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
			<!-- //row-->
		</div>
	</div>
</section>

<script>
	$(document).ready(function(){
		$('.slickProduk').slick({
			dots: true,
			infinite: false,
			speed: 300,
			slidesToShow: 5,
			slidesToScroll: 5,
			settings: "unslick",
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 5,
						slidesToScroll: 5,
						infinite: true,
						dots: true
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3,
					}
					},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2,
					}
				}
			]
		});

		$('.slickFlash').slick({
			dots: true,
			infinite: false,
			speed: 300,
			slidesToShow: 5,
			slidesToScroll: 5,

			responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 5,
						slidesToScroll: 5,
						infinite: true,
						dots: true
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3,
					}
					},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2,
					}
				}
			]
		});
	});
</script>
