<section class="w3l-wecome-content-6">
  <!-- /content-6-section -->
	  <div class="ab-content-6-mian py-5">
      <div class="container-fluid">
        <img src="assets/images/ban2.jpg" style="width:100%;" alt="Los Angeles">
      </div>

			 <div class="container py-lg-5">
					<div class="welcome-grids row">
							<div class="col-lg-6 mb-lg-0 mb-5">
									<h3 class="hny-title">
											Kenapa harus memilih member<span>Premium ?</span></h3>
								<p class="my-4">Karena dengan premium berarti anda menyumbangkan sekian % ke Nurul Hayat</p>
								<p class="mb-4">Bla bla bla bla bla bla</p>
								<div class="read">
									<!-- <a href="#" class="read-more btn">Shop Now</a> -->
								</div>	
							</div>
							<div class="col-lg-6 welcome-image">
								<img src="assets/images/2.jpg" class="img-fluid" alt="" />
							</div>	
							
						</div>	
				 
				 </div>
			 </div>
</section>
   <!-- //content-6-section -->

  
<section class="w3l-specification-6">
	<!-- /specification-6-->
	  <div class="specification-6-mian py-5">
			 <div class="container py-lg-5">
					<div class="row story-6-grids text-left">
							<div class="col-lg-5 story-gd">
									<img src="assets/images/left2.jpg" class="img-fluid" alt="/">
								</div>
							<div class="col-lg-7 story-gd pl-lg-4">
								<h3 class="hny-title">Apa yang anda dapatkan dari member <span>Premium</span></h3>
								<p>Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit totam animi
									consequatur saepe blanditiis.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam
									sequi optio consectetur adipisicing elit. Fuga, suscipit totam animi consequatur saepe
									blanditiis.</p>
			
								<div class="row story-info-content mt-md-5 mt-4">

									<div class="col-md-6 story-info">
										<h5> <a href="#">01. Manfaat 1</a></h5>	
									<p>Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit totam animi
														consequatur.</p>
												
										
									</div>
									<div class="col-md-6 story-info">
											<h5> <a href="#">02. Manfaat 2</a></h5>	
											<p>Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit totam animi
													consequatur.</p>
									</div>
									<div class="col-md-6 story-info">
											<h5> <a href="#">03. manfaat 3</a></h5>	
											<p>Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit totam animi
													consequatur.</p>
									</div>
									<div class="col-md-6 story-info">
											<h5> <a href="#">04. Manfaat 4</a></h5>	
											<p>Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit totam animi
													consequatur.</p>
									</div>
								</div>
							
							</div>
						
			
			
						</div>
				 </div>
	  </div>
</section>
   <!-- //specification-6-->
  
<section class="w3l-services-6">
	<!-- /content-6-section -->
	<div class="services-grids-6 py-5">
		<div class="container py-lg-5">
				<div class="row w3-icon-grid-gap1">
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-codepen" aria-hidden="true"></span>
							<h3>Label 1</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-mobile" aria-hidden="true"></span>
							<h3>Label 2</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-hourglass" aria-hidden="true"></span>
							<h3>Label 3</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-modx" aria-hidden="true"></span>
							<h3>Label 4</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-bar-chart" aria-hidden="true"></span>
							<h3>Label 5</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<a href="#link">
							<span class="fa fa-shopping-bag" aria-hidden="true"></span>
							<h3>
                Label 6</h3>
							<div class="clearfix"></div>
						</a>
						<p>Lorem sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia.</p>
					</div>
					
					
				</div>
		</div>
	</div>
</section>
<!-- //content-6-section -->
<section class="features-4">
	<div class="features4-block py-5">
		<div class="container py-lg-5">
			<h6>Preimum is the best</h6>
			<h3 class="hny-title text-center">What We <span>Offering</span></h3>
			
			<div class="features4-grids text-center row mt-5">
				<div class="col-lg-3 col-md-6 features4-grid">
					<div class="features4-grid-inn">
						<span class="fa fa-bullhorn icon-fea4" aria-hidden="true"></span>
						<h5><a href="#URL">Call Us Anytime</a></h5>
						<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 features4-grid sec-features4-grid">
						<div class="features4-grid-inn">
							<span class="fa fa-truck icon-fea4" aria-hidden="true"></span>
							<h5><a href="#URL">Free Shipping</a></h5>
							<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
	
						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid">
							<div class="features4-grid-inn">
								<span class="fa fa-recycle icon-fea4" aria-hidden="true"></span>
								<h5><a href="#URL">Free Returns</a></h5>
								<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
		
							</div>
						</div>
						<div class="col-lg-3 col-md-6 features4-grid">
								<div class="features4-grid-inn">
									<span class="fa fa-money icon-fea4" aria-hidden="true"></span>
									<h5><a href="#URL">Secured Payments</a></h5>
									<p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
			
								</div>
							</div>
			</div>
		</div>
	</div>
</section>
<!-- features-4 -->