<link rel="stylesheet" href="assets/css/style-liberty.css">
<link rel="stylesheet" href="/assets/css/style-starter.css">
<section class="w3l-ecommerce-main-inn">
	<!--/ecommerce-single-->
	<div class="ecomrhny-content-inf py-5">
		<div class="container-fluid py-lg-5">
        <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

            <!---728x90--->
          </div>
            
      <!--/row1-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-10">
            <div class="sp-store-single-page row" style="padding-left: 30px;">
              <div class="col-lg-4 single-right-left">
                {{!-- <div class="flexslider1">
      
                  <ul class="slides">
                    <li data-thumb="/assets/images/cart1.jpg">
                      <div class="thumb-image"> <img src="/assets/images/cart1.jpg" data-imagezoom="true"
                          class="img-fluid" alt=" "> </div>
                    </li>
                    <li data-thumb="/assets/images/cart2.jpg">
                      <div class="thumb-image"> <img src="/assets/images/cart2.jpg" data-imagezoom="true"
                          class="img-fluid" alt=" "> </div>
                    </li>
                    <li data-thumb="/assets/images/cart3.jpg">
                      <div class="thumb-image"> <img src="/assets/images/cart3.jpg" data-imagezoom="true"
                          class="img-fluid" alt=" "> </div>
                    </li>
                    <li data-thumb="/assets/images/cart4.jpg">
                      <div class="thumb-image"> <img src="/assets/images/cart4.jpg" data-imagezoom="true"
                          class="img-fluid" alt=" "> </div>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div> --}}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
		 <img class="d-block w-65" src="{{product.image}}" alt="{{product.image}}">
                  <!--<div class="carousel-inner">
                      <div class="carousel-item active">
                          <img class="d-block w-50" src="{{product.image}}" alt="{{product.image}}">
                          <div class="carousel-caption d-none d-md-block">
                              <h5>My Caption Title (1st Image)</h5>
                              <p>The whole caption will only show up if the screen is at least medium size.</p>
                          </div>
                      </div>
                  </div>-->
              </div>

                <div class="eco-buttons mt-5">
      
                  <div class="transmitv single-item">
                    <form action="#" method="post">
                      <input type="hidden" name="cmd" value="_cart">
                      <input type="hidden" name="add" value="1">
                      <input type="hidden" name="transmitv_item" value="Yellow T-Shirt">
                      <input type="hidden" name="amount" value="599.99">
                      <!-- <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart read-2">
                        Add to Cart
                      </button> -->
                    </form>
                  </div>
      
                </div>
              </div>
              <div class="col-lg-7 single-right-left pl-lg-4">
                <p id="demo"></p>
                <h3>{{product.nama}}</h3>
                <div class="caption">
                  <ul class="rating-single">
                    <li>
                      <a href="#">
                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-star-half-o yellow-star" aria-hidden="true"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-star-half yellow-star" aria-hidden="true"></span>
                      </a>
                    </li>
                  </ul>
      
                  <h6>
                    <span class="item_price">Rp. {{harga}}</span>
                    <del>Rp. {{product.hargaCoret}}</del> BEST PRODUCT
                  </h6>
                </div>
		<br><br>
                <!--<div class="desc_single my-4">
                  <ul class="emi-views">
                    <li><span>Special Price</span> Get extra 5% off (price inclusive of discount)</li>
                    <li><span>Bank Offer</span> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card</li>
                    <li><span>Bank Offer</span> 5% Cashback* on HDFC Bank Debit Cards</li>
                    <li><span>Bank Offer</span> Extra 5% off* with Axis Bank Buzz Credit Card</li>
                  </ul>
                </div>-->
                <div class="desc_single mb-4">
                  <h5>Description:</h5>
                  <div style="white-space: pre-wrap;" class="desc_single my-4">{{product.keterangan}}</div>
                </div>
                <!--<div class="description-apt d-grid mb-4">
                  <div class="occasional">
                    <h5 class="sp_title mb-3">Highlights:</h5>
                    <ul class="single_specific">
                      <li>
                        Neck : Round Neck</li>
                      <li>
                        Fit : Regular</li>
      
                      <li> Sleeve : Half Sleeve
                      </li>
                      <li> Material : Pure Cutton</li>
      
                    </ul>
      
                  </div>
      
                  <div class="color-quality">
                    <h5 class="sp_title">Services:</h5>
                    <ul class="single_serv">
                      <li>
                        <a href="#">30 Day Return Policy</a>
                      </li>
                      <li class="gap">
                        <a href="#">Cash on Delivery available</a>
                      </li>
                    </ul>
                  </div>
                </div>-->
		<br>
                {{!-- <div class="buyhny-now"> <a href="/cart?id=7" class="action btn">Buy Now </a></div> --}}
                <div class="buyhny-now"> <a onclick="checkout({{product.id}}, '{{env}}', {{idDevel}})" class="action btn">Beli Sekarang Juga </a></div>
              </div>
            </div>
          </div>
          <div class="col-sm-2" style="padding-left: 10px;">
            {{#each iklan}}
              <a target="_blank" href="//{{link}}"><img src="/assets/images/{{image}}" style="vertical-align: unset !important" height="310px" width="100%" alt="{{nama}}"></a>
            {{/each}}
          </div>
          </div>
        </div>
      </div>
		</div>
    <!--//row1-->
    <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

        <!---728x90--->
        
        </div>
        
	</div>
	<!--//ecommerce-single-->
</section>
<section class="w3l-ecommerce-main w3l-ecommerce-main-inn">
	<!-- /content-6-section -->
	<div class="content-singlev-ecomm py-5">
		<div class="container py-lg-5">
			<div class="two-products-single row">
				<div class="col-md-6 pro-grid-left">
					<div class="pro-grid-one">
						<div class="product-des-hny">
							<h4 class="text-wthree">WOMEN'S FASHION
								<br>50% OFF </h4>
								<a href="#" class="read-more-btn2 btn">
									Shop Now
								</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 pro-grid-right">
					<div class="pro-grid-one pro-grid-two">
						<div class="product-des-hny">
							<h4 class="text-wthree">MEN'S FASHION
								<br>60% OFF </h4>
							<a href="#" class="read-more-btn2 btn">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //content-6-section -->
<section class="w3l-ecommerce-main">
	<!-- /products-->
	<div class="ecom-contenthny py-5">
		<div class="container-fluid py-lg-5">
        <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

            <!---728x90--->
            
        </div>
            
			<h3 class="hny-title mb-0 text-center">Rekomendasi <span>Buat Kamu</span></h3>
			<p class="text-center">Koleksi Produk termu rah dari kami</p>
	
      <div class=" slickProduk">
        {{#each listProduct}}
          <div class="col-lg-2 col-3 product-incfhny mt-4">
            <div class="product-grid2">
              <div class="product-image2">
                <a href="produkDetail?id={{id}}&idDevel={{../idDevel}}&env={{../env}}">
                  <img class="pic-1 img-fluid" src="{{image}}">
                  <img class="pic-2 img-fluid" src="{{image}}">
                </a>
                <div class="transmitv single-item">
                    <form action="#" method="post">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
                        <input type="hidden" name="amount" value="599.99">
                        <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
                          Add to Cart
                        </button>
                      </form>
                    </div>
              </div>
              <div class="product-content">
                <h3 class="title"><a href="#">{{nama}}</a></h3>
                <span class="price">
                  <del>Rp.{{hargaCoret}}</del>
                  Rp.{{hargaHidden}}
                </span>
                <br>
                <span class="dilihat">
                  <i class="fa fa-eye"></i> {{view}} Dilihat
                </span>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

	</div>
</section>
<!-- //products-->
<script src="assets/js/jquery.flexslider.js"></script>
 <!-- single -->
<script src="assets/js/imagezoom.js"></script>
<script>
  $(document).ready(function(){
    $('.btnBeli').on('click', function(){
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      let id = document.getElementById("produkId").value ;
      let env = urlParams.get('env');
      let idDevel = urlParams.get('idDevel')

      if(undefined == idDevel){
        idDevel = 0;
      }

      $(this).prop("disabled", true);
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );

      fetch('/cart/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              env: env,
              idDevel: idDevel
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            $('#modal-checkout').modal('hide');
            if('devel' == env){
              window.open("/cart/myCart?env=devel&idDevel=3", "_self");
            }else{
              window.open("/cart/myCart", "_self");
            }
          }else{
            alert(response.message)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });

    });
  });

  window.checkout = function(id, env, idDevel){
    if(undefined == idDevel){
      idDevel = 0;
    }

    fetch('/produkDetail/product?id=' + id + '&idDevel=' + idDevel + '&env=' + env, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("produkId").value = response.data.id;
          document.getElementById("hargaNormal").value = response.data.hargaCoret;
          document.getElementById("hargaSekarang").value = response.data.hargaFinal;

          checkoutTimer('10');
          $('#modal-checkout').modal('show');
        }else{
          //toastr.error(response.errors) 
          alert(response.errors)
          //window.open("/login", "_self");
        }
      });
  }
   // Can also be used with $(document).ready()
   $(window).load(function () {
     $('.flexslider1').flexslider({
       animation: "slide",
       controlNav: "thumbnails"
     });
   });
 </script>
  <script src="assets/js/minicart.js"></script>
  <script>
    
    // Set the date we're counting down to
    var countDownDate = new Date("{{tanggal}} {{time}}").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);

    window.checkoutTimer = function(timeleft){
      //var timeleft = 10;
      var downloadTimer = setInterval(function(){
        if(timeleft <= 0){
          clearInterval(downloadTimer);
          document.getElementById("countdown").innerHTML = "EXPIRED";
          $('#modal-checkout').modal('hide');
        } else {
          document.getElementById("countdown").innerHTML = timeleft;
        }
        timeleft -= 1;
      }, 1000);
    }

    $('.slickProduk').slick({
			dots: true,
			infinite: false,
			speed: 300,
			slidesToShow: 5,
			slidesToScroll: 5,
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 5,
						slidesToScroll: 5,
						infinite: true,
						dots: true
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3,
					}
					},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2,
					}
				}
			]
		});
</script>

<div class="modal fade" id="modal-checkout">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Buruan Beli </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="hargaNormal" class="col-sm-4 col-form-label">Harga Normal</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" style="display: none;" id="produkId" placeholder="Id" readonly>
                <input type="text" class="form-control" id="hargaNormal" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="hargaSekarang" class="col-sm-4 col-form-label">Harga Sekarang</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="hargaSekarang" placeholder="Path" readonly>
              </div>
            </div>
          </div>
        </div>
        <p id="countdown" style="font-size: 120px; text-align: center;">-</p>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Gak Jadi Beli</button>
          <button type="button" class="btn btn-outline-dark btnBeli">BELI Sekarang</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
