<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <!-- Template CSS -->
  {{!-- <link rel="stylesheet" href="assets/css/style-liberty.css"> --}}
  <link rel="stylesheet" href="/assets/css/style-starter.css">
  {{!-- <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css"> --}}

  <!-- Template CSS -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->
    <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
  <!-- Toastr -->
  <script src="/admin/plugins/toastr/toastr.min.js"></script>
  <!-- Toastr -->
  <link rel="stylesheet" href="/admin/plugins/toastr/toastr.min.css">
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<style>
  @media screen and (max-width: 667px) {
		body {
			overflow-x: hidden !important;
		}
		.container {
			max-width: 100% !important;
			overflow-x: hidden !important;
		}
	}
</style>
</head>
<body>
  {{> header }}
  {{{ body }}}
  {{> footer }}
  {{!-- {{{ body }}} --}}
</body>
</html>


